<div class="dialog-container" md-dialog-content>
  <div *ngIf="data==='delete'">
    <div>
      <h3>Are you sure you want to delete the workshop?</h3>
    </div>
    <div>
      <button md-button md-dialog-close="delete">Delete</button>
      <button md-button md-dialog-close>Cancel</button>
    </div>
  </div>
  <div *ngIf="data==='cancel'">
    <div>
      <h3> Are you sure you want to cancel the workshop?</h3>
    </div>
    <div>
      <button md-button md-dialog-close="cancel">Cancel Workshop</button>
      <button md-button md-dialog-close>Cancel</button>
    </div>
  </div>
</div>