<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form [formGroup]="myForm" novalidate>

                <!--itenary-->
                <div formArrayName="itenary">
                    <div *ngFor="let Itenary of myForm.controls.itenary.controls; let i=index" class="panel panel-default">
                        <div class="panel-heading">
                            <span>Itenary {{i + 1}}</span>
                            <span class="glyphicon glyphicon-remove pull-right" (click)="removeItenary(i)"></span>
                        </div>
                        <div class="panel-body" [formGroupName]="i">
                            <experience-view [group]="myForm.controls.itenary.controls[i]" [itenaryId]="i" (triggerSave)="saveTriggered($event,i)"></experience-view>
                        </div>
                    </div>
                </div>

                <div class="margin-20">
                    <a (click)="addItenary()" style="cursor: default">
                        Add another Itenary +
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
