<h3 md-dialog-title>{{getAddOrEditText()}} video activity for {{itenaryForm.value.date | date: 'MMM dd, y'}}</h3>
<button md-button class="pull-right" style="cursor: pointer; position: relative; top: -50px; right: -20px;" [md-dialog-close]="getCloseDialogData()" *ngIf="isEdit">
    <md-icon style="color: #777777; font-size: 20px;">close</md-icon>
</button>
<div *ngIf="lastIndex>-1">
    <form [formGroup]="itenaryForm.controls.contents.controls[lastIndex]">
        <md-dialog-content>
            <div class="row">
                <div class="col-sm-12 margin-bottom-30">
                    <md-input-container class="pb-block margin-top-20 margin-bot-20">
                        <input mdInput #title formControlName="title" placeholder="Video Title">
                    </md-input-container>

                    <md-input-container class="pb-block margin-top-20 margin-bot-20">
                        <textarea mdInput #description maxlength="500" rows="5" formControlName="description" placeholder="What will we do?" [required]="true"></textarea>
                        <md-hint align="end">{{description.value.length}} / 500</md-hint>
                    </md-input-container>

                    <div class="form-group">
                        <label>Upload Video:</label>
                        <div class="upload-image-section imageHolder">
                            <div class="loading-container" [hidden]="!uploadingVideo">
                                <ngx-loading [show]="true"></ngx-loading>
                            </div>
                            <p-fileUpload *ngIf="!uploadingVideo" #fubauto accept="video/*" name="video" customUpload="true" (uploadHandler)="imageUploadNew($event)" maxFileSize="10000000" chooseLabel="Browse">
                                <ng-template pTemplate="toolbar">
                                    <div style="font-size: 80%; margin-top: 5px;">You can upload a maximum of 1 video</div>
                                </ng-template>
                            </p-fileUpload>
                            <!-- <ng-template pTemplate="content"> -->
                            <md-grid-list cols="2" rowHeight="100px" gutterSize="10px" *ngIf="urlForVideo">
                                <md-grid-tile>
                                <!-- <div style="position: absolute; cursor: pointer;">
                                    <md-icon (click)="deleteFromContainer(urlForVideo, 'video')" style="color: black;">close</md-icon>
                                </div> -->
                                <video controls width="150" style="border: 0.5px solid #ccc" preload="metadata">
                                    <source src="{{config.apiUrl + urlForVideo}}"> Your browser does not support the video tag.
                                </video>
                                <md-icon (click)="deleteFromContainer(urlForVideo, 'video')" class="delete-button">close</md-icon>
                                </md-grid-tile>
                            </md-grid-list>
                            <!-- </ng-template> -->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="display-block">Add supporting material</label>
                        <!-- <div *ngIf="filesToUpload">
                            <progressbar [max]="filesToUpload" [value]="filesUploaded">
                                <span style="color:#337ab7; white-space:nowrap;"> Uploading... <span style="color:white; white-space:nowrap;">{{filesUploaded}} / {{filesToUpload}}</span>                            
                                </span>
                            </progressbar>
                        </div> -->
                        <div class="loading-container" [hidden]="!uploadingAttachments">
                            <ngx-loading [show]="true"></ngx-loading>
                        </div>
                        <p-fileUpload *ngIf="!uploadingAttachments" name="attachments" customUpload="true" accept="application/pdf,application/msword,
                        application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/*,video/*" (uploadHandler)="uploadNew($event)" multiple="multiple" maxFileSize="10000000" (onClear)="resetNewUrls($event)" (onRemove)="itemEditRemoved($event)">
                            <ng-template pTemplate="toolbar">
                                <div style="font-size: 80%; margin-top: 5px;">You can upload a maximum of 2 attachments</div>
                            </ng-template>
                        </p-fileUpload>
                        <!-- <ng-template pTemplate="content">  -->
                        <md-grid-list cols="1" gutterSize="10px" rowHeight="50px" *ngIf="attachmentUrls.length">
                            <md-grid-tile *ngFor="let file of attachmentUrls">
                                <div style="float: left; margin-right: 15px; cursor: pointer;">
                                    <md-icon (click)="deleteFromContainer(file, 'file')" class="">close</md-icon>
                                </div>
                                <a href="{{config.apiUrl + file}}">{{file}}</a>
                            </md-grid-tile>
                        </md-grid-list>
                        <!-- </ng-template> -->
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <button md-raised-button [md-dialog-close]="getSaveDialogData()" color="accent" *ngIf="!isEdit">Save</button> &emsp;
            <button md-raised-button [md-dialog-close]="getEditDialogData()" color="accent" *ngIf="isEdit">Update</button> &emsp;
            <button md-button [md-dialog-close]="getDiscardDialogData()" *ngIf="!isEdit">Discard</button>
            <button md-button [md-dialog-close]="getDeleteDialogData()" *ngIf="isEdit">Delete</button>
        </md-dialog-actions>
    </form>
</div>