<div class="row">
    <div class="col-md-12 collectionContent">
        <button disableRipple md-button [md-dialog-close]="getDiscardDialogData()" *ngIf="!isEdit" style="min-width: 20px;padding: 0px 10px 0px 0px;vertical-align: middle;">
            <md-icon class="mat-icon material-icons mat-icon-small">close</md-icon>
        </button>
        <button disableRipple md-button *ngIf="isEdit" style="min-width: 20px;padding: 0px 10px 0px 0px;vertical-align: middle;" (click)="dialogRef.close()">
            <md-icon class="mat-icon material-icons mat-icon-small">close</md-icon>
        </button>
        <div style="display: inline-block">
            <h3 md-dialog-title>{{getAddOrEditText()}} video activity for {{itenaryForm.value.date | date: 'MMM dd, y'}}</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    </div>
</div>
<div *ngIf="lastIndex>-1">
    <form [formGroup]="itenaryForm.controls.contents.controls[lastIndex]">
        <md-dialog-content>
            <div class="row">
                <div class="col-sm-12 margin-bottom-30">
                    <md-input-container class="pb-block margin-top-20 margin-bot-20">
                        <input mdInput #title formControlName="title" placeholder="Video Title">
                    </md-input-container>

                    <md-input-container class="pb-block margin-top-20 margin-bot-20">
                        <textarea mdInput #description maxlength="500" rows="5" formControlName="description" placeholder="What will we do?" [required]="true"></textarea>
                        <md-hint align="end">{{description.value.length}} / 500</md-hint>
                    </md-input-container>

                    <div class="form-group">
                        <label>Upload Video:</label>
                        <div class="upload-image-section imageHolder">
                            <div class="loading-container" [hidden]="!uploadingVideo">
                                <ngx-loading [show]="true"></ngx-loading>
                            </div>
                            <p-fileUpload *ngIf="!uploadingVideo" #fubauto accept="video/*" name="video" customUpload="true" (uploadHandler)="imageUploadNew($event)" maxFileSize="10000000" chooseLabel="Browse">
                                <ng-template pTemplate="toolbar">
                                    <div style="font-size: 80%; margin-top: 5px;">You can upload a maximum of 1 video</div>
                                </ng-template>
                            </p-fileUpload>
                            <!-- <ng-template pTemplate="content"> -->
                            <!-- <md-grid-list cols="2" rowHeight="100px" gutterSize="10px" *ngIf="urlForVideo">
                                <md-grid-tile>
                                <video controls width="150" style="border: 0.5px solid #ccc" preload="metadata">
                                    <source src="{{config.apiUrl + urlForVideo}}"> Your browser does not support the video tag.
                                </video>
                                <md-icon (click)="deleteFromContainer(urlForVideo, 'video')" class="delete-button">close</md-icon>
                                </md-grid-tile>
                            </md-grid-list> -->
                            <div *ngIf="urlForVideo" class="col-md-4 padding-left-0 pic delete imageContainer">
                                <video controls width="150" style="border: 0.5px solid #ccc" preload="metadata">
                                    <source src="{{config.apiUrl + urlForVideo}}"> Your browser does not support the video tag.
                                </video>
                                <md-icon (click)="deleteFromContainer(urlForVideo, 'video')" class="delete-button">close</md-icon>
                            </div>
                            <!-- </ng-template> -->
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="display-block">Add supporting material</label>
                        <!-- <div *ngIf="filesToUpload">
                            <progressbar [max]="filesToUpload" [value]="filesUploaded">
                                <span style="color:#337ab7; white-space:nowrap;"> Uploading... <span style="color:white; white-space:nowrap;">{{filesUploaded}} / {{filesToUpload}}</span>                            
                                </span>
                            </progressbar>
                        </div> -->
                        <div class="loading-container" [hidden]="!uploadingAttachments">
                            <ngx-loading [show]="true"></ngx-loading>
                        </div>
                        <p-fileUpload *ngIf="!uploadingAttachments" name="attachments" customUpload="true" accept="application/pdf,application/msword,
                        application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/*,video/*" (uploadHandler)="uploadNew($event)" multiple="multiple" maxFileSize="10000000" (onClear)="resetNewUrls($event)" (onRemove)="itemEditRemoved($event)">
                            <ng-template pTemplate="toolbar">
                                <div style="font-size: 80%; margin-top: 5px;">You can upload a maximum of 2 attachments</div>
                            </ng-template>
                        </p-fileUpload>
                        <!-- <ng-template pTemplate="content">  -->
                        <!-- <md-grid-list cols="1" gutterSize="10px" rowHeight="50px" *ngIf="attachmentUrls.length">
                            <md-grid-tile *ngFor="let file of attachmentUrls">
                                <div style="float: left; margin-right: 15px; cursor: pointer;">
                                    <md-icon (click)="deleteFromContainer(file, 'file')" class="">close</md-icon>
                                </div>
                                <a href="{{config.apiUrl + file}}">{{file}}</a>
                            </md-grid-tile>
                        </md-grid-list> -->
                        <div *ngIf="attachmentUrls.length" class="pic delete">
                            <div *ngFor="let file of attachmentUrls" class="col-md-6 padding-left-0 imageContainer">
                                <img *ngIf="file.type.includes('image')" src="{{config.apiUrl + file.url}}" width="150" style="border: 0.5px solid #ccc">
                                <md-icon *ngIf="file.type.includes('image')" (click)="deleteFromContainer(file.url, 'file')" class="delete-image">close</md-icon>
                                <div *ngIf="file.type.includes('application')" class="uploaded_file"><a href="{{config.apiUrl + file.url}}" target="_blank">{{file.originalFilename}}</a></div>
                                <md-icon *ngIf="file.type.includes('application')" (click)="deleteFromContainer(file.url, 'file')" class="delete-file">close</md-icon>
                                <video *ngIf="file.type.includes('video')" controls width="150" style="border: 0.5px solid #ccc" preload="metadata">
                                    <source src="{{config.apiUrl + file.url}}">
                                </video>
                                <md-icon *ngIf="file.type.includes('video')" (click)="deleteFromContainer(file.url, '')" class="delete-button">close</md-icon>
                            </div>
                        </div>
                        <!-- </ng-template> -->
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <button md-raised-button [md-dialog-close]="getSaveDialogData()" color="accent" *ngIf="!isEdit">Save</button> &emsp;
            <button md-raised-button [md-dialog-close]="getEditDialogData()" color="accent" *ngIf="isEdit">Update</button> &emsp;
            <button md-button [md-dialog-close]="getDiscardDialogData()" *ngIf="!isEdit">Discard</button>
            <button md-button [md-dialog-close]="getDeleteDialogData()" *ngIf="isEdit">Delete</button>
        </md-dialog-actions>
    </form>
</div>