 <div class="mat-dialog-focus-trap"></div>
  <form [formGroup]="resetpwdForm" class="form-horizontal"> 
    <div>
     <md-input-container class="pb-block">
      <input mdInput #password placeholder="Password" formControlName="password" type="text">
     </md-input-container>
    </div>
    <div>
     <button md-raised-button class="passwordbtn btn-width-large vertical-bottom" type="submit" (click)="resetpwd()" [disabled]="password.value.length == 0"><span class="txtcolor">Reset password</span></button><br><br>          
    </div>
  </form>
