<section id="content" class="maincontent">
	 <div class="resetcontent">
    <form [formGroup]="resetpwdForm" class="form-horizontal">  
    <div class="flex-body">
        <div class="margin-bottom-20">
            <md-input-container class="pb-block">
                <input mdInput placeholder="Password" formControlName="password" type="password">
            </md-input-container>
        </div>
        <div class="margin-bottom-20">
            <button md-raised-button class="resetbtn btn-width-large vertical-bottom" type="submit" (click)="resetpwd()">Reset password</button>
        </div>
    </div>
   </form>
</div>
</section>
