<div class="row" style="margin-top: 20px;">
  <div class="col-md-3">
    <md-list>
      <md-list-item [routerLink]="'/console/learning/all'" [class.bold]="getActiveTab() === 'all'">
        View All
      </md-list-item>
      <md-list-item [routerLink]="'/console/learning/workshops'" [class.bold]="getActiveTab() === 'workshops'">
        Workshops
      </md-list-item>
      <md-list-item [routerLink]="'/console/learning/experiences'" [class.bold]="getActiveTab() === 'experiences'">
        Experiences
      </md-list-item>
      <md-list-item [routerLink]="'/console/learning/sessions'" [class.bold]="getActiveTab() === 'sessions'">
        Sessions
      </md-list-item>
    </md-list>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
