<div md-dialog-content class="dialog-container" *ngIf="data==='delete'">
  <div>Are you sure you want to delete the workshop?</div>
  <div>
    <button md-button md-dialog-close="delete">Delete</button>
    <button md-button md-dialog-close>Cancel</button>
  </div>
</div>
<div md-dialog-content class="dialog-container" *ngIf="data==='cancel'">
  <div >Are you sure you want to cancel the workshop?</div>
  <div>
    <button md-button md-dialog-close="cancel">Cancel Workshop</button>
    <button md-button md-dialog-close>Cancel</button>
  </div>
</div>