.onboarding-content{
  margin-bottom:27% !important;
  //padding-bottom:136px;
}
.onboarding{
  .title{
    font-size:29px;
    margin:10px 0 20px 0;
    color:#000;
    font-weight:600;
    padding-left: 40px;
  }
  .step
  {
    font-size: 14px;
    color: #666;
    margin-bottom:25px;
  }
  .stepHeader{
    font-size:27px;
    margin-bottom:20px;
  }
  .upload-image-section{
    margin-bottom:30px;
    .profile-photo{
      width:164px;
      height:164px;
      background-color: #f1f1f1;
      display:inline-block;
      margin-right:25px;
      text-align: center;
      vertical-align: middle;
    }
  }
  .onboarding-btn{
    padding:10px 100px;
  }
  textarea{
    height:80px;
    resize: none;
  }
  .lookingFor{

      .lookingFor-thumb{
        background-color: #e2e2e2;
        padding:50px 0;
        height:225px;
        position:relative;
        i{
          display:inline-block;
          position:absolute;
          width:100px;
          height:100px;
          left:50%;
          top:50%;
          margin:-50px 0 0 -50px;
        //   &.personal{
        //     background:url("../../images/man-user.svg") no-repeat scroll center center / 100%;
        //   }
        //   &.professional{
        //     background:url("../../images/man.svg") no-repeat scroll center center / 100%;
        //   }
        //   &.intellectual{
        //     background:url("../../images/intellectual.svg") no-repeat scroll center center / 100%;
        //   }
        //   &.auditory{
        //     background:url("../../images/auditory.svg") no-repeat scroll center center / 100%;
        //   }
        //   &.read-write{
        //     background:url("../../images/read-write.svg") no-repeat scroll center center / 100%;
        //   }
        }
      }
      .learner{
        height:175px;
         i{
           width:75px;
           height:75px;
           margin:-37px 0 0 -37px;
           &.fa{
             font-size:75px;
             color:#666;
           }
         }
      }
      .lookingForTitle{
        display:block;
        margin-top:10px;
        font-size:20px;
        color:#666;
      }
      .lookingForDesc{
        margin:10px 0 0 0;
        font-size:13px;
        color:#666;
      }
  }
}

label.check > input, label.radiobox > input{display: none;}
label.check, label.radiobox{
  font-size: 18px;
  font-weight: normal;
  padding: 15px 45px;
  position: absolute;
  top:40px;
  right:20px;
  left: 80px;
  z-index: 1;
}
label.check i, label.radiobox i {
    height: 12px;
    width: 12px;
    background-color: #ff5b5f;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 30px;
    border-radius:5px;
    border:1px solid #ff5b5f;
    font-style:normal;
}
label.radiobox i{border-radius:50%;}
label.check [type=checkbox]:checked + i, label.radiobox input[type=radio]:checked+i{
  background-color: #0091ea;
  border:none;
}
label.check [type=checkbox]:checked + i:before, label.radiobox [type=radio]:checked + i:before {
  display:inline-block;
  content: '\f00c';
  position: absolute;
  top: 2px;
  left: 4px;
  right: 10px;
  color:#ff5b5f;
  font-family:"FontAwesome";
  padding: 50px;
}

label.check {
  background-color: #ff5b5f!important;
  text-color: #fff!important;
  position:relative;
}

// label.check > input, label.radiobox > input{display: none;}
// label.check, label.radiobox{
//   font-size: 18px;
//   font-weight: normal;
//   padding: 15px 45px;
//   top:2px;
//   right:20px;
//   z-index: 1;
// }
// label.check i, label.radiobox i {
//     height: 12px;
//     width: 12px;
//     background-color: #ff5b5f;
//     display: inline-block;
//     left: 2px;
//     top: 2px;
//     border-radius:5px;
//     border:1px solid #ff5b5f;
//     font-style:normal;
// }
// label.radiobox i{border-radius:50%;}
// label.check [type=checkbox]:checked + i, label.radiobox input[type=radio]:checked+i{
//   background-color: #0091ea;
//   border:none;
// }
// label.check [type=checkbox]:checked + i:before, label.radiobox [type=radio]:checked + i:before {
//   display:inline-block;
//   content: '\f00c';
//   top: 2px;
//   left: 4px;
//   color:#ff5b5f;
//   font-family:"FontAwesome";
// }

// label.check {
//   background-color: #ff5b5f!important;
//   text-color: #fff!important;
// }


// label.radiobox [type=radio]:checked + i:before {top:3px; left:5px;}
.welcome-box{
    background-color: #fff;
    color:#fff;
    padding:100px 100px;
    border-radius:5px;
    margin: 16%;
    padding: 133px 10px 55px 26px;
    .title{
        color:#000;
    }
    }
.input-topic{
  border:none;
  border-radius:0;
  border-bottom:1px solid #ccc;
  box-shadow:none;
}
.btn-start-explore{
  padding:25px 100px;
  text-transform: uppercase;
}

.text-grey{
  color: #767676;
}
.btn-start-explore{
  color: #fff;
  position: relative;
  padding: 50px 0 50px 0;
}
.title-explore{
 padding: 130px 0 0 0;
 margin: 100px 0 24px 0;
 font-weight: 400;
}

.headline {
  color: #484848;
  padding: 42px 0 0 0;
  font-weight: 500;
  
}

.description1 {
  font-size: 16px;
  color: #767676;
  margin: -30%;
  
}

.customBtn {
  padding: 8px 40px;
  font-size: 16px;
}

.syncSocial {
  color: #33BD9E;
  font-size: 16px;
  font-weight: lighter;
}

.vAlignTextTop{
  vertical-align:text-top;
}

.bottom-section{
  border-top:1px solid #ccc;
  padding-top:15px;
  margin-top:45%;
  margin-bottom: -14%;
}

.outline-btn {
  border: 1.5px solid #767676;
  color: #484848;
  background-color: white;
}
.suggestions{
  text-align:center;
  padding: 10px;

}
