<div class="main-content">
    <div class="row margin-top-70">
        <div class="left margin-top-20 col-sm-4">
            <p class="mat-display-1 margin-bottom-20" style="color:black">Our Office</p>
            <p class="mat-subheading-2" style="color:rgba(0,0,0,0.54)">4580 Auto Mall Parkway <br> Fremont, CA, 94539</p>
        </div>
       <div class="col-sm-4 margin-top-20">
           <!--
            <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>-->
            <img src="/assets/images/map.png">
        </div>    
    </div>
    <div class="w-100"></div>
    <div class="row margin-right-100">
        <div class="left margin-top-100 col-sm-4">
            <p class="mat-display-1 margin-bottom-20" style="color:black">Contact Us</p>
            <p class="mat-subheading-2" style="color:rgba(0,0,0,0.54)">Dont hesitate to reach out to us. We're<br> always here for you :)</p>
        </div>
        <div class="center margin-top-100 margin-left-50 margin-bottom-50 col-sm-4">
            <form [formGroup]="contactUsForm">
                <div class="row margin-bottom-100">
                    <md-input-container class="pb-block margin-bottom-30">
                        <input mdInput type="text" placeholder="First Name" formControlName="first_name">
                    </md-input-container>
                    <md-input-container class="pb-block margin-bottom-30">
                        <input mdInput type="text" placeholder="Last Name" formControlName="last_name">
                    </md-input-container>
                    <md-input-container class="pb-block margin-bottom-30">
                        <input mdInput type="text" placeholder="Email" formControlName="email">
                    </md-input-container>
                    <md-input-container class="pb-block margin-bottom-30">
                        <input mdInput type="text" placeholder="Subject" formControlName="subject">
                    </md-input-container>
                    <md-input-container class="pb-block" style="margin-bottom: 20px">
                        <textarea mdInput rows="2" placeholder="Message" formControlName="message"></textarea>
                    </md-input-container>
                    <div class="margin-bottom-20">
                        <button md-raised-button color="accent" class="btn-width vertical-bottom" style="padding: 6px !important;" type="submit" (click)="createGuestContacts()"><span class="txtcolor">Submit</span></button><br><br>
                    </div>
                </div>   
            </form>
        </div>
    </div>
</div>
