<div class="feed peerFeed">
  <div class="row peer-feed">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5">
          <div class="mat-display-1">Peers</div>
        </div>
        <!-- <div class="col-md-2 pull-right">
          <a [routerLink]="'/home/peers'">
            <div class="col-md-8">
              <h4 class="pull-right">See all
              </h4>
            </div>
            <div class="col-md-3 pull-right">
              <div class="col-md-6">
                <button md-button #topicButton (click)="openTopicsDialog()">Topics <md-icon>arrow_drop_down</md-icon> </button>
              </div>
              <div class="col-md-6">
                <button md-button #priceButton (click)="openPriceDialog()">Price Range <md-icon>arrow_drop_down</md-icon> </button>
              </div>
            </div>
          </a>
        </div> -->
      </div>
      <div class="row feed-horizontal margin-top-20 margin-bottom-70" style="padding: 0px 7px;">
        <div class="peer-recommendation-card" *ngFor="let peer of peers">
          <a [routerLink]="'/profile/'+peer.id">
            <div class="">
              <img class="peer-recommendation-thumb" *ngIf="peer.profiles[0].picture_url" src="{{config.apiUrl+peer.profiles[0].picture_url}}" alt="workshpImg">
              <img class="peer-recommendation-thumb" *ngIf="!peer.profiles[0].picture_url" src="/assets/images/avatar.png" alt="workshpImg">
            </div>
            <div style="margin-top: 12px;" class="mat-body-2" *ngIf="peer.profiles[0].first_name !== undefined">{{peer.profiles[0].first_name}} {{peer.profiles[0].last_name}}</div>
            <div style="margin-top: 12px;" class="mat-body-2" *ngIf="peer.profiles[0].first_name === undefined">John Doe</div>
            <div class="col-sm-12 padding-left-0" style="margin-top: 12px;">
              <p-rating class="padding-left-0" style="float: left;" [ngModel]="peer.rating" readonly="true" stars="5" [cancel]="false">
              </p-rating>
              <span class="padding-left-10" *ngIf="peer.reviewsAboutYou.length>0" style="text-align: left">
                <label>{{peer.reviewsAboutYou.length}} Reviews</label>
              </span>
              <span class="padding-left-10" *ngIf="peer.reviewsAboutYou.length==0" style="text-align: left">
                <label>0 Reviews</label>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>