.peerFeed a{
    color: black;  
}

.peerFeed{
    padding-top: 30px;      
}

.recommendation-thumb{
    object-fit: cover;
    height: 240px;
    width: 200px;
}

.peer-recommendation-thumb{
    object-fit: cover;
    height: 240px;
    width: 185px;
}

.recommendation-card{
width: 230px;
height: 370px;
}

.peerFeed label{
    color: black;
    font-size: smaller;    
}

.peer-recommendation-card{
    width: 194px;    
}