<div class="feed peerFeed">
  <div class="row peer-feed">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5">
          <h2>Peers</h2>
        </div>
        <!-- <div class="col-md-2 pull-right">
          <a [routerLink]="'/home/peers'">
            <div class="col-md-8">
              <h4 class="pull-right">See all
              </h4>
            </div>
            <div class="col-md-3 pull-right">
              <div class="col-md-6">
                <button md-button #topicButton (click)="openTopicsDialog()">Topics <md-icon>arrow_drop_down</md-icon> </button>
              </div>
              <div class="col-md-6">
                <button md-button #priceButton (click)="openPriceDialog()">Price Range <md-icon>arrow_drop_down</md-icon> </button>
              </div>
            </div>
          </a>
        </div> -->
      </div>
      <div class="row feed-horizontal margin-top-20 margin-bottom-50">
        <div class="col-md-2 peer-recommendation-card" *ngFor="let peer of peers">
          <a [routerLink]="'/profile/'+peer.id">
            <div class="">
              <img class="mat-elevation-z3 peer-recommendation-thumb" *ngIf="peer.profiles[0].picture_url" src="{{config.apiUrl+peer.profiles[0].picture_url}}"
                alt="workshpImg">
              <img class="mat-elevation-z3 peer-recommendation-thumb" *ngIf="!peer.profiles[0].picture_url" src="/assets/images/avatar.png"
                alt="workshpImg">
            </div>
            <div class="margin-top-20">
              <h4>{{peer.profiles[0].first_name}}</h4>
            </div>
            <div class="col-sm-12 padding-left-0">
              <p-rating class="col-sm-7 padding-left-0" [ngModel]="peer.rating" readonly="true" stars="5" [cancel]="false">
              </p-rating>
              <span class="col-sm-5 padding-left-0" *ngIf="peer.reviewsAboutYou.length>0">
                <label>{{peer.reviewsAboutYou.length}} Reviews</label>
              </span>
              <span class="col-sm-5 padding-left-0" *ngIf="peer.reviewsAboutYou.length==0">
                <label>0 Reviews</label>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>