.peerFeed a{
    color: black;  
}

.peerFeed{
    padding-top: 70px;      
}

.recommendation-thumb{
    object-fit: cover;
    height: 240px;
    width: 200px;
}

.peer-recommendation-thumb{
    object-fit: cover;
    height: 230px;
    width: 165px;
}

.recommendation-card{
    max-width: 230px;
    height: 370px;
}

.peerFeed label{
    color: #484848;
    font-size: 13px;    
}

.peer-recommendation-card{
    max-width: 230px;
}

.peerFeed .title {
    font-size:17px !important;
    color: #484848 !important;
}

.peerFeed .headline {
    font-size:16px !important;
    color: #767676 !important;

}

.rightLinks span {
    color: #767676 !important;
    font-size:16px !important;
}