<div class="mat-dialog-focus-trap"></div>
<form [formGroup]="recurring"> 
    <button md-button class="mat-icon-button" type="button" (click)="dialogRef.close()"><md-icon class="mat-icon material-icons mat-icon-small">close</md-icon></button>
    <!-- <md-toolbar class="mat-default mat-theme-default mat-whiteframe-z1"> -->
    <div class="">
        <h3 md-dialog-title>Repeat your {{ duration }} day workshop</h3>
        <span flex="" class="flex"></span>
    </div>
    <hr>
    <!-- </md-toolbar> -->
    <md-dialog-content>
        <div class="flex-body">
            <div class="flex-column spacer">
                <label>After your first worskshop session ends, <br/>the next session starts...</label>
                <md-radio-group class="repeat-workshop-group" formControlName="repeatWorkshopGroupOption" (change)="repeatFrequency($event.value)">
                    <!-- <md-radio-button class="repeat-workshop-button" *ngFor="let option of repeatWorkshopOptions">
                        {{ splitString(option, '_')[0] }}
                    </md-radio-button> -->
                    <md-radio-button class="repeat-workshop-button" value="immediate"> 
                        <span>Immediately</span>
                    </md-radio-button>
                    <md-radio-button class="repeat-workshop-button" value="days"> 
                        <span class="valignsub">after</span>
                        &nbsp;&nbsp;<md-select formControlName="days" class="widthDays">
                            <md-option *ngFor="let day of daysOption" [value]="day">{{day}}</md-option>
                        </md-select>
                        <span class="valignsub">&nbsp;&nbsp;days</span>
                    </md-radio-button>
                    <md-radio-button class="repeat-workshop-button" value="weekdays"> 
                        <span class="valignsub">from the next</span>
                        &nbsp;&nbsp;<md-select formControlName="weekdays">
                            <md-option *ngFor="let day of weekDayOption" [value]="day.value">{{day.text}}</md-option>
                        </md-select>
                    </md-radio-button>
                </md-radio-group>
                <div class="margin-Top-50 flex-column">
                    <label>It will continue repeating up to..</label>
                    <md-radio-group class="repeat-workshop-group" formControlName="repeatTillOption" (change)="repeatTill($event.value)">
                        <md-radio-button class="repeat-workshop-button" value="daysRepeat"> 
                            &nbsp;&nbsp;<md-select formControlName="daysRepeat" class="widthDays">
                                <md-option *ngFor="let day of daysOption" [value]="day">{{day}}</md-option>
                            </md-select>
                            <span class="valignsub">&nbsp;&nbsp;more sessions</span>
                        </md-radio-button>
                        <md-radio-button class="repeat-workshop-button" value="monthsRepeat"> 
                            &nbsp;&nbsp;<md-select formControlName="monthsRepeat" class="widthDays">
                                <md-option *ngFor="let month of monthOption" [value]="month">{{month}}</md-option>
                            </md-select>
                            <span class="valignsub">&nbsp;&nbsp;more months</span>
                        </md-radio-button>
                        <md-radio-button class="repeat-workshop-button" value="dateRepeat"> 
                            <span class="valignsub">the date</span>
                            &nbsp;&nbsp;<md-input-container>
                            <input mdInput [mdDatepicker]="dateRepeat" formControlName="dateRepeat">
                            <button mdSuffix [mdDatepickerToggle]="dateRepeat"></button>
                            </md-input-container>
                            <md-datepicker #dateRepeat></md-datepicker>
                        </md-radio-button>
                    </md-radio-group>
                    <div class="prevNext margin-top-20">
                        <button md-raised-button (click)="saveCalendar()" [disabled]= "recurringCount == 0" color="primary">Save Recurring Calendar</button>
                    </div>
                </div>
            </div>
            <div class="flex-column">
                <div class="mat-content border-calendar calendar">
                    <div class="flex flexContainer">
                        <div class="col-md-4">
                        <h3 class="calendarTitle">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                        </div>
                    
                        <span class="flex"></span>
                    
                        <div class="prevNext">
                        <button md-button class="mat-icon-button" type="button" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                            <md-icon class="" aria-hidden="true">chevron_left</md-icon>
                        </button>
                    
                        <button md-button class="mat-icon-button" type="button" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                            <md-icon class="" aria-hidden="true">chevron_right</md-icon>
                        </button>
                        </div>
                    </div>
                    
                    <div [ngSwitch]="view">
                        <mwl-calendar-month-view
                        *ngSwitchCase="'month'"
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        (dayClicked)="dayClicked($event.day)">
                        </mwl-calendar-month-view>
                    </div>
                    </div>
                    <div [ngClass]="{'clickedDate' : true, 'displayNone' : !dateClicked, 'displayBlock': dateClicked}">
                    <div [ngClass]="{'displayFlex': dateClicked}">
                        <span class="cal-day-badge"></span><h4>{{ clickedDate | date:'EEE, MMM dd' }}</h4>
                    </div>
                    <div class="displayFlex event" *ngFor="let event of eventsForTheDay">
                        <span>{{ event.start | date:'hh:mm' }}</span>
                        <span><b>{{ event.start | date:'a' | lowercase}}</b></span>
                        <span class="flex"></span>
                        <span>{{ event.title }}</span>
                    </div>
                </div>
                <div class="margin-Top-50 flex-column" *ngIf="results && results.overlap">
                    <h3>Avoid Conflicts</h3>
                    <div>
                        <label>{{results.ranges.length}} of your workshop sessions will have conflicts with<br/> existing calendar events.</label>
                    </div>
                    <div class="margin-top-20 margin-bottom-20">
                        <button md-raised-button (click)="viewConflict()" color="grey">View Conflict</button>
                    </div>
                </div>
                <div class="margin-Top-50 flex-column" *ngIf="recurringCount">
                    <h3>Peerbuds Insights</h3>
                    <div>
                        <label>You will have total of {{ recurringCount }} recurring sessions</label>
                    </div>
                    <div class="margin-top-20">
                        <label>Your workshop will run for {{ recurringCount }} of the next  days</label>
                    </div>
                </div>
            </div>
        </div>

    </md-dialog-content>
    
</form>
<div class="mat-dialog-focus-trap"></div>