<div class="text-center space">
<h1 class="h1-responsive">Learning is Earning</h1>
<p class="txt">White Paper Coming Soon</p><br><br><br>
<img class="small-img" src="/assets/images/scroll_icon.png">
  </div>    
<div class="view">
    <div class="full-bg-img flex-center">
    <div class="vid">
    </div>
    </div>
</div>

<div class="view2">
    <div class="half-bg-img flex-center text-center content"><h2 class="right">Everyone has something to teach and learn</h2></div>
    <div layout="row" layout-align="center none">
    <div class="example-content1">
    <md-card-actions> Everyone is good at something and one should be willing to share his/her knowledge. Everyone has something to learn, and this is the best platform to do that too!
    </md-card-actions>
    </div>
    </div>
</div>
<div class="view3">
    <div class="half-bg-img flex-center text-center content"><h2 class="left">Learn the way you want</h2>
    <div class="example-content2">
    <md-card-content> Learn the way you want and earn while you learn. It is the best platform to earn while you learn and you can teach as well. </md-card-content>
    </div>
    </div>
</div>
<div class="view4">
    <div class="half-bg-img flex-center text-center content"><h2 class="right">Join communities, participate, discuss</h2></div>
    <div class="row" layout-align="center none">
    <div class="example-content1">
    <md-card-content> Meet like-minded people and connect with people with similar goals, join commuinities, participate and discuss. Teams are formed to discuss, participate and discuss</md-card-content>
    </div>
    </div>
    </div>

<div class="view5">
<div class="full-bg-img flex-center">
 <div class="imgs"></div>

  <div class="view6">
    <div class="full-bg-img" style="padding-top: 800px;">
  </div>
  </div>
  
  <p class="text-center test">"Peerbuds is the best platform i came across so far, to learn while you earn. I feel so grateful to the people who made this possible!Peerbuds is the best platform i came across so far, to learn while you earn. I feel so grateful to the people who made this possible!"
  </p>
  <p class="text-center" style="font-size: 20px;"> John Collins</p>
  <div class="view7">
    <div class="full-bg-img">
    <div class="text-center spacer"> <h2>Journey </h2><p> Our Journey So Far..</p></div>
    <div class="journey row" ><img src="/assets/images/Journey_1.png">
    <img src="/assets/images/Journey_2.png">
    <img src="/assets/images/Journey_3.png">
    <img src="/assets/images/Journey_4.png">
    </div>
    </div>
    </div>
<div class="view8">
<p class="notif text-center"> Be notified when peerbuds go live </p>
  <div class="text-center">
        <md-input-container class="mb-block mail-bg">
        <input mdInput placeholder="Your email here">
        </md-input-container>
 
    <button md-button class="md-raised email-btn">Notify me!</button>
</div>
 </div>

<md-toolbar class="layout-row" layout="row" color="white">
<div layout="row">
      <button class="footer-btn" md-button> About Us </button>
      <button class="footer-btn" md-button>
        Contact Us
      </button>
      <span>
      <a href="#" class="brand" aria-label="Peerbuds Homepage">
            <img src="/assets/images/pb_logo.png" alt="logo">
      </a>
    </span>
      <button class="footer-btn" md-button>
       White Paper
      </button>
      <button class="footer-btn" md-button>
       Privacy Policy
      </button>

</div>
</md-toolbar>
