.outerContainer {
    border: 0;
    float: left;
    position: relative;
}

.centerVideo {
    border: 0;
    position: absolute;
    top: 150px;
    margin-left: 25%;
    width: auto;
    height: 400px;
}

.centerPlayButton {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 335px;
    left: 30px;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.view2Image {
    width: 45%;
    margin-left: 10%;
}

.view3Image {
    width: 50%;
    top: -22px;
}

.view4Image {
    width: 50%;
    margin-left: 7%;
    margin-top: 20px;
}

.view5Image {
    width: 90%;
}

.view6Image {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 370px;
    width: 90%;
}

.arrow {
    position: absolute;
    width: 57px;
    height: 26px;
}

.arrow-left{
    left: 127px;
    bottom: 1250px;
}

.text {
    bottom: 1220px;
    position: absolute;
    left: 500px;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    text-align: justify;
    color: #979797;
}

.author {
    bottom: 1160px;
    position: absolute;
    left: 690px;
    font-size: 16px;
    font-weight: 400; 
    color: #484848;
}

.arrow-right {
    right: 150px;
    bottom: 1250px;
}

.testimonial {
    position: absolute;
    bottom: 1350px;
    width: 64px;
    height: 64px;
}

.testimonial1 {
    left: 600px;
}

.testimonial2 {
    left: 665px;
    width: 150px;
    height: 150px;
    bottom: 1300px;
}

.testimonial3 {
    left: 815px;
}

.footer {
    position: absolute;
    bottom: 104px;
}

.oval {
    bottom: 0;
    position: absolute;
}
.view8 {
    background: url('')no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
    padding-top: 20px;
    padding-left: 10px;
}
.space{
	padding: 30px 5px 10p 5px;
	margin-top: 50px;
}

.txt{
    color: #979797;
    font-weight: 400;
    font-size: 16px;
}

.content {
    word-wrap: break-word;
    text-align: justify;
    font-size: 16px;
    color: #979797;
    font-weight: 300;
}
.right{
	text-align: right;
	color: #767676;
    padding: 20px 30px 20px 20px;
}

.left{
	text-align: left;
}

.example-content1{
  margin-left: 653px;
  text-align: justify;
  padding-top: 10px;
  margin-top: -25px;
  font-size: 15px;
  font-weight: 300;

}
.example-content2{
    margin-right: 800px;
    text-align: justify;
    font-size: 20px;
    font-weight: 300;
}
.txtcolor, .loginbtn{
    background-color: #000;
    color: #fff;
    position: left;
}

md-input-container md-icon {
    position: right;
    top: 5px;
    left: 2px;
    }

.notif{
    text-align: center;
    color: #fff;
    margin: 30px 0 30px 0;
    font-size: 18px;
    border-color: #000;
}
.md-raised{
    color: #fff;
    background-color: #000;
    width: 13%;
    border-color: #000;
    height: 40px;
    text-align: center;

}
.email-btn{
    height:47px;
    position: absolute;
}
.footer-btn{
    min-width: 280px;
}

.test{
    margin: -500px 150px 20px 250px;
    color: #767676;
    font-size:22px;
    font-style:italic;
    font-family: Lato;
    line-height: 30px;

}
    
.card-container {
      display: flex;
      flex-direction: row;
}

.md-grid-title {
background: lightblue;
}

.mail-bg{
    background-color: #FFFFFF;
    padding: 8px;
    height: 45px;
    width: 40%;
}