<h3 md-dialog-title class="center">Workshop Submitted for Review</h3>
<md-dialog-content  style="display:inline-block">
  <div style="text-align: center; margin-top: 50px; margin-bottom: 40px;font-size:16px;">
    Your workshop has been submitted for review.
    <br><br>
    Our team will review your content and we will update you through email and SMS once your workshop is approved and ready to go live on Peerbuds.
    <br/><br/>
    You can set repeat workshops once your workshop is approved.
  </div>
</md-dialog-content>
<md-dialog-actions class="col-md-offset-5 col-md-4">
  <button md-raised-button (click)="closeDialog()" color="accent">Dismiss</button>
</md-dialog-actions>