<h1 md-dialog-title>Workshop Submitted for Review</h1>
<button md-button class="pull-right" style="cursor: pointer; position: relative; top: -50px; right: -20px;" [md-dialog-close]="'close'">
  <md-icon style="color: #777777; font-size: 20px;">close</md-icon>
</button>
<md-dialog-content>
  <div style="text-align: center; margin-top: 50px; margin-bottom: 40px;">
    Your workshop has been submitted for review.
    <br><br>
    Our team will review your content and we will update you through email and SMS once your workshop is approved and ready to go live on Peerbuds.
  </div>
</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button [md-dialog-close]="'close'" color="accent">Dismiss</button>
</md-dialog-actions>