<div md-dialog-content *ngIf="data">
  <div class="content-image" *ngIf="data.content.imageUrl">
    <img class="img-responsive media-middle" width="100%" style="max-height: 400px;" src="{{config.apiUrl+data.content.imageUrl}}" alt="image">
  </div>
  <div class="default-image" *ngIf="!data.content.imageUrl">
    <i class="fa fa-picture-o"></i>
  </div>
  <div class="content-box margin-top-20">
    <h3 class="margin-bottom-0">{{data.content.title | titlecase}}</h3>
    <div class="seperate-section">
      <div class="section-subhead">What we'll do</div>
      <div class="section-description"> {{data.content.description}} </div>
    </div>
    <div class="seperate-section" *ngIf="data.content.notes">
      <div class="section-subhead">Need to know</div>
      <div class="section-description"> {{data.content.notes}} </div>
    </div>
  </div>
  <div class="margin-top-20 margin-bottom-10">
    <button (click)="openSubmitEntryDialog(data)" *ngIf="data.userType==='participant' && !data.peerHasSubmission" md-button class="mat-border-button">Submit Entry</button>
    <button *ngIf="data.userType==='participant' && data.peerHasSubmission" md-button class="mat-border-button">Submitted</button>
    <button *ngIf="data.userType==='teacher'" md-button class="mat-border-button">View Entries</button>
  </div>
  <div class="submission-box" *ngIf="data.content.submissions">
    <div class="fw-bold margin-bottom-10" *ngIf="(data.userType === 'public' && hasPublicSubmission)">Submissions ({{ publicSubmissionCount }})</div>
    <div class="fw-bold margin-bottom-10" *ngIf="(data.userType !== 'public')">Submissions ({{ data.content.submissions.length }})</div>
    <div class="row">
      <div *ngFor="let submission of data.content.submissions; let i=index">
        <div class="col-sm-3" *ngIf="i < 4 && data.userType !== 'public'" (click)="viewSubmission(submission.id)" style="cursor: pointer">
          <img class="img-responsive" src="{{ submission.picture_url ? config.apiUrl+submission.picture_url : noImage }}" alt="image" height="117" />
          <div class="submission-title">{{ submission.name | titlecase }}</div>
          <div class="submission-owner" *ngIf="submission.peer && submission.peer.length>0">
            <img class="circle-thumb" src="{{ submission.peer[0].profiles[0].picture_url ? config.apiUrl+submission.peer[0].profiles[0].picture_url : defaultProfileUrl }}" alt="thumb" style="margin-left: 0px; width: 20px; height: 20px;" />
            <span class="owner-name">{{ submission.peer[0].profiles[0].first_name }} {{ submission.peer[0].profiles[0].last_name }}</span>
          </div>
          <div class="submission-likes">
            <i class="fa fa-thumbs-o-up"></i>
            <span *ngIf="submission.upvotes !== undefined">{{submission.upvotes.length}}</span>
            <span *ngIf="submission.upvotes === undefined">0</span>
          </div>
        </div>
        <div class="col-sm-3" *ngIf="i < 4 && data.userType ==='public' && submission.isPrivate==='false'" (click)="viewSubmission(submission.id)" style="cursor: pointer;">
          <img class="img-responsive" src="{{ submission.picture_url ? config.apiUrl+submission.picture_url : noImage }}" alt="image" height="117" />
          <div class="submission-title">{{ submission.name }}</div>
          <div class="submission-owner" *ngIf="submission.peer && submission.peer.length>0">
            <img class="circle-thumb" src="{{ submission.peer[0].profiles[0].picture_url ? config.apiUrl+submission.peer[0].profiles[0].picture_url : defaultProfileUrl }}" alt="thumb" style="margin-left: 0px; width: 20px; height: 20px;" />
            <span class="owner-name">{{ submission.peer[0].profiles[0].first_name }} {{ submission.peer[0].profiles[0].last_name }}</span>
          </div>
          <div class="submission-likes">
            <i class="fa fa-thumbs-o-up"></i>
            <span *ngIf="submission.upvotes !== undefined">{{submission.upvotes.length}}</span>
            <span *ngIf="submission.upvotes === undefined">0</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>