<div [formGroup]="itenaryForm">
  <div class="row">
    <div class="col-md-12">
      <div style="text-align: center; margin-top: 0px; margin-bottom: 30px;">
        <hr>
        <div style="margin-top: -30px; width: fit-content; background-color: #fff; margin-left: auto; margin-right: auto; padding: 0px 20px;">
          <md-icon>wb_sunny</md-icon>
          <input mdInput [mdDatepicker]="startDatePicker" formControlName="date" [hidden]="true">
          <a  style="cursor: pointer; float: right; margin: 5px 0 0 10px;" (click)="startDatePicker.open()">({{showItineraryDate(itenaryForm.value.date)}})</a>
          <md-datepicker touchUi="true" #startDatePicker></md-datepicker>
          <a style="cursor: pointer; float: right; margin: 5px 0 0 10px;">
            Day {{itenaryId + 1}}
          </a>
        </div>
        <div style="margin-top: -24px; width: fit-content; background-color: #fff; float: right; padding: 0px 10px;">
          <md-icon style="font-size: 12px; cursor: pointer">close</md-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!itenaryForm.value.date">
    <div class="col-md-12">
      <div style="text-align: center; color: #777777; font-size: 90%;">
        <md-icon style="position: relative; top: 5px;">
          keyboard_arrow_up
        </md-icon>
        Please select a date for this day to continue adding activities...
      </div>
    </div>
  </div>
  <div *ngIf="itenaryForm.value.date">
    <div class="col-md-10" style="padding-left: 0px; margin-bottom: 45px;">
      <div formArrayName="contents">
        <div class="selected-content-label" *ngIf="itenaryForm.controls.contents.controls.length > 0">
          Activity selected
        </div>
        <md-list style="margin-left: -20px">
          <md-list-item *ngFor="let Content of itenaryForm.controls.contents.controls; let i=index" style="margin: 20px 0px; padding: 0px 0px; height: fit-content;">
            <div class="col-md-3" style="padding-left: 0px">
              <img *ngIf="!Content.value.imageUrl" src="/assets/images/placeholder-image.jpg">
              <img *ngIf="Content.value.imageUrl" src="{{config.apiUrl + Content.value.imageUrl}}">
            </div>
            <div class="col-md-7">
              <div class="content-title">{{Content.value.title}}</div>
              <div class="content-subtitle">{{Content.value.description}}</div>
              <br>
              <div class="content-type">{{_collectionService.getContentTypeFullName(Content.value.type) | titlecase }}</div>
            </div>
            <div class="col-md-2">
              <md-icon class="pull-right" *ngIf="itenaryForm.controls.contents.controls.length > 0" (click)="removeContent(i)" style="font-size: 12px; color: #777777;">close</md-icon>
              <md-icon class="pull-right" *ngIf="itenaryForm.controls.contents.controls.length > 0" (click)="findAndOpenDialog(i)" style="font-size: 12px; color: #777777;">mode_edit</md-icon>
            </div>
            <!--<div class="col-md-2 pull-right">
              <span class="label label-warning" [hidden]="!Content.value.pending">Pending</span>
              <span class="label label-success" [hidden]="Content.value.pending">Success</span>
            </div>-->
          </md-list-item>
        </md-list>
      </div>
    </div>
    <div class="row" style="margin-bottom: 80px; margin-top: 10px;">
      <div class="col-md-12">
        <span class="activity-title">
          Add new activity
        </span>
        &emsp;
        <span class="activity-subtitle">
          (Must have at least one online session)
        </span>
        <br><br>
        <button md-button type="button" (click)="addContent('online'); findAndOpenDialog(-1);" style="padding-left: 0px">
          <md-icon color="accent" style="font-size: 20px">add_circle</md-icon>
          Online Session
        </button>&emsp;

        <button md-button type="button" (click)="addContent('video'); findAndOpenDialog(-1);">
          <md-icon color="accent" style="font-size: 20px">add_circle</md-icon>
          Video
        </button>&emsp;

        <button md-button type="button" (click)="addContent('project'); findAndOpenDialog(-1);">
          <md-icon color="accent" style="font-size: 20px">add_circle</md-icon>
          Project
        </button>&emsp;
      </div>
    </div>
  </div>
  <div bsModal #onlineEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Online Edit Content</h4>
        </div>
        <div class="modal-body">
          <div *ngIf="editIndex>-1">
            <form [formGroup]="tempForm">
              <div class="row">
                <div class="col-sm-12 margin-bottom-30">
                  <div class="form-group">
                    <label>Title:</label>
                    <input type="text" class="form-control" formControlName="title" required>
                  </div>

                  <div class="form-inline" formGroupName="schedule">
                    <label>Start Time:</label>
                    <input type="time" class="form-control" formControlName="startTime">

                    <label>End Time:</label>
                    <input type="time" class="form-control" formControlName="endTime">
                  </div>

                  <div class="form-group">
                    <label>Upload a photo:</label>
                    <div class="upload-image-section imageHolder">
                      <p-fileUpload #fubauto name="image" customUpload="true" (uploadHandler)="imageUploadUpdate($event)" maxFileSize="10000000" auto="true" chooseLabel="Browse"></p-fileUpload>
                    </div>
                  </div>
                  <div class="form-group">
                    <div *ngIf="tempForm.controls['imageUrl']" class="ui-fileupload-row">
                        <label>Uploaded photo:</label>
                        <div><img src="{{config.apiUrl+tempForm.controls['imageUrl'].value}}" width="50"></div>
                        <div>{{tempForm.controls['imageUrl'].value.split('/')[5]}}</div>
                        <div><button icon="fa-close" pbutton="" type="button" (click)="deleteFromContainer(tempForm.controls['imageUrl'].value)" ng-reflect-icon="fa-close" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></span><span class="ui-button-text ui-clickable">ui-btn</span></button></div>
                     </div>
                  </div>
                  <div class="form-group">
                    <label class="display-block">What We'll do</label>
                    <textarea class="form-control" maxlength="500" formControlName="description"></textarea>
                    <span class="text-right text-grey display-block margin-top-5">max. 500 chars</span>
                  </div>
                  <div class="form-group">
                    <label class="display-block">Need to know (optional)</label>
                    <textarea class="form-control" maxlength="500" formControlName="prerequisites"></textarea>
                    <span class="text-right text-grey display-block margin-top-5">max. 500 chars</span>
                  </div>
                  <div class="form-group">
                    <label class="display-block">Add supplimental material</label>
                    <div *ngIf="filesToUpload">
                      <progressbar [max]="filesToUpload" [value]="filesUploaded">
                        <span style="color:#337ab7; white-space:nowrap;"> Uploading... <span style="color:white; white-space:nowrap;">{{filesUploaded}} / {{filesToUpload}}</span>                        </span>
                      </progressbar>
                    </div>
                    <div *ngIf="!filesToUpload">
                      Click Upload!
                    </div>
                    <p-fileUpload name="attachments" customUpload="true" (uploadHandler)="uploadEdit($event)" multiple="multiple" maxFileSize="10000000"
                      (onClear)="resetEditUrls($event)" (onRemove)="itemEditRemoved($event)"></p-fileUpload>
                  </div>
                  <div class="form-group">
                    <div *ngIf="tempForm.controls['supplementUrls'].length">
                      <label>Uploaded Supplements:</label>
                      <div *ngFor="let file of tempForm.controls['supplementUrls']" class="ui-fileupload-row" >
                        <div>{{file}}<img src="{{config.apiUrl+file}}" width="50"></div>
                        <div>{{file.value.split('/')[5]}}</div>
                        <div><button icon="fa-close" pbutton="" type="button" (click)=deleteFromContainer(file) ng-reflect-icon="fa-close" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></span><span class="ui-button-text ui-clickable">ui-btn</span></button></div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <button type="button" class="btn btn-success" (click)="editContent(editIndex)">Save</button>
              <button type="button" class="btn btn-warning" (click)="onlineEditModal.hide()">Cancel</button>
              <button type="button" class="btn btn-danger pull-right" (click)="removeContent(editIndex);onlineEditModal.hide()">Delete</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div bsModal #videoEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Video Content</h4>
        </div>
        <div class="modal-body">
          <div *ngIf="editIndex>-1">
            <form [formGroup]="tempForm">
              <div class="row">
                <div class="col-sm-12 margin-bottom-30">
                  <div class="form-group">
                    <label>Video Title:</label>
                    <input type="text" class="form-control" formControlName="title">
                  </div>
                  <div class="form-group">
                    <label class="display-block">What it's about</label>
                    <textarea class="form-control" maxlength="500" formControlName="description"></textarea>
                    <span class="text-right text-grey display-block margin-top-5">max. 500 chars</span>
                  </div>

                  <div class="form-group">
                    <label>Upload Video:</label>
                    <div class="upload-image-section imageHolder">
                      <p-fileUpload #fubauto name="video" customUpload="true" (uploadHandler)="imageUploadUpdate($event)" maxFileSize="10000000"
                        auto="true" chooseLabel="Browse"></p-fileUpload>
                    </div>
                  </div>
                  <div class="form-group">-{{tempForm.controls['imageUrl'].length}}
                    <div *ngIf="tempForm.controls['imageUrl']" class="ui-fileupload-row">
                        <label>Uploaded Video:</label>
                        <div><img src="{{config.apiUrl+tempForm.controls['imageUrl'].value}}" width="50"></div>
                        <div>{{tempForm.controls['imageUrl'].value.split('/')[5]}}</div>
                        <div><button icon="fa-close" pbutton="" type="button" (click)="deleteFromContainer(tempForm.controls['imageUrl'].value)" ng-reflect-icon="fa-close" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></span><span class="ui-button-text ui-clickable">ui-btn</span></button></div>
                     </div>
                  </div>
                  <div class="form-group">
                    <label class="display-block">Add supplimental material</label>
                    <div *ngIf="filesToUpload">
                      <progressbar [max]="filesToUpload" [value]="filesUploaded">
                        <span style="color:#337ab7; white-space:nowrap;"> Uploading... <span style="color:white; white-space:nowrap;">{{filesUploaded}} / {{filesToUpload}}</span>                        </span>
                      </progressbar>
                    </div>
                    <p-fileUpload name="attachments" customUpload="true" (uploadHandler)="uploadEdit($event)" multiple="multiple" maxFileSize="10000000"
                      (onClear)="resetEditUrls($event)" (onRemove)="itemEditRemoved($event)"></p-fileUpload>
                  </div>
                  <div *ngIf="!filesToUpload">
                    Click Upload!
                  </div>
                  <div class="form-group">
                    <div *ngIf="tempForm.controls['supplementUrls'].length">
                      <label>Uploaded Supplements:</label>
                      <div *ngFor="let file of tempForm.controls['supplementUrls']" class="ui-fileupload-row" >
                        <div>{{file}}<img src="{{config.apiUrl+file}}" width="50"></div>
                        <div>{{file.value.split('/')[5]}}</div>
                        <div><button icon="fa-close" pbutton="" type="button" (click)=deleteFromContainer(file) ng-reflect-icon="fa-close" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></span><span class="ui-button-text ui-clickable">ui-btn</span></button></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-success" (click)="editContent(editIndex)">Save</button>
              <button type="button" class="btn btn-danger" (click)="videoEditModal.hide()">Discard</button>
              <button type="button" class="btn btn-danger pull-right" (click)="removeContent(editIndex);videoEditModal.hide()">Delete</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div bsModal #projectEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Project Content</h4>
        </div>
        <div class="modal-body">
          <div *ngIf="editIndex>-1">
            <form [formGroup]="tempForm">
              <div class="row">

                <div class="col-sm-12 margin-bottom-30">
                  <div class="form-group">
                    <label>Project Title:</label>
                    <input type="text" class="form-control" formControlName="title">
                  </div>

                  <div class="form-inline" formGroupName="schedule">
                    <label>Deadline</label>
                    <input type="date" class="form-control" formControlName="endDay">
                  </div>

                  <div class="form-group">
                    <label>Upload a photo/video that best describes this content:</label>
                    <div class="upload-image-section imageHolder">
                      <p-fileUpload #fubauto name="image" customUpload="true" (uploadHandler)="imageUploadUpdate($event)" maxFileSize="10000000"
                        auto="true" chooseLabel="Browse"></p-fileUpload>
                    </div>
                  </div>
                  <div class="form-group">
                    <div *ngIf="tempForm.controls['imageUrl']" class="ui-fileupload-row">
                        <label>Uploaded photo:</label>
                        <div><img src="{{config.apiUrl+tempForm.controls['imageUrl'].value}}" width="50"></div>
                        <div>{{tempForm.controls['imageUrl'].value.split('/')[5]}}</div>
                        <div><button icon="fa-close" pbutton="" type="button" (click)="deleteFromContainer(tempForm.controls['imageUrl'].value)" ng-reflect-icon="fa-close" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></span><span class="ui-button-text ui-clickable">ui-btn</span></button></div>
                     </div>
                  </div>
                  <div class="form-group">
                    <label class="display-block">What We'll do</label>
                    <textarea class="form-control" maxlength="500" formControlName="description"></textarea>
                    <span class="text-right text-grey display-block margin-top-5">max. 500 chars</span>
                  </div>

                  <div class="form-group">
                    <label class="display-block">Need to know (optional)</label>
                    <textarea class="form-control" maxlength="500" formControlName="prerequisites"></textarea>
                    <span class="text-right text-grey display-block margin-top-5">max. 500 chars</span>
                  </div>
                  <div class="form-group">
                    <label class="display-block">Add supplimental material</label>
                    <div *ngIf="filesToUpload">
                      <progressbar [max]="filesToUpload" [value]="filesUploaded">
                        <span style="color:#337ab7; white-space:nowrap;"> Uploading... <span style="color:white; white-space:nowrap;">{{filesUploaded}} / {{filesToUpload}}</span>                        </span>
                      </progressbar>
                    </div>
                    <div *ngIf="!filesToUpload">
                      Click Upload!
                    </div>
                    <p-fileUpload name="attachments" customUpload="true" (uploadHandler)="uploadEdit($event)" multiple="multiple" maxFileSize="10000000"
                      (onClear)="resetEditUrls($event)" (onRemove)="itemEditRemoved($event)"></p-fileUpload>
                    <div class="form-group">
                      <div *ngIf="tempForm.controls['supplementUrls'].length">
                        <label>Uploaded Supplements:</label>
                        <div *ngFor="let file of tempForm.controls['supplementUrls']" class="ui-fileupload-row" >
                          <div>{{file}}<img src="{{config.apiUrl+file}}" width="50"></div>
                          <div>{{file.value.split('/')[5]}}</div>
                          <div><button icon="fa-close" pbutton="" type="button" (click)=deleteFromContainer(file) ng-reflect-icon="fa-close" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></span><span class="ui-button-text ui-clickable">ui-btn</span></button></div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <button type="button" class="btn btn-success" (click)="editContent(editIndex)">Save</button>
              <button type="button" class="btn btn-danger" (click)="projectEditModal.hide()">Discard</button>
              <button type="button" class="btn btn-danger pull-right" (click)="removeContent(editIndex);projectEditModal.hide()">Delete</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>