<div class="row">
  <div class="col-md-12 padding-left-60">
    <h3 md-dialog-title>When do you want to attend?</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>
<div md-dialog-content>
  <p-accordion (onOpen)="onTabOpen($event)" (onClose)="onTabClose($event)">
    <p-accordionTab *ngFor="let itenaryObj of data; let i=index" tabindex="-1">
      <p-header>
        <div>
          <div class="row">
            <div class="col-md-8">
              <div class="col-md-12">
                <div class="margin-top-20 margin-bottom-20">
                  <b>
                    {{itenaryObj.calendar.startDate | date:'EEE, MMMM d'}} - {{itenaryObj.calendar.endDate | date:'EEE, MMMM d'}}
                  </b>
                </div>
              </div>
              <div class="col-md-12">
                <p *ngIf="i!==selectedIndex" style="font-size: 90%">View Schedule</p>
                <p *ngIf="i===selectedIndex" style="font-size: 90%">Hide Schedule</p>
              </div>
            </div>
            <div class="col-md-4">
              <br>
              <br>
              <div class="col-md-12">
                <button md-button md-dialog-close="{{itenaryObj.calendar.id}}" class="mat-border-button">Choose Date</button>
              </div>
            </div>
          </div>
        </div>
      </p-header>
      <div>
        <div class="row">
          <div class="col-md-12" *ngFor="let itenary of itenaryObj.itenary">
            <div class="col-md-12">
              <div class="col-md-12" style="margin: 10px 0px 3px 0px;">{{itenary.startDate | date:'EE MMM d'}}</div>
            </div>
            <div class="col-md-12">
              <div class="col-md-12" style="margin: 3px 0px 10px 0px;">{{itenary.contents[0].schedules[0].startTime | extractTime:'HH:mm a'}} - {{itenary.contents[0].schedules[itenary.contents[0].schedules.length-1].endTime | extractTime:'HH:mm a'}}</div>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>