<div class="row">
  <div class="col-md-12">
    <button mat-button class="mat-icon-button" type="button" (click)="dialogRef.close()" style="top: -3px; left: -10px;"><mat-icon class="mat-icon material-icons mat-icon-small">close</mat-icon></button>
    <div style="display: inline-block">
      <h2 mat-dialog-title *ngIf="mode === 'chooseDate' && userType === 'teacher'">Select a cohort to view specific details</h2>
      <h2 mat-dialog-title *ngIf="mode === 'chooseDate' && (userType === 'participant' || userType === 'public')">When do you want to attend this workshop?</h2>
      <h2 mat-dialog-title *ngIf="mode === 'editDelete'">Existing workshop cohorts</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  </div>
</div>
<div mat-dialog-content>
  <p-accordion (onOpen)="onTabOpen($event)" (onClose)="onTabClose($event)">
    <p-accordionTab *ngFor="let itenaryObj of itineraries; let i=index" tabindex="-1">
      <p-header>
        <div>
          <div class="row">
            <div class="col-md-8">
              <div class="col-md-12">
                <div class="margin-top-20 margin-bottom-20">
                  <span class="mat-body-2">
                    {{itenaryObj.calendar.startDate | date:'EEE, MMM d'}} to {{itenaryObj.calendar.endDate | date:'EEE, MMM d'}}
                  </span>
                  <br>
                  <span class="mat-caption">
                    {{itenaryObj.participantCount}} participants
                  </span>
                </div>
              </div>
              <div class="col-md-12">
                <h5 *ngIf="i!==selectedIndex"><b>View Schedule</b></h5>
                <h5 *ngIf="i===selectedIndex"><b>Hide Schedule</b></h5>
              </div>
            </div>
            <div class="col-md-4">
              <br>
              <br>
              <div class="col-md-12">
                <button *ngIf="mode === 'chooseDate'" mat-button mat-dialog-close="{{itenaryObj.calendar.id}}" class="mat-border-button">Select this cohort</button>
                <button *ngIf="mode === 'editDelete'" mat-button color="warn" mat-dialog-close="{{itenaryObj.calendar.id}}" [disabled]="itenaryObj.participantCount > 0" class="mat-border-button" style="border-color: #f5393e !important;">Delete this cohort</button>
              </div>
            </div>
          </div>
        </div>
      </p-header>
      <div class="accordianContent">
        <div class="row">
          <div class="col-md-12" *ngFor="let itenary of itenaryObj.itenary">
            <div class="col-md-12">
              <div class="col-md-12" style="margin: 10px 0px 3px 0px;">
                {{itenary.startDate | date:'EE, MMM d'}}
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-12" style="margin: 3px 0px 10px 0px;">
                {{itenary.contents[0].schedules[0].startTime | extractTime:'hh:mm a'}} to {{itenary.contents[0].schedules[itenary.contents[0].schedules.length-1].endTime | extractTime:'h:mm a'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>