<div class="position-relative">
  <!--class="position-relative"-->
  <!-- content starts here-->
  <div class="navbar navbar-fixed-left">
    <ul class="nav navbar-nav">
      <li><strong>About</strong> </li>
      <li (click)=goto(1)>Your photo </li>
      <li (click)=goto(2)>Your Bio </li>
      <li (click)=goto(3)>Language </li>
      <li (click)=goto(4)>Topic Category </li>
      <hr>
      <li><strong>Workshop</strong> </li>
      <li (click)=goto(5)>Workshop Title </li>
      <!--headliner-->
      <li (click)=goto(6)>What We'll Teach </li>
      <li (click)=goto(7)>Who should come </li>
      <li (click)=goto(8)>How many learners? </li>
      <li (click)=goto(9)>Workshop Photos </li>
      <li (click)=goto(10)>Timeline </li>
      <!-- <li>Session Dates </li> -->
      <hr>
      <li><strong>Finishing Touches</strong> </li>
      <!-- <li>Seats Available </li> -->
      <!-- <li>Age requirements </li> -->
      <li (click)=goto(11)>Apointments </li>
      <li (click)=goto(12)>Payment </li>
      <li (click)=goto(13)>Review and Submit </li>

    </ul>
  </div>
  <div class="container">
    <div id="content" class="onboarding-content">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <progressbar [max]="max" [value]="step">
            <span style="color:white; white-space:nowrap;">{{step}} / {{max}}</span>
          </progressbar>
        </div>
      </div>
      <div class="container-fluid clearfix">
        <div class="onboarding step-1" [hidden]="step!=1">
          <div class="row">
            <div class="col-sm-7">
              <h1 class="title">Let people know who you are</h1>
              <!--[routerLink]="['/login']"-->
              <div class="stepHeader">Upload the happiest photo of yourself</div>
              <form [formGroup]="profile" (ngSubmit)="submitProfile(profile)" novalidate>
                <span class="label label-warning" [hidden]="!profileImagePending">Pending</span>
                <span class="label label-success" [hidden]="profileImagePending">Success</span>
                <div class="upload-image-section imageHolder">

                  <image-upload [max]="1" [buttonCaption]="'Upload Image'" [dropBoxMessage]="''" (onFileUploadFinish)="profileImageUploaded($event)"
                    (onRemove)="profileImageRemoved($event)"></image-upload>

                </div>

                <button class="onboarding-btn btn btn-lg btn-default" type="Submit">Next</button>
              </form>

            </div>
            <!-- onboarding ends here-->
          </div>
        </div>
        <!-- step 1 ends here -->
        <div class="onboarding step-2" [hidden]="step!=2">
          <div class="row">
            <div class="col-sm-7">
              <h1 class="title">Tell us your bio</h1>
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <div class="row">
                  <div class="col-sm-12 margin-bottom-30">
                    <div class="form-group">
                      <label class="display-block">Give us a short description about yourself</label>
                      <textarea class="form-control" maxlength="500" formControlName="aboutHost"></textarea>
                      <span class="text-right text-grey display-block margin-top-5">max. 500 chars</span>
                    </div>
                  </div>
                </div>
                <button class="onboarding-btn btn btn-lg btn-default" type="Submit">Next</button>
              </form>
            </div>
          </div>
        </div>
        <!-- step 2 ends here -->
        <div class="onboarding step-3" [hidden]="step!=3">
          <div class="row">
            <div class="col-sm-7">
              <h1 class="title">What languages are it going to be in</h1>
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <div class="row">
                  <div class="col-sm-12 margin-bottom-30">
                    <div class="row">
                      <select class="form-control" formControlName="language">
                      <option [value]="">--Select--</option>
                      <option *ngFor="let l of languagesArray" [value]="l.code">{{l.name}} </option>
                    </select>
                    </div>
                  </div>
                </div>
                <button class="onboarding-btn btn btn-lg btn-default " type="Submit">Next</button>
              </form>
            </div>
          </div>
        </div>
        <!-- step 3 ends here -->
        <div class="onboarding step-4" [hidden]="step!=4">
          <div class="row">
            <div class="col-sm-7">
              <div class="stepHeader">What topic catagory is this Workshop? </div>
              <form [formGroup]="interest1" (ngSubmit)="submitInterests(interest1)">
                <div class="row">
                  <div class="col-sm-12 margin-bottom-30">
                    <div class="row">
                      <div class="col-sm-10">
                        MULTISELECT AUTOCOMPLETE PLACEHOLDER
                      </div>
                      <div class="col-sm-12 margin-top-30">
                        <div class="text-uppercase text-grey margin-bottom-10">Suggested Topics</div>
                      </div>
                      <div class="col-sm-3" *ngFor="let topic of suggestedTopics">
                        <div class="lookingFor interest">
                          <label class="check">
                            <input type="checkbox"
                                    (change)="changeInterests(topic)">
                                    <i></i>
                          </label>
                          <div class="lookingFor-thumb">
                            <i class="topic.id"></i>
                          </div>
                          <span class="lookingForTitle">{{ topic.name }} - {{topic.type}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="onboarding-btn btn btn-lg btn-default">Next</button>
              </form>
            </div>
          </div>
        </div>
        <!-- step 4 ends here  -->
        <div class="onboarding step-5" [hidden]="step!=5">
          <div class="row">
            <div class="col-sm-12">
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <div class="row">
                  <div class="col-sm-12 margin-bottom-30">
                    <div class="form-group">
                      <label class="display-block">Name to Your workshop</label>
                      <input type="text" class="form-control" formControlName="title" />
                    </div>
                  </div>
                  <div class="col-sm-12 margin-bottom-30">
                    <div class="form-group">
                      <label class="display-block">Give a descriptive one liner sentence</label>
                      <input type="text" class="form-control" formControlName="headline" />
                    </div>
                  </div>
                </div>
                <button class="onboarding-btn btn btn-lg btn-default" type="Submit">Next</button>
              </form>
            </div>
          </div>
        </div>
        <!-- step 5 ends here -->
        <div class="onboarding step-6" [hidden]="step!=6">
          <div class="row">
            <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
              <div class="row">
                <div class="col-sm-12 margin-bottom-30">
                  <div class="form-group">
                    <label class="display-block">What we’ll teach</label>
                    <textarea class="form-control" maxlength="200" formControlName="description"></textarea>
                    <span class="text-right text-grey display-block margin-top-5">max. 200 chars</span>
                  </div>
                </div>
              </div>
              <button class="onboarding-btn btn btn-lg btn-default" type="Submit">Next</button>
            </form>
          </div>
        </div>
        <!-- step 6 ends here -->
        <div class="onboarding step-7" [hidden]="step!=7">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="title">Who should come</h1>
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <div class="col-sm-12 margin-bottom-30">
                  <select class="form-control" formControlName="difficultyLevel">
                      <option [value]="">--Select--</option>
                      <option *ngFor="let d of difficulties" [value]="d">{{d}} </option>
              </select>
                </div>
                <div class="col-sm-12 margin-bottom-30">
                  <div class="form-group">
                    <label class="display-block">Notes</label>
                    <textarea class="form-control" maxlength="5000" formControlName="notes"></textarea>
                    <span class="text-right text-grey display-block margin-top-5">max. 5000 chars</span>
                  </div>
                </div>
                <button class="onboarding-btn btn btn-lg btn-default" type="Submit">Next</button>
              </form>
            </div>
          </div>
        </div>
        <!-- step 7 ends here -->
        <div class="onboarding step-8" [hidden]="step!=8">
          <div class="row">
            <div class="col-sm-7">
              <div class="stepHeader">How many learners? </div>
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <div class="col-sm-12 margin-bottom-30">
                  <input type="number" formControlName="maxSpots">
                </div>
                <button class="onboarding-btn btn btn-lg btn-default" type="Submit">Next</button>
              </form>
            </div>
          </div>
        </div>
        <!-- step 8 ends here -->
        <div class="onboarding step-9" [hidden]="step!=9">

          <div class="row">
            <div class="col-sm-7">
              <div class="stepHeader">Showcase your workshop</div>
              <div class="row">
                <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)" novalidate>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="stepHeader">Upload Video</div>
                      <span class="label label-warning" [hidden]="!workshopVideoPending">Pending</span>
                      <span class="label label-success" [hidden]="workshopVideoPending">Success</span>
                      <image-upload [max]="1" [buttonCaption]="'Upload Video'" [dropBoxMessage]="''" (onFileUploadFinish)="workshopVideoUploaded($event)"></image-upload>
                      <div class="stepHeader">Upload Images</div>
                      <span class="label label-warning" [hidden]="!workshopImage1Pending">Pending</span>
                      <span class="label label-success" [hidden]="workshopImage1Pending">Success</span>
                      <image-upload [max]="1" [buttonCaption]="'Upload Image'" [dropBoxMessage]="''" (onFileUploadFinish)="workshopImageUploaded($event)"></image-upload>
                      <span class="label label-warning" [hidden]="!workshopImage2Pending">Pending</span>
                      <span class="label label-success" [hidden]="workshopImage2Pending">Success</span>
                      <image-upload [max]="1" [buttonCaption]="'Upload Image'" [dropBoxMessage]="''" (onFileUploadFinish)="workshopImageUploaded($event)"></image-upload>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <button class="onboarding-btn btn btn-lg btn-default" type="Submit">Next</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- step 9 ends here -->
        <div class="onboarding step-10" [hidden]="step!=10">
          <div class="row">
            <div class="col-sm-12">
              <div class="stepHeader">What days are your workshop?</div>
              <form [formGroup]="timeline" (ngSubmit)="submitTimeline(timeline)" novalidate>
                <div formGroupName="calendar">
                  <div class="row">
                    <div class="col-sm-6 margin-bottom-30">
                      <input type="date" formControlName="startDate">
                    </div>
                    <div class="col-sm-6 margin-bottom-30">
                      <input type="date" formControlName="endDate">
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="timeline.controls.calendar.value.endDate && timeline.controls.calendar.value.endDate">
                  <workshop-content [itenary]="timeline.controls.contentGroup" [collectionId]="workshopId" [calendar]="timeline.controls.calendar.value">
                  </workshop-content>
                </div>
                <div class="row">
                  <div class="col-md-4 col-md-offset-8">
                    <button class="onboarding-btn btn btn-lg btn-default" type="Submit">Next</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="onboarding step-11" [hidden]="step!=11">
          <div class="row">
            <div class="col-sm-12">
              <div class="stepHeader">Are you open for appointments?</div>
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <appointment-calendar></appointment-calendar>
                <button class="onboarding-btn btn btn-lg btn-default" type="Submit">Next</button>
              </form>
            </div>
          </div>
        </div>
        <div class="onboarding step-12" [hidden]="step!=12">
          <div class="row">
            <div class="col-sm-12">
              <div class="stepHeader">What is the price of the workshop?</div>
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <div class="col-sm-12 margin-bottom-30">
                  Price:
                  <input type="number" formControlName="price">
                  <select formControlName="cancellationPolicy">
                      <option *ngFor="let c of currencies" [value]="c">{{c}} </option>
                </select>
                </div>

                <div class="col-sm-12 margin-bottom-30">
                  Cancellation Policy:
                  <select class="form-control" formControlName="cancellationPolicy">
                      <option [value]="">--Select--</option>
                      <option *ngFor="let c of cancellationPolicies" [value]="c.value">{{c.text}} </option>
                </select>
                </div>
                <button class="onboarding-btn btn btn-lg btn-default" type="Submit">Next</button>
              </form>
            </div>
          </div>
        </div>
        <div class="onboarding step-13" [hidden]="step!=13">
          <div class="row">
            <div class="col-sm-12">
              <div class="stepHeader">Review and submit</div>
              <button (click)="submitForReview()"> Submit for Review</button>

              <div class="margin-20">
                <pre>{{workshop.value | json}}</pre>
                <pre>{{timeline.value | json}}</pre>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>