<!--<div class="mat-dialog-focus-trap"></div>
    <div class="verification-section margin-top-20" id="content">
        <div class="maincontent">
            <div class="position-relative step-2 [hidden]="step!=2">
                <form [formGroup]="peer">
                    <md-dialog-content> 
                        <div class="col-md-8 col-md-offset-2">  
                            <div class="verification-box drop-shadow">
                            <button class="md-fab roundFab col-md-offset-5 margin-bottom-40" type="button">
                                <i class="fa fa-envelope-o fa-3x" style="color:#FF5B5F" aria-hidden="true"></i>
                            </button>
                            <h2 class="headline">How can we reach you securely?</h2>
                            <p class="description1 margin-bottom-40">Please let us know how we can reach you on phone.</p>
                            <md-input-container style="width:50% !important" class="pb-block margin-bottom-60 margin-top-20">
                            <input type="number" mdInput #phone formControlName="phone" placeholder="Phone Number"/>
                            </md-input-container>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-md-8 col-md-offset-2 bottom-section clearfix">
                            <div class="pull-right">
                                <button md-raised-button color="accent" (click)="continue(3)" [disabled]="peer.controls.phone.invalid && phone.value.length == 0">Continue</button>
                            </div>
                            </div>
                        </div>
                    </md-dialog-content>
                </form>
            </div>

            <div class="position-relative step-3" [hidden]="step!=3">
                    <form [formGroup]="otp">
                      <md-dialog-content>
                      <div class="col-md-8 col-md-offset-2 position-relative">
                        <div class="verification-box drop-shadow">
                            <button class="md-fab roundFab col-md-offset-5 margin-bottom-40" type="button">
                              <i class="fa fa-key fa-3x" style="color:#FF5B5F" aria-hidden="true"></i>
                            </button>
                          
                              <h2 class="headline">Enter the OTP sent to your email</h2>
                            <p class="description1 margin-bottom-40">We have sent to 6 digit code to {{email.value}}. Please enter this code or click the link in your email to verify your email address.
                              Users on Peerbuds need to verify their email IDs to receive notifications and updates from the platform.</p>
                            <md-input-container style="width:20% !important" class="pb-block margin-bottom-10">
                                <input type="number" mdInput #inputOTP formControlName="inputOTP"/>
                            </md-input-container>
                            <div>
                              <p class="description1"> <a (click)="resendOTP()" style="cursor: pointer;">Resend code</a> please wait at least 5 minutes before<br/>
                              requesting another code or <a style="cursor: pointer;" (click)="continue(2)">Change Email</a></p>
                          </div>
                      </div>
                    </div>
                    <div class="pull-right">
                        <button md-raised-button color="accent" (click)="verifyPhone()" [disabled]="inputOTP.value.length!=6">Verify Phone</button>
                      </div>
                  </md-dialog-content>
                    </form> 
                  </div>
    </div>
    </div>
-->
<p> phone dialog here</p>
