<div class="mat-dialog-focus-trap"></div>
<section id="content" class="maincontent">
 <div class="signin-header">
       </div>
       <div class="col-md-offset-4 col-md-4 logincontent">
       <section class="page-padding row">
       <div class="page-signin">
       <div class="signin-form mat-whiteframe-z1">
       <div class="md-content__body extra-padding">

<form [formGroup]="loginForm" class="form-horizontal"> 
   <md-dialog-content>
       <div class="flex-body">
           <div class="flex-column spacer">
               <div class="margin-bottom-20">
                       <a md-raised-button class="btn-width-large btn-block" style="font-size:17px;color:#484848;padding-top:10px;padding-bottom:10px;" href="{{config.apiUrl}}/auth/facebook?returnTo=/">
                           <i class="fa fa-facebook circle-icon"></i>&nbsp;Continue with Facebook</a>
                   </div>

                   <div class="margin-bottom-20">
                       <a md-raised-button class="btn-width-large btn-block" style="font-size:17px;color:#484848;padding-top:10px;padding-bottom:10px;" href="{{config.apiUrl}}/auth/google?returnTo=/">
                           <i class="fa fa-google circle-icon"></i>&nbsp;&nbsp;&nbsp;Continue with Gmail</a>
                   </div>
                   <div class="btn-hide position-relative margin-bottom-20 text-center">
                           <div class="or-seperator-vertical"></div>
                           <span class="round-or-text or-text-vertical">or</span>
                       </div>

                   <div class="margin-bottom-20">
                       <md-input-container class="pb-block">
                           <input mdInput placeholder="Email" formControlName="email">
                       </md-input-container>
                   </div>
                   <div class="margin-bottom-20">
                       <md-input-container class="pb-block">
                           <input mdInput placeholder="Password" formControlName="password" type="password">
                       </md-input-container>
                   </div>
                   <div class="margin-bottom-20">
                        <button md-raised-button class="loginbtn btn-width-large vertical-bottom" style="font-size:17px;padding-top:10px;padding-bottom:10px;" type="submit" (click)="login()"><span class="txtcolor">Log In</span></button><br><br>
                        <a class="link margin-top-10" (click)="getpwd()" style="font-size: 17px;color: #767676;">Forgot password?</a>&nbsp;<a href="/signup.html" style="font-size:17px;">Sign up</a>

                   </div>
               </div>
               </div>
       </md-dialog-content>
        </form>
        </div>
       </div>
</div>
</section>
</div>
</section>

<!-- <div class="view-container layout-column flex ownpage" layout="column">
        <section id="content" class="main-content">
            <div class="signin-header">
            </div>
            <section class="page-padding row">
                <div class="page-signin">
                    <div class="signin-form mat-whiteframe-z1">
                        <div class="md-content__body extra-padding">
                            <form class="form-horizontal" [formGroup]="loginForm">
                                <div class="margin-bottom-20">
                                    <a md-raised-button class="btn-width-large btn-block mat-facebook" href="http://localhost:3000/auth/facebook?returnTo=/">
                                        <i class="fa fa-facebook"></i> Login with Facebook</a>
                                </div>
    
                                <div class="margin-bottom-20">
                                    <a md-raised-button class="btn-width-large btn-block md-button md-raised mat-google-plus" href="http://localhost:3000/auth/google?returnTo=/">
                                        <i class="fa fa-google"></i> Login with Gmail</a>
                                </div>
                                <div class="margin-bottom-20">
                                    <md-input-container class="pb-block">
                                        <input mdInput placeholder="Email" formControlName="email">
                                    </md-input-container>
                                </div>
                                <div class="margin-bottom-20">
                                    <md-input-container class="pb-block">
                                        <input mdInput placeholder="Password" formControlName="password" type="password">
                                    </md-input-container>
                                </div>
    
                                <div class="text-center margin-bottom-20">
                                    <button md-raised-button class="btn-width-medium vertical-bottom" color="primary" type="submit" (click)="login()"><span>Log In</span></button> &emsp;
                                    <a md-raised-button class="btn-width-medium vertical-middle" href="/signup.html"><span>Sign up</span></a>
                                    <br><br>
                                    <a href="#" class="link display-block margin-top-10" style="font-size: 10px;">Forgot password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div> -->