<div class="mat-dialog-focus-trap"></div>
<form [formGroup]="recurring"> 
    <button md-button class="mat-icon-button" type="button" (click)="dialogRef.close()"><md-icon class="mat-icon material-icons mat-icon-small">close</md-icon></button>
    <div style="display: inline-block">
        <h3 md-dialog-title>Repeat your {{ duration }} day workshop</h3>
    </div>
    <br>
    <div style="margin: -12px 0 20px 45px;">
        <span>{{calendars.length}} Existing Cohorts</span> &emsp;
        <a href="javascript:void(0);" (click)="viewCohorts()">View all</a>
    </div>
    <hr style="margin-top: 0px;">
    <md-dialog-content>
        <div class="row">
            <div class="col-md-6">
                <label>After your first cohort ends, the next cohort starts...</label><br><br>
                <md-radio-group class="repeat-workshop-group" formControlName="repeatWorkshopGroupOption" (change)="repeatFrequency($event.value)">
                    <md-radio-button class="repeat-workshop-button margin-bottom-10" value="immediate"> 
                        <span>Immediately</span>
                    </md-radio-button>
                    <md-radio-button class="repeat-workshop-button margin-bottom-10" value="days"> 
                        <span class="valignMiddle">after</span>
                        &nbsp;&nbsp;<md-select formControlName="days" class="widthDays padding-top-0">
                            <md-option *ngFor="let day of daysOption" [value]="day">{{day}}</md-option>
                        </md-select>
                        <span class="valignMiddle">&nbsp;&nbsp;days</span>
                    </md-radio-button>
                    <md-radio-button class="repeat-workshop-button margin-bottom-10" value="weekdays"> 
                        <span class="valignMiddle">from the next</span>
                        &nbsp;&nbsp;<md-select formControlName="weekdays" class="padding-top-0">
                            <md-option *ngFor="let day of weekDayOption" [value]="day.value">{{day.text}}</md-option>
                        </md-select>
                    </md-radio-button>
                </md-radio-group>
                <div class="margin-Top-50 flex-column">
                    <label>It will continue repeating up to..</label><br>
                    <md-radio-group class="repeat-workshop-group" formControlName="repeatTillOption" (change)="repeatTill($event.value)">
                        <md-radio-button class="repeat-workshop-button margin-bottom-10" value="daysRepeat"> 
                            &nbsp;&nbsp;<md-select formControlName="daysRepeat" class="widthDays padding-top-0">
                                <md-option *ngFor="let day of daysOption" [value]="day">{{day}}</md-option>
                            </md-select>
                            <span class="valignMiddle">&nbsp;&nbsp;more sessions</span>
                        </md-radio-button>
                        <md-radio-button class="repeat-workshop-button margin-bottom-10" value="monthsRepeat"> 
                            &nbsp;&nbsp;<md-select formControlName="monthsRepeat" class="widthDays padding-top-0">
                                <md-option *ngFor="let month of monthOption" [value]="month">{{month}}</md-option>
                            </md-select>
                            <span class="valignMiddle">&nbsp;&nbsp;more months</span>
                        </md-radio-button>
                        <md-radio-button class="repeat-workshop-button margin-bottom-10" value="dateRepeat"> 
                            <span class="valignMiddle">the date</span>
                            &nbsp;&nbsp;<md-input-container>
                            <input mdInput [mdDatepicker]="dateRepeat" formControlName="dateRepeat">
                            <md-datepicker-toggle mdSuffix [for]="dateRepeat"></md-datepicker-toggle>
                            </md-input-container>
                            <md-datepicker #dateRepeat></md-datepicker>
                        </md-radio-button>
                    </md-radio-group>
                    <div class="margin-top-20">
                        <button md-raised-button color="primary" (click)="saveCalendar()" [disabled]= "recurringCount == 0">Save Workshop Batches</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mat-content border-calendar calendar">
                    <div class="flex flexContainer">
                        <div class="col-md-7">
                        <h3 class="calendarTitle">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                        </div>
                    
                        <span class="flex"></span>
                    
                        <div class="prevNext">
                        <button md-button class="mat-icon-button" type="button" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                            <md-icon class="" aria-hidden="true">chevron_left</md-icon>
                        </button>
                    
                        <button md-button class="mat-icon-button" type="button" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                            <md-icon class="" aria-hidden="true">chevron_right</md-icon>
                        </button>
                        </div>
                    </div>
                    
                    <div [ngSwitch]="view">
                        <mwl-calendar-month-view
                        *ngSwitchCase="'month'"
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        (dayClicked)="dayClicked($event.day)">
                        </mwl-calendar-month-view>
                    </div>
                    </div>
                    <div [ngClass]="{'clickedDate' : true, 'displayNone' : !dateClicked, 'displayBlock': dateClicked}">
                        <div style="margin: 15px 0px;" [ngClass]="{'displayFlex': dateClicked}">
                            <span class="cal-day-badge"></span>
                            <span>{{ clickedDate | date:'EEE, MMM dd' }}</span>
                        </div>
                        <div *ngFor="let key of objectKeys(eventsForTheDay)">
                            <div class="displayFlex event" *ngFor="let event of eventsForTheDay[key]">
                                <span>{{ event.start | date:'hh:mm' }}</span>
                                <span><b>{{ event.start | date:'a' | lowercase}}</b></span>
                                &emsp;
                                <span>{{ parseTitle(event.title)[0] | titlecase }}</span>
                            </div>
                            <hr>
                        </div>
                    </div>
                <div class="margin-top-30 flex-column" *ngIf="computedConflict.length > 0">
                    <h3>Avoid Conflicts</h3>
                    <div>
                        <label>{{computedConflict.length}} of your workshop sessions will have conflicts with<br/> existing calendar events.</label>
                    </div>
                    <div class="margin-top-20 margin-bottom-20">
                        <button md-raised-button (click)="viewConflict()" color="grey">View Conflict</button>
                    </div>
                </div>
                <div class="margin-top-30 flex-column" *ngIf="recurringCount">
                    <h3>Peerbuds Insights</h3>
                    <div>
                        <label>You will have total of {{ recurringCount }} recurring sessions</label>
                    </div>
                    <div class="margin-top-20">
                        <label>Your workshop will run for {{ recurringCount }} of the next {{nextDays}} days</label>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>
    
</form>
<div class="mat-dialog-focus-trap"></div>