<md-toolbar>
  <span class="pull-left">
    <a href="#" class="brand" aria-label="Peerbuds Homepage">
          <img src="/assets/images/pb_logo.png" alt="logo">
    </a>
  </span>
  <span class="header-search-box">
    <input name="search" id="headerSearch" class="form-control header-search" placeholder="Search people, topic..."
    />
  </span>
  <span class="pull-right">
    <button md-button [mdMenuTriggerFor]="headerTeachMenu" *ngIf="(isLoggedIn | async)">
      Teach
    </button>
    <button md-button [mdMenuTriggerFor]="headerLearnMenu" *ngIf="(isLoggedIn | async)">
      Learn
    </button>
    <button md-button [mdMenuTriggerFor]="headerNotificationsMenu" *ngIf="(isLoggedIn | async)">
      <md-icon>notifications</md-icon>
    </button>
    <button md-button [mdMenuTriggerFor]="headerUserMenu" *ngIf="(isLoggedIn | async)">
      <div class="circle-thumb">
        <img src="{{ profile.picture_url }}" alt="A" class="thumb-35">
      </div>
    </button>
    <button md-button  href="/signup.html" *ngIf="!(isLoggedIn | async)">
      Sign Up
    </button>
    <button md-button [routerLink]="['/login']" *ngIf="!(isLoggedIn | async)">
      Log In
    </button>
  </span>
</md-toolbar>

<md-menu #headerTeachMenu>
  <button md-menu-item>
    Dashboard
  </button>
  <button md-menu-item [routerLink]="['/teaching']">
    Teaching Journey
  </button>
  <button md-menu-item [routerLink]="['/transactions']">
    Transaction History
  </button>
  <button md-menu-item [routerLink]="['/session']">
    Enable Sessions
  </button>
  <button md-menu-item [routerLink]="['/console/teaching/workshops']">
    Create a Workshop
  </button>
  <button md-menu-item [routerLink]="['/console/teaching/experience']">
    Create an Experience
  </button>
  <button md-menu-item [routerLink]="['/calendar']">
    Calendar
  </button>
</md-menu>

<md-menu #headerLearnMenu>
  <button md-menu-item>
    Dashboard
  </button>
  <button md-menu-item [routerLink]="['/transactions']">
    Transaction History
  </button>
  <button md-menu-item [routerLink]="['/workshop-console']">
    Workshops
  </button>
  <button md-menu-item [routerLink]="['/experience-console']">
    Experiences
  </button>
  <button md-menu-item [routerLink]="['/calendar']">
    Calendar
  </button>
</md-menu>


<md-menu #headerNotificationsMenu>
  <div class="notificationsDiv dropdown-menu notification-sub-box">
    <ul id="notificationsUL"></ul>
    <div class="noNotiExists">
      <div class="notificationLiContent">
        <span class="text-grey conDesc">No notifications</span>
      </div>
    </div>
    <div class='seeAllLi hide'><a class='seeAllAnc' href="${baseUrl}/notifications/all-notifications">See All</a></div>
  </div>
</md-menu>

<md-menu #headerUserMenu>
  <button md-menu-item [routerLink]="['/editProfile']">
    Edit Profile
  </button>
  <button md-menu-item [routerLink]="['/settings']">
    Account Settings
  </button>
  <button md-menu-item [routerLink]="['/bookmarks']">
    Bookmarks
  </button>
  <button md-menu-item (click)="authService.logout()">
    Logout
  </button>
</md-menu>