.mat-elevation-header .headerButtons {
    color: #767676;
}

.mat-elevation-header .headerButtons .mat-button-focus-overlay {
    background: none;
}

.mat-dialog-container {
  padding-bottom: 0 !important;
}

.notifDot {
  color: #ff5b5f;
  font-size: 10px;
  position: relative;
  margin-left: -15px;
  top: -8px;
}