<div class="modal-body">
  <div class="position-relative">
    <button type="button" class="close" aria-label="Close" (click)="seeDatesExperienceModal.hide()">&times;</button>
    <div class="session-join-content">
      <h3 class="session-head">When can you attend?</h3>
      <div class="seperate-section" *ngFor="let experience of experiences">
        <div *ngFor="let calendar of experience.calendars">
          <button class="btn btn-success session-join-btn">Choose Dates</button>
          <div class="fs-18 margin-bottom-20">{{ calendar.startDate | date: 'EEE, MMM dd' }} - {{ calendar.endDate | date: 'EEE, MMM dd' }}</div>
          <a href="javascript:void(0);" class="fs-13 text-link display-inline-block margin-bottom-10" (click)="toggleSession(1);">View schedule</a>
          <div class="session-list-box">
            <div class="session-list" *ngFor="let content of calendar.contents">
              <span class="display-inline-block margin-bottom-10">{{ content.schedules[0].startDate | date: 'EEE, MMM dd' }}</span><br>
              <span class="display-inline-block">{{ content.schedules[0].startTime | date:'h:mm a' }} - {{ content.schedules[0].endTime | date:'h:mm a' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>