md-input-container md-icon {
    position: absolute;
    top: 5px;
    left: 2px;
    }

.page-signin
{
	width: 600px;
	height: 100px;
    padding: 5px 6px 0 6px;
}

.logincontent{
	width: 600px;
	overflow: disable;
}

.maincontent{
	min-height: 30vh;
}

.loginbtn{
	background-color: #ff5b5f;
}

.txtcolor{
	color: #fff;
}

