md-input-container md-icon {
    position: absolute;
    top: 5px;
    left: 2px;
    }

.maincontent{
	min-height: 30vh;
}

.loginbtn{
	background-color: #ff5b5f;
}

.txtcolor{
	color: #fff;
}

dialog1{
    padding: 34px;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: auto;
    max-width: 80vw;
    outline: 0;
    width: 400px !important;
    }