 <div class="mat-dialog-focus-trap"></div>

 
  <form [formGroup]="forgotpwdForm" class="form-horizontal"> 
   <md-dialog-content>
    <div class="dialog1">
    <div>
     <md-input-container class="pb-block">
      <input mdInput placeholder="Email" formControlName="email">
     </md-input-container>
    </div>
    <div>
     <button md-raised-button class="loginbtn btn-width-large vertical-bottom" type="submit" (click)="getpwd()"><span class="txtcolor">Request for password</span></button><br><br>          
    </div>
    </div>
   </md-dialog-content>
  </form>

 
 