<div class="mat-dialog-focus-trap"></div>
<div class="row">
    <div class="col-md-12">
        <button md-button class="mat-icon-button dialog-close-button" type="button" (click)="dialogRef.close()"><md-icon class="mat-icon material-icons mat-icon-small">close</md-icon></button>
        <div style="display: inline-block">
            <h3 md-dialog-title>{{getAddOrEditText()}} project activity for {{itenaryForm.value.date | date: 'MMM dd, y'}}</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    </div>
</div>
<div *ngIf="lastIndex>-1">
    <form [formGroup]="itenaryForm.controls.contents.controls[lastIndex]">
        <md-dialog-content>
            <div class="row">
                <div class="col-sm-12 margin-bottom-30">
                    <md-input-container class="pb-block margin-top-20 margin-bottom-20">
                        <input mdInput #title formControlName="title" placeholder="Project Title" class="title" [required]="true">
                    </md-input-container>

                    <div formGroupName="schedule" class="margin-top-20 margin-bottom-20">
                        <md-form-field class="dateStyles">
                            <input mdInput [mdDatepicker]="endDayDatePicker" placeholder="Deadline" formControlName="endDay" [required]="true">
                            <md-datepicker-toggle mdSuffix [for]="endDayDatePicker" class="svgStyle"></md-datepicker-toggle>
                        </md-form-field>
                        <md-datepicker touchUi="true" #endDayDatePicker></md-datepicker>
                    </div>

                    <div class="form-group margin-top-40">
                        <label>Upload a photo/video that best describes this content</label>
                        <div class="upload-image-section imageHolder">
                            <div class="loading-container" [hidden]="!uploadingVideo">
                                <ngx-loading [show]="true"></ngx-loading>
                            </div>
                            <p-fileUpload *ngIf="!uploadingVideo" #fubauto name="image" customUpload="true" (uploadHandler)="imageUploadNew($event)" maxFileSize="10000000" chooseLabel="Browse" accept="image/*,video/*" ></p-fileUpload>
                            <md-grid-list cols="2" rowHeight="100px" gutterSize="10px" *ngIf="mediaObject && mediaObject.hasOwnProperty('type') && mediaObject.hasOwnProperty('url')">
                                <md-grid-tile>
                                <!-- <div style="position: absolute; cursor: pointer;">
                                    <md-icon (click)="deleteFromContainer(urlForVideo, 'video')" style="color: black;">close</md-icon>
                                </div> -->
                                    <img *ngIf="mediaObject.type.includes('image')" src="{{config.apiUrl + mediaObject.url}}" width="150" (error)="imgErrorHandler($event)">
                                    <video *ngIf="mediaObject.type.includes('video')" controls width="150" style="border: 0.5px solid #ccc" preload="metadata">
                                        <source src="{{config.apiUrl + mediaObject.url}}"> Your browser does not support the video tag.
                                    </video>
                                    <md-icon (click)="deleteFromContainer(mediaObject.url, '')" class="delete-button">close</md-icon>
                                </md-grid-tile>
                            </md-grid-list>
                        </div>
                    </div>

                    <md-input-container class="pb-block margin-top-20 margin-bottom-20">
                        <textarea mdInput #description maxlength="500" rows="5" formControlName="description" placeholder="What will we do?" [required]="true"></textarea>
                        <md-hint align="end">{{description.value.length}} / 500</md-hint>
                    </md-input-container>

                    <md-input-container class="pb-block margin-top-20 margin-bottom-20">
                        <textarea mdInput #prerequisites maxlength="500" rows="5" formControlName="prerequisites" placeholder="What do learners need to know?" [required]="true"></textarea>
                        <md-hint align="end">{{prerequisites.value.length}} / 500</md-hint>
                    </md-input-container>

                    <div class="form-group">
                        <label class="display-block">Add supporting material</label>
                        <!-- <div *ngIf="filesToUpload">
                            <progressbar [max]="filesToUpload" [value]="filesUploaded">
                                <span style="color:#337ab7; white-space:nowrap;"> Uploading... <span style="color:white; white-space:nowrap;">{{filesUploaded}} / {{filesToUpload}}</span>                            </span>
                            </progressbar>
                        </div> -->
                        <div class="loading-container" [hidden]="!uploadingAttachments">
                            <ngx-loading [show]="true"></ngx-loading>
                        </div>
                        <p-fileUpload *ngIf="!uploadingAttachments" name="attachments" accept="application/pdf,application/msword,
                        application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/*,video/*" customUpload="true" (uploadHandler)="uploadNew($event)" maxFileSize="10000000" (onClear)="resetNewUrls($event)" (onRemove)="itemEditRemoved($event)">
                            <ng-template pTemplate="toolbar">
                                    <div style="font-size: 80%; margin-top: 5px;">You can upload a maximum of 1 image/video</div>
                            </ng-template>
                            
                        </p-fileUpload>
                        <!-- <ng-template pTemplate="content"> -->
                        <md-grid-list cols="1" gutterSize="10px" rowHeight="50px" *ngIf="attachmentUrls.length">
                            <md-grid-tile *ngFor="let file of attachmentUrls">
                                <div style="float: left; margin-right: 15px; cursor: pointer;">
                                    <md-icon (click)="deleteFromContainer(file, 'file')" class="">close</md-icon>
                                </div>
                                <a href="{{config.apiUrl + file}}">{{file}}</a>
                            </md-grid-tile>
                        </md-grid-list>
                        <!-- </ng-template> -->
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <button md-raised-button [md-dialog-close]="getSaveDialogData()" color="accent" *ngIf="!isEdit" [disabled]="title.value.length==0 && endDay == null && description.value.length == 0 && prerequisites.value.length == 0">Save</button> &emsp;
            <button md-raised-button [md-dialog-close]="getEditDialogData()" color="accent" *ngIf="isEdit">Update</button> &emsp;
            <button md-button [md-dialog-close]="getDiscardDialogData()" *ngIf="!isEdit">Discard</button>
            <button md-button [md-dialog-close]="getDeleteDialogData()" *ngIf="isEdit">Delete</button>
        </md-dialog-actions>
    </form>
</div>
<div class="mat-dialog-focus-trap"></div>