<h3 mat-dialog-title>{{getAddOrEditText()}} project activity for {{itenaryForm.value.date | date: 'MMM dd, y'}}</h3>
<button mat-button class="pull-right" style="cursor: pointer; position: relative; top: -50px; right: -20px;" [mat-dialog-close]="getCloseDialogData()" *ngIf="isEdit">
    <mat-icon style="color: #777777; font-size: 20px;">close</mat-icon>
</button>
<div *ngIf="lastIndex>-1">
    <form [formGroup]="itenaryForm.controls.contents.controls[lastIndex]">
        <mat-dialog-content>
            <div class="row">
                <div class="col-sm-12 margin-bottom-30">
                    <mat-input-container class="pb-block margin-top-20 margin-bot-20">
                        <input matInput #title formControlName="title" placeholder="Project Title" class="title" [required]="true">
                    </mat-input-container>

                    <div formGroupName="schedule" class="margin-top-20 margin-bot-20">
                        <mat-form-field class="dateStyles">
                            <input matInput [matDatepicker]="endDayDatePicker" placeholder="Deadline" formControlName="endDay" [required]="true">
                            <mat-datepicker-toggle mdSuffix [for]="endDayDatePicker" class="svgStyle"></mat-datepicker-toggle>
                        </mat-form-field>
                        <mat-datepicker touchUi="true" #endDayDatePicker></mat-datepicker>
                    </div>

                    <div class="form-group margin-top-40">
                        <label>Upload a photo/video that best describes this content</label>
                        <div class="upload-image-section imageHolder">
                            <p-fileUpload #fubauto name="image" customUpload="true" (uploadHandler)="imageUploadNew($event)" maxFileSize="10000000" auto="true" chooseLabel="Browse"></p-fileUpload>
                        </div>
                    </div>

                    <mat-input-container class="pb-block margin-top-20 margin-bot-20">
                        <textarea matInput #description maxlength="500" rows="5" formControlName="description" placeholder="What will we do?" [required]="true"></textarea>
                        <mat-hint align="end">{{description.value.length}} / 500</mat-hint>
                    </mat-input-container>

                    <mat-input-container class="pb-block margin-top-20 margin-bot-20">
                        <textarea matInput #prerequisites maxlength="500" rows="5" formControlName="prerequisites" placeholder="What do learners need to know?" [required]="true"></textarea>
                        <mat-hint align="end">{{prerequisites.value.length}} / 500</mat-hint>
                    </mat-input-container>

                    <div class="form-group">
                        <label class="display-block">Add supporting material</label>
                        <div *ngIf="filesToUpload">
                            <progressbar [max]="filesToUpload" [value]="filesUploaded">
                                <span style="color:#337ab7; white-space:nowrap;"> Uploading... <span style="color:white; white-space:nowrap;">{{filesUploaded}} / {{filesToUpload}}</span>                            </span>
                            </progressbar>
                        </div>
                        <p-fileUpload name="attachments" customUpload="true" (uploadHandler)="uploadNew($event)" multiple="multiple" maxFileSize="10000000" (onClear)="resetNewUrls($event)" (onRemove)="itemEditRemoved($event)">
                            <ng-template pTemplate="toolbar">
                                    <div style="font-size: 80%; margin-top: 5px;">You can upload a maximum of 1 image/video</div>
                            </ng-template>
                            <ng-template pTemplate="content">
                                <mat-grid-list cols="2" rowHeight="100px" gutterSize="10px" *ngIf="urlForVideo">
                                    <!-- <mat-grid-tile *ngFor="let file of urlForVideo"> -->
                                    <div style="position: absolute; cursor: pointer;">
                                        <mat-icon (click)="deleteFromContainer(urlForVideo, 'video')" style="color: black;">close</mat-icon>
                                    </div>
                                    <video controls width="150" style="border: 0.5px solid #ccc" preload="metadata">
                                        <source src="{{config.apiUrl + urlForVideo}}"> Your browser does not support the video tag.
                                    </video>
                                    <!-- </mat-grid-tile> -->
                                </mat-grid-list>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-raised-button [mat-dialog-close]="getSaveDialogData()" color="accent" *ngIf="!isEdit" [disabled]="title.value.length==0 && endDay == null && description.value.length == 0 && prerequisites.value.length == 0">Save</button> &emsp;
            <button mat-raised-button [mat-dialog-close]="getEditDialogData()" color="accent" *ngIf="isEdit">Update</button> &emsp;
            <button mat-button [mat-dialog-close]="getDiscardDialogData()" *ngIf="!isEdit">Discard</button>
            <button mat-button [mat-dialog-close]="getDeleteDialogData()" *ngIf="isEdit">Delete</button>
        </mat-dialog-actions>
    </form>
</div>