<md-nav-list>
    <md-list-item *ngFor="let title of sidebarMenuItems">
        <h3 md-subheader [ngClass]="{'sidebar-brand' : true, 'disabled' : title.title == 'Review & Submit' && step != 14}" *ngIf="title.visible" >
            <a (click)=goto(title.step) [class.active]="title.step == step">{{title.title}}</a>
        </h3>
        <h4 md-line class="childItem" *ngFor="let submenu of title.submenu">
            <a *ngIf="submenu.visible" [style.pointer-events]= "title.title == 'Review & Submit' && step != 14 ? 'none' : 'visible'" (click)=goto(submenu.step) [class.active]="submenu.step == step">{{submenu.title}}</a>
        </h4>
        <hr class="sidenav-divider" *ngIf="title.visible && title.title !== 'Review & Submit'">
    </md-list-item>
</md-nav-list>