<div class="row">
  <div class="col-md-12">
    <div *ngIf="!loaded" class="center">
      <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" *ngIf="loaded">
    <div class="row">
      <div>
        <div style="margin-top:20px;" class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <button mat-raised-button color="accent" (click)="saveProfile()" class="pull-right" style="margin-bottom: 20px;">
                Update Profile
              </button>
            </div>
          </div>
          <div class="row" style="margin-right: 110px; line-height: 120%">
            <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
              <mat-input-container class="pb-block" style="margin-bottom: 20px">
                <input matInput formControlName="first_name" type="text" placeholder="First Name" required>
                <mat-error>This field is required</mat-error>
                <mat-hint align="start">Your public profile only shows your first name.</mat-hint>
              </mat-input-container>
              <mat-input-container class="pb-block" style="margin-bottom: 20px">
                <input matInput formControlName="last_name" type="text" placeholder="Last Name" required>
                <mat-error>This field is required</mat-error>
                <mat-hint align="start"> When you request a booking, your host will see your first and last name.</mat-hint>
              </mat-input-container>
              <mat-input-container class="pb-block" style="margin-bottom: 20px">
                <input matInput formControlName="headline" type="text" placeholder="Profile Credential" required>
                <mat-error>This field is required</mat-error>
                <mat-hint align="start">Ex. mechanical engineer, electric car enthusiast</mat-hint>
                <mat-hint align="end">{{profileForm.value.headline.length}} / 200</mat-hint>
              </mat-input-container>
              <br>
              <mat-form-field>
                  <mat-select placeholder="Gender" style="margin-bottom: 20px" formControlName="gender">
                    <mat-option [value]="'Male'">Male</mat-option>
                    <mat-option [value]="'Female'">Female</mat-option>
                  </mat-select>
              </mat-form-field>
              <br><br>
              <mat-form-field>
                <mat-select placeholder="Birth Month" style="margin-bottom: 20px" formControlName="dobMonth">
                  <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Day" style="margin-bottom: 20px" formControlName="dobDay">
                  <mat-option *ngFor="let day of days" [value]="day">{{day}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Year" style="margin-bottom: 20px" formControlName="dobYear">
                  <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
                </mat-select>
              </mat-form-field>
              <br><br>
              <mat-input-container class="pb-block" style="margin-bottom: 20px">
                <input matInput formControlName="email" type="email" placeholder="Email Address" required>
                <mat-error>This field is required</mat-error>
                <mat-hint align="start">We wonʼt share your private email address with other peerbuds users. Learn more.</mat-hint>
              </mat-input-container>
              <div formArrayName="phones">
                <p>Phone Numbers</p>
                <mat-form-field *ngFor="let phoneNumber of profileForm.controls['phones'].controls; let i=index" class="pb-block" style="margin-bottom: 20px">
                  <mat-icon (click)="deletePhoneNumber(i)" style="cursor: pointer;font-size: 100%;" class="lighterText pull-right">
                    close
                  </mat-icon>
                  <input matInput formControlName="{{i}}" type="tel" placeholder="Phone Number" required>
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
                <mat-hint align="start">This is only shared once you have a confirmed booking with another peerbuds user. This is how we can all
                  get in touch.</mat-hint>
              </div>
              <div style="margin-bottom: 10px; cursor: pointer" (click)="addPhoneControl()">
                <a>+ Add a phone number</a>
              </div>
              <br>
              <mat-form-field>
                <mat-select placeholder="Preferred Language" style="margin-bottom: 20px" formControlName="preferred_language">
                  <mat-option *ngIf="!languages">languages not available</mat-option>
                  <mat-option *ngFor="let language of languages" [value]="language.code">{{language.name}}</mat-option>
                  <mat-hint align="start">We'll send you messages in this language.</mat-hint>
                </mat-select>
              </mat-form-field>
              <br><br><br>
              <mat-form-field>
                <mat-select placeholder="Preferred Currency" style="margin-bottom: 20px" formControlName="currency">
                  <mat-option *ngIf="!currencies">currencies not available</mat-option>
                  <mat-option *ngFor="let currency of currencies" [value]="currency.code">{{currency.name}}</mat-option>
                  <mat-hint align="start">Weʼll show you prices in this currency.</mat-hint>
                </mat-select>
              </mat-form-field>
              <br><br>
              <mat-input-container class="pb-block" style="margin-bottom: 20px">
                <input matInput formControlName="location_string" type="text" placeholder="Where do you live" required>
                <mat-error>This field is required</mat-error>
              </mat-input-container>
              <mat-input-container class="pb-block" style="margin-bottom: 20px">
                <textarea matInput #description formControlName="description" rows="4" placeholder="Describe yourself" required></textarea>
                <mat-error>This field is required</mat-error>
                <mat-hint align="start">Peerbuds is built on relationships. Help other people get to know you. Tell them about the things you like:
                  What are 5 things you canʼt live without? Share your favorite travel destinations, books, movies, shows,
                  music, food. Tell them what itʼs like to have you as a learner or teacher: Whatʼs your style of learning?
                  Of peerbuds teaching? Tell them about you: Do you have a life motto?</mat-hint>
                <mat-hint align="end">{{description.value.length}} / 1000</mat-hint>
              </mat-input-container>

              <div style="margin-top: 90px; margin-bottom: 20px; color: #333333;">
                Additional Details
              </div>
              <div style="font-weight: 600; margin-bottom: 25px;">
                Work Experience
              </div>

              <div formArrayName="work" class="well well-lg">
                <div *ngFor="let workObj of profileForm.controls['work'].controls; let i=index" [formGroupName]="i">
                  <mat-input-container>
                    <input matInput formControlName="position" type="text" placeholder="Position">
                    <!-- <mat-error>This field is required</mat-error> -->
                  </mat-input-container>
                  <mat-input-container>
                    <input matInput formControlName="company" type="text" placeholder="Company">
                    <!-- <mat-error>This field is required</mat-error> -->
                  </mat-input-container>
                  <mat-form-field>
                    <input matInput formControlName="startDate" [matDatepicker]="startPicker" placeholder="Choose a date">
                    <mat-datepicker-toggle mdSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                  </mat-form-field>
                  <!-- <mat-error>This field is required</mat-error> -->
                  <mat-form-field>
                    <input matInput formControlName="endDate" [matDatepicker]="endPicker" placeholder="Choose a date">
                    <mat-datepicker-toggle mdSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                  </mat-form-field>
                  <mat-icon (click)="deletework(i)" style="cursor: pointer;font-size: 100%;" class="lighterText">
                    close
                  </mat-icon>
                </div>
              </div>
              <div style="margin-bottom: 10px; cursor: pointer" (click)="addwork()">
                <a>+ Add another work detail</a>
              </div>
              <div style="font-weight: 600; margin-bottom: 25px;">
                Education
              </div>
              <div formArrayName="education">
                <div *ngFor="let educationObj of profileForm.controls['education'].controls; let i = index" [formGroupName]="i">
                  <mat-input-container>
                    <input matInput formControlName="degree" type="text" placeholder="Degree">
                    <!-- <mat-error>This field is required</mat-error> -->
                  </mat-input-container>
                  <mat-input-container>
                    <input matInput formControlName="school" type="text" placeholder="School / College">
                    <!-- <mat-error>This field is required</mat-error> -->
                  </mat-input-container>
                  <mat-form-field>
                    <mat-select placeholder="Start Year" style="margin-bottom: 20px;width: 200px" formControlName="startYear">
                      <mat-option *ngFor="let syear of years" [value]="syear">{{syear}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="End Year" style="margin-bottom: 20px;width: 200px" formControlName="endYear">
                      <mat-option *ngFor="let eyear of years" [value]="eyear">{{eyear}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-icon (click)="deleteeducation(i)" style="cursor: pointer;font-size: 100%;" class="lighterText">
                    close
                  </mat-icon>
                </div>
              </div>

              <div style="margin-bottom: 10px; cursor: pointer" (click)="addeducation()">
                <a>+ Add another education detail</a>
              </div>
              <mat-form-field>
                <mat-select placeholder="Timezone" style="margin-bottom: 20px" formControlName="timezone">
                  <mat-option *ngFor="let timezone of timezones" [value]="timezone.value">{{timezone.text}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-hint align="start">Your home time zone.</mat-hint>
              <div formArrayName="other_languages">
                <p>Other languages</p>
                <div *ngFor="let languageObj of profileForm.controls['other_languages'].controls; let i=index" class="pb-block" style="margin-bottom: 20px">
                  <mat-icon (click)="deleteLanguage(i)" style="cursor: pointer;font-size: 100%;" class="lighterText pull-right">
                    close
                  </mat-icon>
                  <mat-form-field>
                    <mat-select matInput placeholder="Languages" class="pb-block" style="margin-bottom: 20px" formControlName="{{i}}">
                      <mat-option *ngFor="let language of languages" [value]="language.name">{{language.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <mat-hint align="start">Add any languages that others can use to speak with you on peerbuds.</mat-hint>
              </div>
              <div style="margin-bottom: 10px; cursor: pointer" (click)="addlanguage()">
                <a>+ Add a Language</a>
              </div>
              <mat-input-container style="margin-bottom: 20px" class="pb-block">
                <input matInput formControlName="vat_number" type="text" placeholder="VAT Number">
                <mat-error>This field is required</mat-error>
                <mat-hint align="start">For European Union users or users in other countries for which VAT applies, VAT will be assessed on our Service
                  Fees. If you live in a country where we need to charge VAT, you will not be charged VAT if you enter a
                  valid VAT ID Number. Visit VAT FAQs »</mat-hint>
              </mat-input-container>
              <div formArrayName="emergency_contact">
                <mat-input-container *ngFor="let emergency_contact_number of profileForm.controls['emergency_contact'].controls; let i = index;"
                  style="margin-bottom: 20px" class="pb-block">
                  <mat-icon (click)="deleteEmergencyContact(i)" style="cursor: pointer;font-size: 100%;" class="lighterText pull-right">
                    close
                  </mat-icon>
                  <input matInput formControlName="{{i}}" type="tel" placeholder="Emergency Contact">
                  <!-- <mat-error>This field is required</mat-error> -->
                </mat-input-container>
                <mat-hint align="start">Give our Customer Experience team a trusted contact we can alert in an urgent situation.</mat-hint>
                <div style="margin-bottom: 10px; cursor: pointer" (click)="addEmergencyContact()">
                  <a>+ Add Emergency Contact Number</a>
                </div>
              </div>
              <mat-checkbox class="example-margin" formControlName="isAdmin">
                Is Admin
              </mat-checkbox>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>