<div md-dialog-content class="dialog-container">
  <div class="row">
    <div class="col-md-12 collectionContent">
      <button disableRipple md-button style="min-width: 20px;padding: 0px 10px 0px 0px;vertical-align: middle;" (click)="dialogRef.close()">
        <md-icon class="mat-icon material-icons mat-icon-small">close</md-icon>
      </button>
      <div class="mat-display-1" style="margin-bottom: 20px;">
        Participants ({{data.participants.length}})
      </div>
    </div>
  </div>
  <hr>
  <div>
    <div class="row" *ngFor="let participant of data.participants">
      <div *ngIf="participant.profiles">
        <div class="col-md-1 vcenter">
          <img src="{{config.apiUrl+participant.profiles[0].picture_url}}" style="margin-left: 0px;" class="circle-thumb" alt="dp" (error)="_collectionService.imgErrorHandler($event)">
        </div>
        <div class="col-md-6 vcenter">
          <b>{{participant.profiles[0].first_name +' '+participant.profiles[0].last_name }}</b> &emsp;
          <span *ngIf="participant.profiles[0].headline">{{participant.profiles[0].headline}}</span>
        </div>
        <div class="col-md-3 vcenter">
          <md-progress-bar [mode]="'determinate'" [value]="10">
          </md-progress-bar>
        </div>
        <div class="col-md-1 vcenter">
          <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon style="color: #cccccc; font-size: 80%;">more_vert</md-icon>
          </button>
          <md-menu #menu="mdMenu">
            <!--<button md-menu-item (click)="messageParticipant(participant)">Message</button>-->
            <button md-menu-item (click)="removeParticipant(participant.id)">Remove</button>
            <button md-menu-item (click)="reportProfile(participant.id)">Report</button>
          </md-menu>
        </div>
      </div>
    </div>
  </div>
</div>