.upcoming-card{
  text-align: center;
  padding: 20px;
  min-height: 420px;
}

.collectionTitle{
  cursor:pointer;
}
.draft-card{
  text-align: center;
  padding: 20px;
  height: 310px;
}


.mat-icon-button .mat-icon, .mat-icon-button i {
  color: #777777;
}