<div class="loading-container" style="width:60%" *ngIf="loading">
  <ngx-loading [show]="true"></ngx-loading>
</div>
<div class="row" *ngIf="!loading">
  <div class="col-md-12">
    <div class="row">
      <div>
        <div style="margin-top:20px;" class="col-md-12">
          <div class="row" style="margin-right: 20px;">
            <md-tab-group>
              <md-tab label="Reviews About You">
                <div style="margin-top: 25px; margin-bottom: 50px;" class="lightText">
                  Reviews are written at the end of the workshop or experience or session through peerbuds. Reviews you have received will
                  be visible both here and on your public profile.
                </div>
                <div class="review-section" *ngFor="let review of profile.peer[0].reviewsAboutYou">
                  <div *ngIf="review.peer !== undefined">
                    <div class="review-top">
                      <div class="review-thumb pull-left">
                        <img src="{{ review.peer[0].profiles[0].picture_url}}" alt=" " class="circle-thumb" (error)="consoleProfileComponent.imgErrorHandler($event)">
                      </div>
                      <div class="reviewer">
                        <div class="reviewer-name">{{ review.peer[0].profiles[0].first_name + ' ' + review.peer[0].profiles[0].last_name }}</div>
                        <div class="reviewer-headline">{{ review.peer[0].profiles[0].headline }}</div>
                      </div>
                    </div>
                    <div class="review-content">
                      <div class="review-bottom lightText">
                        <span>{{ getReviewedCollection(profile.peer[0], review.collectionId).type | titlecase}} :
                          <a href="javascript:;">{{ getReviewedCollection(profile.peer[0], review.collectionId).title }}</a>
                        </span>
                        <span class="bullet">
                          <p-rating [(ngModel)]="review.score" [cancel]="false" [readonly]="true"></p-rating>
                        </span>
                        <span class="bullet">{{ getReviewedCalendar(getReviewedCollection(profile.peer[0], review.collectionId).calendars, review.collectionCalendarId).startDate
                          | date: 'dd MMM' }} - {{ getReviewedCalendar(getReviewedCollection(profile.peer[0], review.collectionId).calendars,
                          review.collectionCalendarId).endDate | date: 'dd MMM' }}</span>
                      </div>
                      <div class="review-desc">{{ review.description }}</div>
                    </div>
                  </div>
                </div>
              </md-tab>
              <md-tab label="Reviews By You">
                <div style="margin-top: 25px; margin-bottom: 50px;" class="lightText">
                  Reviews are written at the end of the workshop or experience or session through peerbuds. Reviews you have received will
                  be visible both here and on your public profile.
                </div>
                <div class="review-section-title" *ngIf="getPendingReviewCollections(profile.peer[0]) !== undefined && getPendingReviewCollections(profile.peer[0]).length > 0">
                  Reviews To Write
                </div>
                <div class="row" style="margin-left: -12px; margin-bottom: 20px;" *ngIf="getPendingReviewCollections(profile.peer[0]) !== undefined && getPendingReviewCollections(profile.peer[0]).length > 0">
                  <div>
                    <div style="margin-top:20px;" class="col-md-12">
                      <div class="row">
                        <div *ngFor="let collection of getPendingReviewCollections(profile.peer[0])" [ngSwitch]="collection.status">
                          <ng-template #topicName>{{collection.topics[0].name | titlecase}}</ng-template>
                          <ng-template #noTopicText>No Topics</ng-template>
                          <div class="col-md-4" style="margin-top: 20px;" *ngSwitchCase="'complete' || 'canceled'">
                            <md-card style="text-align: center; padding: 20px;">
                              <md-card-content>
                                <div class="clearfix" style="text-align: right">
                                  <div class="pull-right">
                                    <a md-button [mdMenuTriggerFor]="collectionCardMenu" style="text-align: right; padding: 0px">
                                      <md-icon>more_vert</md-icon>
                                    </a>
                                  </div>
                                </div>
                                <div style="text-align: center">
                                  <div class="pull-left">
                                    <md-chip-list class="cardTypeChip">
                                      <md-chip class="smallChip" [color]="'accent'" *ngIf="collection.type == 'workshop'">W</md-chip>
                                      <md-chip class="smallChip" [color]="'accent'" *ngIf="collection.type == 'experience'">E</md-chip>
                                      <md-chip class="smallChip" [color]="'accent'" *ngIf="collection.type == 'session'">S</md-chip>
                                    </md-chip-list>
                                  </div>
                                </div>
                                <div class="collectionParticipantImageCarousel">
                                  <div class="image-inline" *ngFor="let participant of collection.participants">
                                    <img src="{{ participant?.profiles[0].picture_url }}" alt=" " class="circle-thumb-overlap" (error)="consoleProfileComponent.imgErrorHandler($event)">
                                  </div>
                                  <div class="image-inline" *ngIf="collection.participants.length === 0">
                                    <img src="/assets/images/user-placeholder.jpg" alt=" " class="circle-thumb-overlap" (error)="consoleProfileComponent.imgErrorHandler($event)">
                                  </div>
                                </div>
                                <div class="participantCount">
                                  <span>{{collection.participants.length}} Participants </span>
                                </div>
                                <div class="collectionTitle">{{ collection.title || 'No Title' }} </div>
                                <md-progress-bar mode="determinate" value="{{_collectionService.getProgressValue(collection)}}"></md-progress-bar>
                                <div class="collectionSubtitle">
                                  {{ _collectionService.calculateNumberOfDays(collection.calendars[0]) }} Days | {{collection.contents.length}} Parts |
                                  <span *ngIf="collection.topics.length > 0; then topicName else noTopicText"></span>
                                </div>
                              </md-card-content>
                              <md-card-actions>
                                <div class="teachingRatingReminder" (click)="_collectionService.viewWorkshop(collection)">
                                  Finish rating 4 other students
                                </div>
                              </md-card-actions>
                              <br>
                              <br>
                              <md-card-footer class="cardFooter">
                                <button md-button (click)="_collectionService.viewTransactions()">View Transactions</button>
                              </md-card-footer>
                            </md-card>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="review-section-title" *ngIf="profile.peer[0].reviewsByYou !== undefined && profile.peer[0].reviewsByYou.length > 0">
                  Reviews You've Written
                </div>
                <div class="review-section" *ngFor="let review of profile.peer[0].reviewsByYou">
                  <div *ngIf="review.reviewedPeer !== undefined">
                    <div class="review-top">
                      <div class="review-thumb pull-left">
                        <img src="{{ review.reviewedPeer[0].profiles[0].picture_url}}" alt=" " class="circle-thumb" (error)="consoleProfileComponent.imgErrorHandler($event)">
                      </div>
                      <div class="reviewer">
                        <div class="reviewer-name">{{ review.reviewedPeer[0].profiles[0].first_name + ' ' + review.reviewedPeer[0].profiles[0].last_name
                          }}
                        </div>
                        <div class="reviewer-headline">{{ review.reviewedPeer[0].profiles[0].headline }}</div>
                      </div>
                    </div>
                    <div class="review-content">
                      <div class="review-bottom lightText">
                        <span>{{ getReviewedCollection(profile.peer[0], review.collectionId).type | titlecase }} :
                          <a href="javascript:;">{{ getReviewedCollection(profile.peer[0], review.collectionId).title }}</a>
                        </span>
                        <span class="bullet">
                          <p-rating [(ngModel)]="review.score" [cancel]="false" [readonly]="true"></p-rating>
                        </span>
                        <span class="bullet">{{ getReviewedCalendar(getReviewedCollection(profile.peer[0], review.collectionId).calendars, review.collectionCalendarId).startDate
                          | date: 'dd MMM' }} - {{ getReviewedCalendar(getReviewedCollection(profile.peer[0], review.collectionId).calendars,
                          review.collectionCalendarId).endDate | date: 'dd MMM' }}</span>
                      </div>
                      <div class="review-desc">{{ review.description }}</div>
                    </div>
                  </div>
                </div>
              </md-tab>
            </md-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<md-menu #collectionCardMenu>
  <button md-menu-item>
    Delete
  </button>
  <button md-menu-item>
    Message Students
  </button>
</md-menu>