<div class="main-content">
  <div class="col-md-10 col-md-offset-1" style="margin-top: 3%; margin-bottom: 5%">
    <nav md-tab-nav-bar>
      <a md-tab-link [routerLink]="'/console/dashboard'" [active]="getActiveTab() === 'dashboard'">
        Dashboard
      </a>
      <!-- <a md-tab-link [routerLink]="'/console/inbox'" [active]="getActiveTab() === 'inbox'">
        Inbox
      </a> -->
      <a md-tab-link [routerLink]="'/console/teaching'" [active]="getActiveTab() === 'teaching'">
        Teaching
      </a>
      <a md-tab-link [routerLink]="'/console/learning'" [active]="getActiveTab() === 'learning'">
        Learning
      </a>
      <a md-tab-link [routerLink]="'/console/profile'" [active]="getActiveTab() === 'profile'">
        Profile
      </a>
      <a md-tab-link [routerLink]="'/console/account'" [active]="getActiveTab() === 'account'">
        Account
      </a>
    </nav>
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
