<div [formGroup]="itenaryForm">
  <div class="row">
    <div class="col-md-12">
      <div style="text-align: center; margin-top: 0px; margin-bottom: 30px;">
        <hr>
        <div style="margin-top: -30px; width: fit-content; background-color: #fff; margin-left: auto; margin-right: auto; padding: 0px 20px;">
          <md-icon>wb_sunny</md-icon>
          <input mdInput [mdDatepicker]="startDatePicker" formControlName="date" [hidden]="true">
          <a *ngIf="!itenaryForm.value.date" style="cursor: pointer; float: right; margin: 5px 0 0 10px;" (click)="startDatePicker.open()">({{showItineraryDate(itenaryForm.value.date)}})</a>
          <a *ngIf="itenaryForm.value.date" style="float: right; margin: 5px 0 0 10px;" >({{showItineraryDate(itenaryForm.value.date)}})</a>
          <md-datepicker touchUi="true" #startDatePicker [startAt]="collectionStartDate"></md-datepicker>
          <a style="cursor: pointer; float: right; margin: 5px 0 0 10px;">
            Day {{itenaryId + 1}}
          </a>
        </div>
        <div style="margin-top: -24px; width: fit-content; background-color: #fff; float: right; padding: 0px 10px;">
          <md-icon style="font-size: 12px; cursor: pointer">close</md-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!itenaryForm.value.date">
    <div class="col-md-12">
      <div style="text-align: center; color: #777777; font-size: 90%;">
        <md-icon style="position: relative; top: 5px;">
          keyboard_arrow_up
        </md-icon>
        Please select a date for this day to continue adding activities...
      </div>
    </div>
  </div>
  <div *ngIf="itenaryForm.value.date">
    <div class="col-md-10" style="padding-left: 0px; margin-bottom: 45px;">
      <div formArrayName="contents">
        <div class="selected-content-label" *ngIf="itenaryForm.controls.contents.controls.length > 0">
          Activity selected
        </div>
        <md-list style="margin-left: -20px">
          <md-list-item *ngFor="let Content of itenaryForm.controls.contents.controls; let i=index" style="margin: 20px 0px; padding: 0px 0px; height: fit-content;">
            <div class="col-md-3" style="padding-left: 0px;" (click)="findAndOpenDialog(i)">
              <img *ngIf="!Content.value.imageUrl" src="/assets/images/placeholder-image.jpg">
              <img *ngIf="Content.value.imageUrl" src="{{config.apiUrl + Content.value.imageUrl}}" (error)="imgErrorHandler($event)">
            </div>
            <div class="col-md-7" (click)="findAndOpenDialog(i)">
              <div class="content-title">{{Content.value.title}}</div>
              <div class="content-subtitle">{{getContentTimeRange(Content)}}</div>
              <br>
              <div class="content-type">{{_collectionService.getContentTypeFullName(Content.value.type) | titlecase }}</div>
            </div>
            <div class="col-md-2">
              <md-icon class="pull-right" *ngIf="itenaryForm.controls.contents.controls.length > 0" (click)="removeContent(i)" style="font-size: 12px; color: #777777;">close</md-icon>
              <md-icon class="pull-right" *ngIf="itenaryForm.controls.contents.controls.length > 0" (click)="findAndOpenDialog(i)" style="font-size: 12px; color: #777777;">mode_edit</md-icon>
            </div>
            <!--<div class="col-md-2 pull-right">
              <span class="label label-warning" [hidden]="!Content.value.pending">Pending</span>
              <span class="label label-success" [hidden]="Content.value.pending">Success</span>
            </div>-->
          </md-list-item>
        </md-list>
      </div>
    </div>
    <div class="row" style="margin-bottom: 80px; margin-top: 10px;">
      <div class="col-md-12">
        <span class="activity-title">
          Add new activity
        </span>
        &emsp;
        <span class="activity-subtitle">
          (Must have at least one online session)
        </span>
        <br><br>
        <button md-button type="button" (click)="addContent('online'); findAndOpenDialog(-1);" style="padding-left: 0px">
          <md-icon color="accent" style="font-size: 20px">add_circle</md-icon>
          Online Session
        </button>&emsp;

        <button md-button type="button" (click)="addContent('video'); findAndOpenDialog(-1);">
          <md-icon color="accent" style="font-size: 20px">add_circle</md-icon>
          Video
        </button>&emsp;

        <button md-button type="button" (click)="addContent('project'); findAndOpenDialog(-1);">
          <md-icon color="accent" style="font-size: 20px">add_circle</md-icon>
          Project
        </button>&emsp;
      </div>
    </div>
  </div>
</div>