<div md-dialog-content class="dialog-container">
    <form [formGroup]="submitEntryForm" (ngSubmit)="publishView()">
        <div class="row">
            <div class="col-sm-12">
                <button type="button" disableRipple md-button style="min-width: 20px;padding: 0px 10px 0px 0px;vertical-align: middle;" (click)="dialogRef.close()">
                    <md-icon class="mat-icon material-icons mat-icon-small">close</md-icon>
                </button>
                <div class="mat-display-1">Submit your entry to this project</div>
            </div>
            <div class="col-sm-12">
                <button md-button class="mat-border-button">Submit</button>
                <div class="loading-container" [hidden]="!savingDraft">
                    <ngx-loading [show]="true"></ngx-loading>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label class="title fw-bold text-dark-grey margin-top-20 margin-bottom-20">Upload submission file (pdf, doc, jpg, png, gif, mp4 etc.)</label>
            <div class="upload-image-section imageHolder">
                <div class="loading-container" [hidden]="!uploadingImage">
                    <ngx-loading [show]="true"></ngx-loading>
                </div>
                <p-fileUpload *ngIf="!uploadingImage" #fubauto name="image" customUpload="true" (uploadHandler)="uploadImage($event)" maxFileSize="10000000"
                    accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/*,video/*"
                    chooseLabel="Browse" multiple="multiple">
                </p-fileUpload>
                 <h5>Max File Size               <b>10MB</b>             </h5>

                <div *ngIf="urlForImages.length" class="pic delete">
                    <div *ngFor="let file of urlForImages" class="col-md-6 padding-left-0 imageContainer">
                        <img *ngIf="file.type.includes('image')" src="{{config.apiUrl + file.url}}" width="150" style="border: 0.5px solid #ccc; position: relative; top: -20px;">
                        <md-icon *ngIf="file.type.includes('image')" (click)="deleteFromContainer(file.url, 'file')" class="delete-image">close</md-icon>
                        <div *ngIf="file.type.includes('application')" class="uploaded_file">
                            <a href="{{config.apiUrl + file.url}}" target="_blank">{{file.originalFilename}}</a>
                        </div>
                        <md-icon *ngIf="file.type.includes('application')" (click)="deleteFromContainer(file.url, 'file')" class="delete-file">close</md-icon>
                        <video *ngIf="file.type.includes('video')" controls width="150" style="border: 0.5px solid #ccc" preload="metadata">
                            <source src="{{config.apiUrl + file.url}}">
                        </video>
                        <md-icon *ngIf="file.type.includes('video')" (click)="deleteFromContainer(file.url, '')" class="delete-button">close</md-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="col-sm-12">
                <md-input-container class="pb-block margin-bottom-30">
                    <input mdInput #name formControlName="name" placeholder="Submission Name">
                    <md-hint align="end">{{name.value.length}}/200</md-hint>
                </md-input-container>
                <md-input-container class="pb-block margin-bottom-30">
                    <input mdInput #description formControlName="description" type="text" placeholder="Submission Description">
                    <md-hint align="end">{{description.value.length}}/1000</md-hint>
                </md-input-container>
                <div class="margin-bottom-10">
                    <div class="margin-bottom-20; font-weight: 500;">Do you wish to make your submission public?</div>
                    <md-radio-group [formControlName]="'isPrivate'">
                        <md-radio-button value="true">Private</md-radio-button>&emsp;
                        <md-radio-button value="false">Public</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
        </div>
    </form>
</div>