<div class="dialog-container" md-dialog-content>
  <h3 md-dialog-title>
    Add New Topic
  </h3>
  <form [formGroup]="newTopic" (ngSubmit)="addNewTopic()">
    <md-form-field class="form-group" [ngClass]="{'has-error':!newTopic.controls['topicName'].valid}">
      <input mdInput tabindex="1" formControlName="topicName">
    </md-form-field>
    <div>
      <span mdTooltip="Invalid Topic!" [mdTooltipDisabled]="newTopic.valid">
        <button md-button tabindex="2" type="submit" [disabled]="!newTopic.valid">Add</button>
      </span>
      <button md-button tabindex="-1" type="button" (click)="dialogRef.close()">Cancel</button>
    </div>
  </form>
</div>