<div class="main-content">
    <div class="col-md-12 margin-top-80">
        <div class="signup-box">
            <form [formGroup]="signupSocialForm" (ngSubmit)="continueWithSocialSignup(signupSocialForm)" novalidate>
                <div class="">
                    <div class="text-center">
                        <h2 class="headline">Complete your information</h2>
                        <p class="description1">Please review and provide any missing information
                        to finish signing up.</p>
                    </div>
                    <div class="col-md-12 padding-left-0 padding-right-0">
                        <md-form-field style="width:48%">
                            <input mdInput placeholder="First Name" formControlName="first_name">
                        </md-form-field>
                        <md-form-field style="width:48%;margin-left:3%">
                            <input mdInput placeholder="Last Name"  formControlName="last_name">
                        </md-form-field>
                    </div>
                    <div class="col-md-12 padding-left-0 padding-right-0">
                        <md-form-field style="width:100%">
                            <input mdInput placeholder="Email" formControlName="email">
                            <md-error *ngIf="signupSocialForm.hasError('pattern')">
                                Please enter a valid email address
                            </md-error>
                            <md-error *ngIf="signupSocialForm.hasError('required')">
                                Email is <strong>required</strong>
                            </md-error>
                        </md-form-field>
                    </div>
                    <div class="col-md-12 padding-left-0 padding-right-0">
                        <!-- <md-form-field> -->
                            <md-select  class="col-md-4 padding-left-0" placeholder="Month" formControlName="birthMonth" [(ngModel)]="selectedMonth">
                                <md-option value="01">January</md-option>
                                <md-option value="02">February</md-option>
                                <md-option value="03">March</md-option>
                                <md-option value="04">April</md-option>
                                <md-option value="05">May</md-option>
                                <md-option value="06">June</md-option>
                                <md-option value="07">July</md-option>
                                <md-option value="08">August</md-option>
                                <md-option value="09">September</md-option>
                                <md-option value="10">October</md-option>
                                <md-option value="11">November</md-option>
                                <md-option value="12">December</md-option>
                            </md-select>
                        <!-- </md-form-field> -->

                        <!-- <md-form-field> -->
                            <md-select class="col-md-4" placeholder="Day" formControlName="birthDay" [(ngModel)]="selectedDay">
                                <md-option *ngFor="let birthday of birthDay" [value]="birthday">
                                        {{ birthday }}
                                </md-option>
                            </md-select >
                        <!-- </md-form-field> -->
                        <!-- <md-form-field> -->
                            <md-select class="col-md-4" placeholder="Year" formControlName="birthYear" [(ngModel)]="selectedYear">
                                <md-option value="birthyear" *ngFor="let birthyear of birthYear">{{ birthyear }}</md-option>
                            </md-select>
                        <!-- </md-form-field> -->
                    </div>
                    <!-- <div class="checkbox">
                        <label class="checkbox"><input class="promoOptIn" type="checkbox" formControlName="promoOptIn" [checked]="promoOptIn" (change)="promoOptIn = !promoOptIn" /> I'd like to receive promotional communications, including discuonts, surveys, inspiration, and love from Peerbuds via email, SMS, and phone.</label>
                    </div> -->
                    <div>
                        <button md-raised-button type="submit" class="margin-top-40 signupBtn" [disabled]="!signupSocialForm.valid" color="accent">Continue</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>