<div class="mat-dialog-focus-trap"></div>
<div md-dialog-content *ngIf="data.content">
  <div class="row">
    <div class="col-md-12 embed-responsive embed-responsive-16by9">
      <vg-player (onPlayerReady)="onPlayerReady($event)" *ngIf="userType !== 'public'">
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>

          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

          <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

          <vg-track-selector></vg-track-selector>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>

          <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <video [vgMedia]="media" #media id="singleVideo" width="100%" preload="auto" style="max-height: 300px;" crossorigin>
          <source src="{{config.apiUrl+data.content.imageUrl}}" type="video/mp4">
        </video>
      </vg-player>
    </div>
  </div>
  <div class="row margin-top-20">
    <hr>
    <div class="col-md-12">
      <h3>{{data.content.title | titlecase}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        {{data.content.description}}
      </p>
    </div>
  </div>
  <div *ngIf="attachmentUrls.length" class="pic delete">
    <hr>
    <div>
      <b>Supplement Materials</b>
    </div>
    <br>
    <div *ngFor="let file of attachmentUrls" class="col-md-6 padding-left-0 imageContainer">
        <img *ngIf="file.type.includes('image')" src="{{config.apiUrl + file.url}}" width="150" style="border: 0.5px solid #ccc">
        <div *ngIf="file.type.includes('application')" class="uploaded_file">
            <a href="{{config.apiUrl + file.url}}" target="_blank">{{file.originalFilename}}</a>
        </div>
        <video *ngIf="file.type.includes('video')" controls width="150" style="border: 0.5px solid #ccc" preload="metadata">
            <source src="{{config.apiUrl + file.url}}">
        </video>
    </div>
  </div>
  <!--DISCUSSION THREAD-->
  <div class="row Discussion margin-top-20" *ngIf="userType==='teacher' || userType==='participant'">
    <div class="col-md-12 margin-bottom-20">
      <h3 *ngIf="comments !== undefined">Discussion ({{comments.length}})</h3>
      <h3 *ngIf="comments === undefined">Discussion (0)</h3>
      <form [formGroup]="chatForm" (ngSubmit)="postComment()">
        <md-input-container class="full-width" [floatPlaceholder]="false">
          <input mdInput type="text" formControlName="description" placeholder="Post your thoughts on this workshop" tabindex="-1">
        </md-input-container>
        <span mdTooltip="Invalid input!" [mdTooltipDisabled]="chatForm.valid">

          <button md-raised-button color="primary" [disabled]="!chatForm.valid" class="pull-right" tabindex="-1">Post</button>
        </span>
      </form>
    </div>
    <div class="col-md-12">
      <div class="row lighterText" *ngIf="comments !== undefined && comments.length === 0">
        <div class="col-md-12">
          <div class="emptySectionText">Be the first one to start a discussion on this workshop..</div>
        </div>
      </div>
      <div class="margin-top-30"></div>
      <div class="row margin-top-10" *ngFor="let comment of comments; let i=index;">
        <div>
          <div class="col-md-1 margin-top-10" style="text-align: center; color: #cccccc;" [ngClass]="{'hasUpvoted': !!hasUpvoted(comment.upvotes)}">
            <md-icon *ngIf="!hasUpvoted(comment.upvotes)" style="cursor: pointer;" (click)="addCommentUpvote(comment)">arrow_drop_up</md-icon>
            <md-icon *ngIf="hasUpvoted(comment.upvotes)">arrow_drop_up</md-icon>
            <div>
              {{comment.upvotes.length}}
            </div>
          </div>
          <div class="col-md-11">
            <button *ngIf="userType !== 'public'" md-icon-button [mdMenuTriggerFor]="menuComment" style="float: right; margin-right: 15px; margin-top: 15px;"
              tabindex="-1">
              <md-icon style="color: #cccccc">more_vert</md-icon>
            </button>
            <md-menu #menuComment="mdMenu">
              <button *ngIf="userType==='participant'" md-menu-item>
                <md-icon>flag</md-icon>
                <span>Flag</span>
              </button>
              <button *ngIf="userType==='teacher' || isMyComment(comment)" md-menu-item>
                <md-icon>delete</md-icon>
                <span>Delete</span>
              </button>
            </md-menu>
            <div class="mat-body-1">{{comment.description}}</div>
            <div style="margin-top: 10px;" class="" *ngIf="comment.peer.length>0">
              <div style="float: left; margin-left: 15px;">
                <img *ngIf="!comment.peer[0].profiles[0].picture_url" src="/assets/images/avatar.png" alt="A" class="circle-thumb margin-top-5">
                <img *ngIf="comment.peer[0].profiles[0].picture_url" src="{{config.apiUrl+ comment.peer[0].profiles[0].picture_url}}" class="circle-thumb margin-top-5"
                  alt="dp">
              </div>
              <div style="display: inline-block; margin-left: 5px; margin-top: 3px;">
                <div>
                  <div>
                    <span style="font-weight: 500">{{comment.peer[0].profiles[0].first_name}} {{comment.peer[0].profiles[0].last_name}}</span>&nbsp;&nbsp;
                  </div>
                </div>
                <div class="">
                  <span class="lighterText">{{comment.createdAt |extractTime:'Do MMMM, YYYY'}}</span>
                </div>
              </div>
            </div>
            <div style="margin-top: 10px;" *ngIf="!(replyForm && replyingToCommentId===comment.id)">
              <a href="javascript:void(0);" (click)="createReplyForm(comment)">
                <md-icon style="top: 5px;">reply</md-icon> Reply</a>
            </div>
            <div class="col-md-11 col-md-offset-1 margin-top-30" *ngIf="replyForm && replyingToCommentId===comment.id" style="margin-left: -25px;">
              <form [formGroup]="replyForm" (ngSubmit)="postReply(comment)">
                <img src="/assets/images/avatar.png" alt="A" class="circle-thumb margin-top-5">
                <md-input-container style="margin-left: 15px; width: 88%;">
                  <input mdInput type="text" formControlName="description" placeholder="Reply to above comment..." tabindex="-1">
                </md-input-container>
                <span mdTooltip="Invalid input!" [mdTooltipDisabled]="replyForm.valid">

                  <button [disabled]="!replyForm.valid" md-raised-button class="pull-right" color="primary" tabindex="-1">Post</button>
                </span>
              </form>
            </div>
            <div class="col-md-11 col-md-offset-1 margin-top-10">
              <div class="row margin-top-20" *ngFor="let reply of comment.replies">
                <button *ngIf="userType !== 'public'" md-icon-button [mdMenuTriggerFor]="menuReply" style="float: right; margin-right: 15px; margin-top: 15px;"
                  tabindex="-1">
                  <md-icon style="color: #cccccc;">more_vert</md-icon>
                </button>
                <md-menu #menuReply="mdMenu">
                  <button *ngIf="userType==='participant'" md-menu-item>
                    <md-icon>flag</md-icon>
                    <span>Flag</span>
                  </button>
                  <button *ngIf="userType==='teacher' || isMyComment(reply)" md-menu-item>
                    <md-icon>delete</md-icon>
                    <span>Delete</span>
                  </button>
                </md-menu>
                <div style="text-align: center; display: inline-block; color: #cccccc; vertical-align: top; margin-right: 25px;margin-top: 10px;  margin-left: -60px;"
                  [ngClass]="{'hasUpvoted': !!hasUpvoted(reply.upvotes)}">
                  <md-icon *ngIf="!hasUpvoted(reply.upvotes)" style="cursor: pointer;" (click)="addReplyUpvote(reply)">arrow_drop_up</md-icon>
                  <md-icon *ngIf="hasUpvoted(reply.upvotes)">arrow_drop_up</md-icon>
                  <div>
                    <span *ngIf="reply.upvotes !== undefined">{{reply.upvotes.length}}</span>
                    <span *ngIf="reply.upvotes === undefined">0</span>
                  </div>
                </div>
                <div style="display: inline-block">
                  <div class="mat-body-1">{{reply.description}}</div>
                  <div class="" style="margin-top: 10px;" *ngIf="reply.peer && reply.peer.length>0">
                    <div style="float: left; margin-left: 15px;">
                      <img *ngIf="!reply.peer[0].profiles[0].picture_url" src="/assets/images/avatar.png" alt="A" class="circle-thumb margin-top-5">
                      <img *ngIf="reply.peer[0].profiles[0].picture_url" src="{{config.apiUrl+ reply.peer[0].profiles[0].picture_url}}" class="circle-thumb margin-top-5"
                        alt="dp">
                    </div>
                    <div style="display: inline-block; margin-left: 5px; margin-top: 3px;">
                      <div>
                        <div>
                          <span style="font-weight: 500">{{reply.peer[0].profiles[0].first_name}} {{reply.peer[0].profiles[0].last_name}}</span>&nbsp;&nbsp;
                        </div>
                      </div>
                      <div class="">
                        <span class="lighterText">{{reply.createdAt |extractTime:'Do MMMM, YYYY'}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <hr *ngIf="i !== (comments.length - 1)" class="margin-top-30">
            <div *ngIf="i === (comments.length - 1)" class="margin-top-30"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mat-dialog-focus-trap"></div>