.homefeed a{
    color: black;    
}

.recommendation-thumb{
    object-fit: cover;
    height: 240px;
    width: 200px;
}

.peer-recommendation-thumb{
    object-fit: cover;
    height: 240px;
    width: 185px;
}

.recommendation-card{
width: 230px;
}

.homefeed label{
    color: black;
    font-size: smaller;    
}

.peer-recommendation-card{
    width: 194px;    
}