.homefeed a{
    color: black;  
}

.homefeed{
    padding-top: 30px;
}

.recommendation-thumb{
    object-fit: cover;
    height: 290px;
    width: 100%;
}

.continueLearning-thumb{
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.peer-recommendation-thumb{
    object-fit: cover;
    height: 238px;
    width: 100%;
}

.recommendation-card{
    min-height:1px;
    padding-left: 8px;
    padding-right: 8px;
    width: 20%;
    float: left;
}

.continueLearning-card{
    min-height:1px;
    padding-left: 8px;
    padding-right: 8px;
    width: 33.3%;
    float: left;
}

.homefeed label{
    color: #484848;
    font-size: 12px;
    font-weight: 400;

}

.peer-recommendation-card{
    min-height:1px;
    padding-left: 8px;
    padding-right: 8px;
    width: 16.66%;
    float: left;
}

.workshop-feed .title {
    font-size:17px !important;
    color: #484848 !important;
}

.workshop-feed .headline {
    font-size:16px !important;
    color: #767676 !important;
}

.mat-display-1 {
    margin-bottom: 25px !important;
}
