<div id="content">
  <div *ngIf="workshop">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row workshop-header">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <h1>{{workshop.title}}</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" *ngIf="userType==='teacher'">
                {{calendarDisplay.startDate}} - {{calendarDisplay.endDate}} {{totalDuration}} Hours . {{workshop.contents.length}} parts
                <i class="fa fa-calendar" aria-hidden="true" (click)="changeDates()"> Change Dates</i>
              </div>
              <div class="col-md-12" *ngIf="userType==='public'">
                <p>{{itenaryArray.length}} days / {{totalDuration}} Hours . {{workshop.contents.length}} parts</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row" *ngIf="userType==='teacher'">
              <div class="col-md-11">
                <button type="button" md-button class="pull-right" (click)="joinGroupChat()">  Join Group Chat  </button>
                <button type="button" md-button class="pull-right" (click)="gotoEdit()">  Edit  </button>
              </div>
              <div class="col-md-1">
                <md-icon [mdMenuTriggerFor]="menu">settings</md-icon>
                <md-menu #menu="mdMenu">
                  <button md-menu-item *ngIf="booked" (click)="openDeleteDialog('cancel')">Cancel Workshop</button>
                  <button md-menu-item *ngIf="!booked" (click)="openDeleteDialog('delete')">Delete Workshop</button>
                </md-menu>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row workshop-content">
          <div class="col-md-7 left-content">
            <div class="row About">
              <div class="col-md-8">
                <h2>About this Workshop</h2>
                <h4 *ngIf="userType==='teacher' || userType==='participant'">{{workshop.headline}}
                  <a (click)="workshopVideoDialog()" *ngIf="workshop.videoUrl">
                      Watch Explainer Video <i class="fa fa-play-circle" aria-hidden="true"></i>                      
                    </a>
                </h4>
                <p> {{workshop.description}} </p>
              </div>
            </div>
            <div class="row Topics">
              <div class="col-md-8">
                <md-chip-list>
                  <md-chip class="mat-elevation-z3" *ngFor="let topic of topicFix"> {{topic.name}} </md-chip>
                </md-chip-list>
              </div>
            </div>
            <hr>
            <div class="row Description" *ngIf="userType==='public' || userType==='participant'">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    Who Should Come
                  </div>
                  <div class="col-md-8">
                    <h2>{{workshop.difficultyLevel}} level</h2>
                    <p>{{workshop.notes}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Cancellation Policy </div>
                  <div class="col-md-8">Before {{workshop.cancellationPolicy}} days </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row Itenary">
              <div class="featurette" id="about">
                <div class="col-md-12">
                  <div class="qa-message-list" id="wallmessages">
                    <div class="message-item" *ngFor="let itenary of itenaryArray">
                      <div class="message-inner">
                        <div class="qa-message-content">
                          <div class="row">
                            <div class="col-md-8" *ngIf="userType==='teacher' || userType==='participant'"> {{itenary.startDate | date:'EEEE, d MMMM'}} </div>
                            <div class="col-md-8" *ngIf="userType==='public'">Day {{itenary.startDay}}</div>
                          </div>
                          <div class="row" *ngFor="let content of itenary.contents" (click)="openDialog(content)">
                            <div class="col-md-6" style="object-fit:contain">
                              <br>
                              <br>
                              <img *ngIf="content.type!=='video'" class="img-responsive center-block mat-elevation-z4 itenary-media" src="{{config.apiUrl+content.imageUrl}}">
                              <video *ngIf="content.type==='video'" class="center-block mat-elevation-z4 itenary-media" src="{{config.apiUrl+content.imageUrl}}"
                                preload="metadata"></video>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-12">
                                  <h2> {{content.title}}</h2>
                                  <h4> {{content.type}} content </h4>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <p> {{content.description | shorten: 115 : '...read more'}} </p>
                                </div>
                              </div>
                              <div class="row" *ngIf="content.type==='online' && (userType==='teacher' || userType==='participant')">
                                <div class="col-md-12">
                                  <button md-button *ngIf="isLive(content)" (click)="joinSession(content)">Join</button>
                                  <button md-button *ngIf="!isLive(content)" [disabled]="true">{{content.timetoSession}}</button>
                                </div>
                              </div>
                            </div>
                            <br>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row Discussion" *ngIf="userType==='teacher' || userType==='participant'">
              <div class="col-md-12">
                <h2>Discussion</h2>
                <form [formGroup]="chatForm" (ngSubmit)="postMessage()">
                  <md-input-container class="fullwidth">
                    <input mdInput type="text" formControlName="message" placeholder="Post your thoughts in this project">
                  </md-input-container>
                  <!-- <input type="checkbox" class="checkbox" formControlName="announce">Make announcement -->
                  <button type="submit" [disabled]="!chatForm.valid" md-button class="pull-right">Submit</button>
                </form>
              </div>
              <div class="col-md-12">
                <!-- [[DISSCUSSION]] -->
              </div>
            </div>
            <div class="row Reviews">
              <div class="row">
                <div class="col-md-2">
                  <h4>Reviews ({{workshop.reviews.length}})</h4>
                </div>
                <div class="col-md-10">
                  <p-rating [ngModel]="userRating" readonly="true" stars="5" [cancel]="false"></p-rating>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-11 col-md-offset-1">
                  <div class="row" *ngFor="let review of workshop.reviews;let i=index">
                    <div class="col-md-12" [hidden]="i>noOfReviews">
                      <div class="row">
                        <div class="col-md-2">
                          <img src="{{config.apiUrl+ review.peer[0].profiles[0].picture_url}}" class="img-circle review-thumb" alt="dp">
                        </div>
                        <div class="col-md-10">
                          <div class="col-md-12">
                            <h4>{{review.peer[0].profiles[0].first_name + review.peer[0].profiles[0].last_name}}</h4>
                          </div>
                          <div class="col-md-12">
                            <p>{{review.createdAt | date:'mediumDate'}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          {{review.description}}
                        </div>
                      </div>
                      <br>
                    </div>
                  </div>
                  <div class="row" *ngIf="workshop.reviews.length>3">
                    <div class="col-md-12">
                      <hr>
                      <a [hidden]="noOfReviews!==4" (click)="toggleReviews()">See all {{workshop.reviews.length}} reviews</a>
                      <a [hidden]="noOfReviews===4" (click)="toggleReviews()">See fewer reviews</a>
                      <hr>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row Eligibility" *ngIf="userType==='teacher'">
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-4">
                    <h4>Who Should Come</h4>
                  </div>
                  <div class="col-md-6">
                    <h4>{{workshop.difficultyLevel}}</h4>
                    <p>{{workshop.notes}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-4">
                    <h4>Cancellation Policy</h4>
                  </div>
                  <h4>
                    <div class="col-md-6">{{workshop.cancellationPolicy}} days</div>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-offset-1 right-content">
            <div class="md-whiteframe-z1">
              <md-toolbar class="md-theme-default md-whiteframe-z1">
                <div class="mat-toolbar-tools" *ngIf="userType==='teacher'">
                  <h2 class="">Attendies</h2>
                </div>
              </md-toolbar>
              <div class="mat-content">
                <div class="md-content__body" *ngFor="let participant of workshop.participants; let i=index">
                  <div *ngIf="participant.profiles && i<4">
                    <div class="col-md-2">
                      <img src="{{config.apiUrl+participant.profiles[0].picture_url}}" class="img-circle profile-thumb" alt="dp">
                    </div>
                    <div class="col-md-4">
                      {{participant.profiles[0].first_name +' '+participant.profiles[0].last_name }}
                    </div>
                    <div class="col-md-4" *ngIf="participant.profiles[0].work">{{participant.profiles[0].work[0].position}}</div>
                  </div>
                </div>
                <div class="md-content__body">
                  <a (click)="viewParticipants()"> View All Peers </a>
                </div>
              </div>
            </div>
            <hr>
            <div class="md-whiteframe-z1">
              <md-toolbar class="md-theme-default md-whiteframe-z1">
                <div class="mat-toolbar-tools" *ngIf="userType==='teacher'">
                  <div class="mat-titles">
                    <h2>Recurring Workshop</h2>
                    <p class="text-muted h6">Every 50 sessions</p>
                  </div>
                  <span class="flex"></span>
                  <button md-button (click)="editCalendar()" class="mat-icon-button pull-right"><md-icon>edit</md-icon></button>
                </div>
              </md-toolbar >
              <div class="mat-content border-calendar calendar">
                <div class="flex flexContainer">
                  <div class="col-md-4">
                    <h3 class="calendarTitle">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                  </div>

                  <span class="flex"></span>

                  <div class="prevNext">
                    <button md-button class="mat-icon-button" type="button" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                      <md-icon class="" aria-hidden="true">chevron_left</md-icon>
                    </button>

                    <button md-button class="mat-icon-button" type="button" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                      <md-icon class="" aria-hidden="true">chevron_right</md-icon>
                    </button>
                  </div>
                </div>

                <!-- <mwl-calendar-month-view-header
                  [days]="columnHeaders"
                  [locale]="locale"
                  [customTemplate]="headerTemplate">
                </mwl-calendar-month-view-header> -->

                <div [ngSwitch]="view">
                  <mwl-calendar-month-view
                    *ngSwitchCase="'month'"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    (dayClicked)="dayClicked($event.day)">
                  </mwl-calendar-month-view>
                </div>
              </div>
              <div [ngClass]="{'clickedDate' : true, 'displayNone' : !dateClicked, 'displayBlock': dateClicked}">
                <div [ngClass]="{'displayFlex': dateClicked}">
                  <span class="cal-day-badge"></span><h4>{{ clickedDate | date:'EEE, MMM dd' }}</h4>
                </div>
                <div class="displayFlex event" *ngFor="let event of events">
                  <span>{{ event.start | date:'hh:mm' }}</span>
                  <span><b>{{ event.start | date:'a' | lowercase}}</b></span>
                  <span class="flex"></span>
                  <span>{{ event.title }}</span>
                </div>
              </div>
            </div>
            <hr *ngIf="userType==='public'">
            <div class="row" *ngIf="userType==='public'">
              <div class="row">
                <div class="col-md-12">
                  <div class="mat-elevation-z4">
                    <carousel>
                      <slide>
                        <video autoplay loop muted height="800px" class="center-block" src="{{config.apiUrl+workshop.videoUrl}}" (click)="workshopVideoDialog()"></video>
                      </slide>
                      <slide *ngFor="let imageUrl of workshop.imageUrls">
                        <img src="{{config.apiUrl+imageUrl}}" class="img-responsive center-block" style="max-height: 100%" alt="First slide">
                      </slide>
                    </carousel>
                  </div>
                  <h4>
                    {{workshop.headline}}
                  </h4>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <h4>Taught By</h4>
                  <div class="row">
                    <div class="col-md-3">
                      <img src="{{config.apiUrl+workshop.owners[0].profiles[0].picture_url}}" class="img-circle">
                    </div>
                    <div class="col-md-9">
                      <div class="row">
                        <div class="col-md-12">
                          {{workshop.owners[0].profiles[0].first_name}} {{workshop.owners[0].profiles[0].last_name}}
                        </div>
                        <div class="col-md-12" *ngIf="workshop.owners[0].profiles[0].work">
                          {{workshop.owners[0].profiles[0].work[0].position}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p>{{workshop.aboutHost}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-1">
                        <md-icon>schedule</md-icon>
                      </div>
                      <div class="col-md-11">
                        <h6>{{totalDuration}} hours in total</h6>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="col-md-1">
                        <md-icon>mic</md-icon>
                      </div>
                      <div class="col-md-11">
                        <h6>Offered in {{workshop.language[0]}}</h6>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="col-md-1">
                        <md-icon>dvr</md-icon>
                      </div>
                      <div class="col-md-11">
                        <h6>{{getContentCount('project')}} Project</h6>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="col-md-1">
                        <md-icon>play_circle_outline</md-icon>
                      </div>
                      <div class="col-md-11">
                        <h6>{{getContentCount('video')}} Recorded Videos</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-12">
                      <p><i class="fa fa-usd" aria-hidden="true"></i> {{workshop.price}} per person</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <p-rating [ngModel]="userRating" readonly="true" stars="5" [cancel]="false"></p-rating>
                    </div>
                    <div class="col-md-6">
                      <h6>{{workshop.reviews.length}} Reviews</h6>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <button md-raised-button (click)="selectJoiningDates()" class="full-width mat-accent">Dates</button>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-4">
                <a>Invite</a>
              </div>
              <div class="col-md-4">
                <span class="glyphicon glyphicon-bookmark" aria-hidden="true">Bookmark</span>
              </div>
              <div class="col-md-4">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="row workshop-suggestions" *ngIf="userType!=='teacher'">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <h3>Similar Workshops</h3>
              </div>
            </div>
            <div class="row">
              <div class="12">
                <ul class="list-inline recommendation-list">
                  <li *ngFor="let collection of recommendations.collections">
                    <md-card class="recommendation-card">
                      <img *ngIf="collection.imageUrls.length>0" md-card-image src="{{config.apiUrl+collection.imageUrls[0]}}" class="recommendation-thumb">
                      <div class="container">
                        <div class="col-md-12">
                          <p>{{collection.calendars[0].startDate | date:'mediumDate'}}</p>
                        </div>
                        <div class="col-md-12">
                          <h4>{{collection.title}}</h4>
                        </div>
                        <div class="col-md-12">
                          <p-rating [ngModel]="collection.rating" readonly="true" stars="5" [cancel]="false"></p-rating>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <img src="{{config.apiUrl+ collection.owners[0].profiles[0].picture_url}}" class="img-circle profile-thumb">
                          </div>
                          <div class="col-md-10">
                            <p>{{collection.owners[0].profiles[0].first_name}} {{collection.owners[0].profiles[0].last_name}}</p>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <p>{{collection.participants.length}} . {{collection.topics[0].name}}</p>
                        </div>
                      </div>
                    </md-card>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>