<div id="content">
  <div class="overlay"></div>

  <left-sidebar [menuFile]="sidebarFilePath" (menuArray)="getMenuArray($event)"></left-sidebar>
  <!-- Page Content -->
  <div class="container col-sm-10 col-md-10 col-lg-10 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
    <div class="content-container col-sm-10 col-md-10 col-lg-10">
      <div style="margin-top:-40px;" class="col-md-4 col-md-offset-10"><button type="button" class="btn btn-secondary" (click)="saveandexit()">Save &amp; Exit</button></div>
      <br/>
      <!--Disclaimer-->
      <div class="onboarding step-1" [hidden]="step!=1">
        <div class="row">
          <div class="col-sm-6">
            <h1 class="title">Peerbuds Workshop Guidelines</h1>
            <p class="fs-18 text-grey lh-24">We value the quality of content taught on Peerbuds platform and expect all workshop hosts to follow strict guidelines
              towards their content.
            </p>
            <ol class="guideline-points text-grey">
              <li>Respect Others</li>
              <li>Respect Others</li>
              <li>Respect Others</li>
              <li>Respect Others</li>
            </ol>
            <div class="margin-top-50">
              <a href="javascript:;" (click)="goto(2)" class="text-agree"><i class="fa fa-check"></i> I agree, lets create a workshop</a>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="row hide">
        <div class="col-md-10 col-md-offset-1" [hidden]="step==1">
          <progressbar [max]="max" [value]="step">
            <span style="color:white; white-space:nowrap;">{{step}} / {{max}}</span>
          </progressbar>
        </div>
      </div>-->
      <div class="container-fluid clearfix">
        <!-- step 1 starts here -->
        <div class="onboarding step-2" [hidden]="step!=2">
          <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
              <div class="title fw-bold">What topics does this Workshop cover?</div>
              <p class="text-grey">Select topic that this workshop covers</p>
              <br/>
              <form [formGroup]="interest1" (ngSubmit)="submitInterests(interest1)">
                <div class="row">
                  <div class="col-sm-12 margin-bottom-30">
                    <div class="row">
                      <div class="col-sm-10">
                        <multiselect-autocomplete (selectedOutput)="selected($event)" (removedOutput)="removed($event)" [preSelectedTopics]=interests
                          [searchUrl]=searchTopicURL [create]=true [createURL]=createTopicURL [title]=placeholderStringTopic
                          [maxSelection]=maxTopics></multiselect-autocomplete>
                        <!--formArrayName="interests"-->
                      </div>
                    </div>
                    <div class="row">
                      <span class="col-sm-4" style="padding-left: 30px;">{{maxTopicMsg}}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 margin-top-30">
                    <div class="text-uppercase text-grey margin-bottom-10">Suggested Topics</div>
                  </div>
                  <div class="col-sm-3">
                    <div class="lookingFor interest">
                      <div class="lookingFor-thumb" style="padding: 60px 60px;">
                        <button class="btn btn-link" type="button" [disabled]="interests.length >= maxTopics" (click)="newTopicModal.show()">Add New Topic</button>
                        <div bsModal #newTopicModal="bs-modal" class="modal fade" [config]="{ ignoreBackdropClick: true }" tabindex="-1" role="dialog"
                          aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-md">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title pull-left">Add New Topic</h4>
                                <button type="button" class="close pull-right" aria-label="Close" (click)="newTopicModal.hide()">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              </div>
                              <div class="modal-body">
                                <form [formGroup]="newTopic" (ngSubmit)="AddNewTopic(newTopic,newTopicModal)">
                                  <label>Provide the Topic Name</label>
                                  <input type="text" formControlName="topicName">
                                  <div style="height:15px"></div>
                                  <button type="submit" class="btn btn-primary btn-sm">Add</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3" *ngFor="let topic of suggestedTopics">
                    <div class="lookingFor interest">
                      <label class="check">
                        <!-- <input type="checkbox" id={{topic.id}} [checked]="topic.checked"
                                (change)="changeInterests(topic)">
                                <i></i> -->
                        <i *ngIf="topic.checked" class="fa fa-check fa-2x" style="color:green"></i>
                      </label>
                      <div class="lookingFor-thumb">
                        <i class="topic.id"></i>
                      </div>
                      <span class="lookingForTitle captitalise">{{ topic.name }} - {{topic.type}}</span>
                    </div>
                  </div>
                </div>
                <div style="margin-top:100px;">
                  <button class="btn btn-link" type="button" (click)=goto(1)>Back</button>
                  <button class="btn btn-success btn-continue pull-right" (click)=submitInterests() [disabled]="interests.length == 0">Continue</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="onboarding step-3" [hidden]="step!=3">
          <div class="row">
            <div class="col-sm-7">
              <h1 class="title">Which language will you host in?</h1>
              <p class="text-grey">Youʼll write your descriptions in this language and guests will expect you to speak it during workshops.</p>
              <br/>
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <div class="text-grey margin-bottom-20">Select Language</div>
                <select class="form-control" formArrayName="language">
                      <option [value]="">--Select--</option>
                      <option *ngFor="let l of languagesArray" [value]="l.code">{{l.name}} </option>                      
                </select>
                <div style="margin-top:100px;">
                  <button class="btn btn-link" type="button" (click)=goto(2)>Back</button>
                  <button class="btn btn-success btn-continue pull-right" style="float:right;" type="Submit">Continue</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- step 4 ends here  -->
        <div class="onboarding step-4" [hidden]="step!=4">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="title">Introduce yourself as a Host</h1>
              <label class="display-block">Why are you the best person to host this Experience?</label>

              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <div class="row margin-bottom-30 margin-top-30">
                  <div class="col-sm-8">
                    <div class="form-group">
                      <textarea class="form-control" maxlength="500" rows="10" formControlName="aboutHost" placeholder="Put in your background information"></textarea>
                      <span class="text-right text-grey display-block margin-top-5">max. 200 chars</span>
                    </div>
                  </div>
                  <div class="col-sm-3 margin-left-20">
                    <p class="fs-14 text-dark-grey">
                      <span class="fs-13 text-uppercase text-grey">Here is a sample description</span><br/> "I'm a recent
                      graduate that enjoys reading, travelling and documenting my adventures. I'm currently trying to persue
                      freelance photography. Looking farward to talk to like minded people."
                    </p>
                  </div>
                </div>
                <div style="margin-top:50px;">
                  <button class="btn btn-link" type="button" (click)=goto(3)>Back</button>
                  <button class="btn btn-success btn-continue pull-right" type="Submit">Continue</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--Disclaimer-->
        <div class="onboarding step-5" [hidden]="step!=5">
          <div class="row">
            <div class="col-sm-7">
              <h1 class="title">Create the page learners will see</h1>
              <p class="margin-top-30 lh-24">Write in a clear, straightforward and friendly way.We will give you tips on when to show off your personality
                and be more descriptive.
              </p>
              <br/>
              <div style="margin-top:100px;">
                <a class="btn btn-success btn-continue" (click)="goto(6)">Continue</a>
              </div>
            </div>
          </div>
        </div>
        <!-- step 2 ends here -->
        <div class="onboarding step-6" [hidden]="step!=6">
          <div class="row">
            <div class="col-sm-12">
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <div class="row">
                  <div class="col-sm-12 margin-bottom-30">
                    <div class="form-group">
                      <label class="display-block">Title Your Workshop</label>
                      <p>Make it sweet and simple</p>
                      <br/>
                      <input type="text" class="form-control" formControlName="title" />
                    </div>
                  </div>
                  <div class="col-sm-12 margin-bottom-30">
                    <div class="form-group">
                      <label class="display-block">Headline</label>
                      <p>Explain your workshop in short and descriptive sentence.</p>
                      <p>It should give an insight to learners of what they will do.</p>
                      <br/>
                      <input type="text" class="form-control" formControlName="headline" />
                    </div>
                  </div>
                </div>
                <div style="margin-top:100px;">
                  <button class="btn btn-link" type="button" (click)=goto(5)>Back</button>
                  <button class="btn btn-success btn-continue" style="float:right;" type="Submit">Continue</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- step 5 ends here -->
        <div class="onboarding step-7" [hidden]="step!=7">
          <div class="row">
            <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
              <div class="row">
                <div class="col-sm-12 margin-bottom-30">
                  <div class="form-group">
                    <label class="display-block">What’s the workshop about?</label>
                    <p>Give a detailed description to learners of what they will do in this workshop</p>
                    <textarea class="form-control" maxlength="200" formControlName="description"></textarea>
                    <span class="text-right text-grey display-block margin-top-5">max. 800 chars</span>
                  </div>
                </div>
              </div>
              <div style="margin-top:100px;">
                <button class="btn btn-link" type="button" (click)=goto(6)>Back</button>
                <button class="btn btn-success btn-continue" style="float:right;" type="Submit">Continue</button>
              </div>
            </form>
          </div>
        </div>
        <!-- step 6 ends here -->
        <div class="onboarding step-8" [hidden]="step!=8">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="title">Who should come</h1>
              <p>Start with level of difficulty</p>
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <div class="col-sm-12 margin-bottom-30">
                  <select class="form-control" formControlName="difficultyLevel">
                      <option [value]="">--Select--</option>
                      <option *ngFor="let d of difficulties" [value]="d">{{d}} </option>
                  </select>
                </div>
                <div class="col-sm-12 margin-bottom-30">
                  <div class="form-group">
                    <label class="display-block">Notes</label>
                    <textarea class="form-control" maxlength="5000" formControlName="notes"></textarea>
                    <span class="text-right text-grey display-block margin-top-5">max. 5000 chars</span>
                  </div>
                </div>
                <div style="margin-top:100px;">
                  <button class="btn btn-link" type="button" (click)=goto(7)>Back</button>
                  <button class="btn btn-success btn-continue" style="float:right;" type="Submit">Continue</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- step 7 ends here -->
        <div class="onboarding step-9" [hidden]="step!=9">
          <div class="row">
            <div class="col-sm-7">
              <div class="stepHeader">How many learners? </div>
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <div class="col-sm-12 margin-bottom-30" style="margin-top:20px">
                  <input type="number" formControlName="maxSpots" min="1" max="1000">
                </div>
                <div style="padding-top:100px;">
                  <button class="btn btn-link" type="button" (click)=goto(8)>Back</button>
                  <button class="btn btn-success btn-continue" style="float:right;" type="Submit">Continue</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- step 8 ends here -->
        <div class="onboarding step-10" [hidden]="step!=10">

          <div class="row">
            <div class="col-sm-10">
              <div class="stepHeader">Showcase your workshop</div>
              <div class="row" style="margin-left:20px;margin-top:15px;">
                <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)" novalidate>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="stepHeader">Upload Video</div>
                      <span class="label label-warning" [hidden]="!workshopVideoPending">Pending</span>
                      <span class="label label-success" [hidden]="workshopVideoPending">Success</span>
                      <p-fileUpload #fubauto name="video" customUpload="true" (uploadHandler)="uploadVideo($event)" maxFileSize="10000000" auto="true"
                        chooseLabel="Browse"></p-fileUpload>
                      <div class="stepHeader">Upload Images</div>
                      <span class="label label-warning" [hidden]="!workshopImage1Pending">Pending</span>
                      <span class="label label-success" [hidden]="workshopImage1Pending">Success</span>
                      <p-fileUpload #fubauto name="image" multiple="multiple" customUpload="true" (uploadHandler)="uploadImages($event)" maxFileSize="10000000"
                        auto="true" chooseLabel="Browse"></p-fileUpload>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div style="margin-top:100px;">
                        <button class="btn btn-link" type="button" (click)=goto(9)>Back</button>
                        <button class="btn btn-success btn-continue" style="float:right;" type="Submit">Continue</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- step 9 ends here -->
        <div class="onboarding step-11" [hidden]="step!=11">
          <div class="row">
            <div class="col-sm-12">
              <div class="stepHeader">What is the price of the workshop?</div>
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <div class="col-sm-12 margin-bottom-30">
                  Price:
                  <input type="number" formControlName="price">
                  <select formControlName="cancellationPolicy">
                            <option *ngFor="let c of currencies" [value]="c">{{c}} </option>
                      </select>
                </div>

                <div class="col-sm-12 margin-bottom-30">
                  Cancellation Policy:
                  <select class="form-control" formControlName="cancellationPolicy">
                            <option [value]="">--Select--</option>
                            <option *ngFor="let c of cancellationPolicies" [value]="c.value">{{c.text}} </option>
                      </select>
                </div>
                <div style="margin-top:100px;">
                  <button class="btn btn-link" type="button" (click)=goto(10)>Back</button>
                  <button class="btn btn-success btn-continue" style="float:right;" type="Submit">Continue</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="onboarding step-12" [hidden]="step!=12">
          <div class="row">
            <div class="col-sm-12">
              <div class="stepHeader">Add content to your Workshop</div>
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <p>Create a detailed timeline of your workshop and add content for every event in your itinerary. Learners will
                  see this before they sign up for your workshop.</p>
                <div style="margin-top:100px;">
                  <button class="btn btn-link" type="button" (click)=goto(11)>Back</button>
                  <button class="btn btn-success btn-continue" style="float:right;" type="Submit">Continue</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="onboarding step-13" [hidden]="step!=13">
          <div class="row">
            <div class="col-sm-12">
              <div class="stepHeader">What days are your workshop?</div>
              <form [formGroup]="timeline" (ngSubmit)="submitTimeline(timeline)" novalidate>
                <div formGroupName="calendar">
                  <div class="row">
                    <div class="col-sm-6 margin-bottom-30">
                      <input type="date" formControlName="startDate">
                    </div>
                    <div class="col-sm-6 margin-bottom-30">
                      <input type="date" formControlName="endDate">
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="timeline.controls.calendar.value.endDate && timeline.controls.calendar.value.endDate">
                  <app-workshop-content [myForm]="timeline.controls.contentGroup" [collectionId]="workshopId" [calendar]="timeline.controls.calendar.value"
                    (days)="daysCollection($event)">
                  </app-workshop-content>
                </div>
                <div class="row">
                  <div class="col-md-4 col-md-offset-6">
                    <div style="margin-top:100px;">
                      <button class="btn btn-link" type="button" (click)=goto(12)>Back</button>
                      <button class="btn btn-success btn-continue" style="float:right;" type="Submit">Continue</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="onboarding step-14" [hidden]="step!=14">
          <div class="row">
            <div class="col-sm-12">
              <div class="stepHeader">Review and submit</div>
              <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox> <label>You meet our standard</label>
              <br>
              <p-checkbox name="groupname" value="val2" [(ngModel)]="selectedValues"></p-checkbox><label>You meet our standard</label>
              <br>
              <button (click)="submitForReview()" class="btn btn-lg btn-success pull-right" [disabled]="selectedValues.length!==2"> Submit for Review</button>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

      </div>
    </div>
  </div>

  <!-- </div>-->
</div>