<div md-dialog-content class="container">
  <form [formGroup]="submitEntryForm" (click)="publishView()">
    <div class="row">
      <div class="col-sm-6">
        <span class="fw-bold">Submission Title</span>
      </div>
      <div class="col-sm-6 text-right">
        <div class="display-inline-block text-grey margin-right-10 fs-13 hide">Saving Draft</div>
        <button md-raised-button>Preview</button>
        <button md-raised-button type="submit">Publish</button>
      </div>
    </div>
    <md-input-container class="pb-block margin-bottom-20">
      <input mdInput formControlName="submission_title" type="text" placeholder="Nam dapibux nisl vitae elit">
      <md-error>This field is required</md-error>
    </md-input-container>
    <div class="fw-bold text-dark-grey margin-bottom-15">Upload photo (jpg, png, gif)</div>
    <div class="uploadContainer">
      <div class="margin-bottom-15">
        <md-icon class="mat-cloud-icon" color="#999999">cloud_upload</md-icon>
      </div>
      <div><button md-raised-button color="primary">Upload photo</button></div>
      <br>
      <span class="text-grey fs-13">or drag  and drop</span>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <md-input-container class="pb-block margin-bottom-30">
          <input mdInput formControlName="submission_name" type="text" placeholder="Submission Name">
          <md-hint>24/200 chars</md-hint>
        </md-input-container>
        <md-input-container class="pb-block margin-bottom-30">
          <input mdInput formControlName="submission_description" type="text" placeholder="Submission Description">
          <md-hint>24/200 chars</md-hint>
        </md-input-container>
        <div class="fw-bold text-dark-grey fs-15">Submission Tag</div>
        <md-input-container class="pb-block margin-bottom-30">
          <input mdInput formControlName="submission_tag" type="text" placeholder="Submission Tag">
          <md-hint>24/200 chars</md-hint>
        </md-input-container>
        <div class="margin-bottom-10">
          <div class="fw-bold text-dark-grey fs-15 margin-bottom-20">Submission Privacy</div>
          <md-radio-group>
            <md-radio-button formControlName="submission_privacy" value="true">Private</md-radio-button>
            <md-radio-button formControlName="submission_privacy" value="false">Public</md-radio-button>
          </md-radio-group>
        </div>
      </div>
    </div>
  </form>
</div>