// submission page styles
.mat-dialog-content{
    max-height: 80vh;    
}
.uploadContainer {
  text-align: center;
  vertical-align: middle;
  border: 0.5px solid #cccccc;
  border-radius: 1px;
  width: 40%;
  padding: 20px;
  margin-bottom: 25px;
}
md-hint{
    &.mat-hint{
        color:#999;
    }
}
md-icon{
    .mat-cloud-icon{
        font-size:24px;
    }
}
.hide{display:none;}