<div md-dialog-content *ngIf="data.content">
  <div class="row">
    <div class="col-md-12 media">
      <img class="img-responsive media-middle" src="{{config.apiUrl+data.content.imageUrl}}" width="100%" style="max-height: 400px;" alt="content Image" (error)="_collectionService.imgErrorHandler($event)">
    </div>
  </div>
  <div class="row margin-top-20">
    <div class="col-md-12">
      <h3>{{data.content.title | titlecase}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>
        <b>What we'll do</b>
      </div>
      <br>
      <p>
        {{data.content.description}}
      </p>
      <div *ngIf="data.content.notes">
        <hr>
        <div>
          <b>Need to know</b>
        </div>
        <br>
        <p>
          {{data.content.notes}}
        </p>
      </div>
    </div>
  </div>
</div>
<div md-dialog-actions *ngIf="data.userType==='teacher' || data.userType==='participant' ">
  <div class="row">
    <div class="col-md-12">
      <a md-raised-button color="primary" *ngIf="data.content.isLive" href="/static/live/public/index.html" target="_blank">Join</a>
      <button md-button class="mat-border-button" *ngIf="data.content.timetoSession" [disabled]="true"> {{data.content.timetoSession}} </button>
    </div>
  </div>
</div>