<div md-dialog-content class="container" *ngIf="data.content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 media">
      <img class="img-responsive media-middle" src="{{config.apiUrl+data.content.imageUrl}}" style="max-height: 600px" alt="content Image">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>{{data.content.title}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>What we'll do</h4>
      <p>
        {{data.content.description}}
      </p>
      <div *ngIf="data.content.notes">
        <hr>
        <h4>Need to know</h4>
        <p>
          {{data.content.notes}}
        </p>
      </div>
    </div>
  </div>
</div>
<div md-dialog-actions *ngIf="data.userType==='teacher' || data.userType==='participant' ">
  <div class="row">
    <div class="col-md-12">
      <button md-button *ngIf="data.content.isLive" (click)="joinSession(modalContent)">Join</button>
      <button md-button *ngIf="data.content.timetoSession" [disabled]="true"> {{data.content.timetoSession}} </button>
    </div>
  </div>
</div>