<div mat-dialog-title style="text-align: center">
  <h3>Participants ({{data.participants.length}})</h3>
</div>
<hr>
<div mat-dialog-content>
  <div class="row" *ngFor="let participant of data.participants">
    <div *ngIf="participant.profiles">
      <div class="col-md-1 vcenter">
        <img src="{{config.apiUrl+participant.profiles[0].picture_url}}" style="margin-left: 0px;" class="circle-thumb" alt="dp" (error)="_collectionService.imgErrorHandler($event)">
      </div>
      <div class="col-md-6 vcenter">
        <b>{{participant.profiles[0].first_name +' '+participant.profiles[0].last_name }}</b> &emsp;
        <span *ngIf="participant.profiles[0].headline">{{participant.profiles[0].headline}}</span>
      </div>
      <div class="col-md-3 vcenter">
        <mat-progress-bar [mode]="'determinate'" [value]="10">
        </mat-progress-bar>
      </div>
      <div class="col-md-1 vcenter">
        <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon style="color: #cccccc; font-size: 80%;">more_vert</mat-icon>
            </button>
        <mat-menu #menu="matMenu">
          <!--<button mat-menu-item (click)="messageParticipant(participant)">Message</button>-->
          <button mat-menu-item (click)="removeParticipant(participant.id)">Remove</button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>