<div md-dialog-title>
  <h4>Attendies</h4>
</div>
<div md-dialog-content class="container">
  <div class="row" *ngFor="let participant of data.participants">
    <div *ngIf="participant.profiles">
      <div class="col-md-2">
        <img src="{{config.apiUrl+participant.profiles[0].picture_url}}" class="img-circle profile-thumb" alt="dp">
      </div>
      <div class="col-md-3">
        {{participant.profiles[0].first_name +' '+participant.profiles[0].last_name }}
      </div>
      <div class="col-md-3">
        <div *ngIf="participant.profiles[0].work">{{participant.profiles[0].work[0].position}}</div>
      </div>
      <div class="col-md-3">
        <md-progress-bar [mode]="determinate" [value]="10">
        </md-progress-bar>
      </div>
      <div class="col-md-1">
        <button md-icon-button [mdMenuTriggerFor]="menu">
              <md-icon>more_vert</md-icon>
            </button>
        <md-menu #menu="mdMenu">
          <button md-menu-item (click)="messageParticipant(participant)">Message</button>
          <button md-menu-item (click)="removeParticipant(participant.id)">Remove</button>
        </md-menu>
      </div>
    </div>
  </div>
</div>