
.slides{
    list-style:none;
    position: relative;
    top: 30%;
    bottom: 10%;
    width:350%; /* Number of panes * 100% */
    overflow:hidden; /* Clear floats */
        /* Slide effect Animations*/
    -moz-animation:carousel 30s infinite;
    -webkit-animation:carousel 30s infinite;
    animation:carousel 30s infinite;
}
.slides > li{
    position: relative;
    bottom: 50%;
    top: 10%;
    float: left;
    width: 5%; /* 100 / number of panes */
}
.carousel img{
    display: block;
    width: 30%;
    max-width: 100%;
}
.carousel h2{
    margin-bottom: 0;
    font-size:1em;
    padding:5px;
    position:absolute;
    right:0px;
    bottom:10%;
    left:0px;
    top: 50%;
    text-align:center;
    color:#ccc;
    background-color:rgba(255, 255, 255, 0.685);
    text-transform: uppercase;
}

@keyframes carousel{
    0%    { left:-5%; }
    11%   { left:-5%; }
    12.5% { left:-105%; }
    23.5% { left:-105%; }
    25%   { left:-205%; }
    36%   { left:-205%; }
    37.5% { left:-305%; }
    48.5% { left:-305%; }
    50%   { left:-405%; }
    61%   { left:-405%; }
    62.5% { left:-305%; }
    73.5% { left:-305%; }
    75%   { left:-205%; }
    86%   { left:-205%; }
    87.5% { left:-105%; }
    98.5% { left:-105%; }
    100%  { left:-5%; }
}