<div class="row" style="margin-top: 20px;">
  <div class="col-md-3">
    <mat-list>
      <!-- <mat-list-item [class.mat-list-item-focus]="false" [routerLink]="'/console/teaching/all'" [class.bold]="getActiveTab() === 'all'">
        View All
      </mat-list-item> -->
      <mat-list-item [class.mat-list-item-focus]="false" [routerLink]="'/console/teaching/workshops'" [class.bold]="getActiveTab() === 'workshops'">
          Workshops
      </mat-list-item>
      <!-- <mat-list-item [class.mat-list-item-focus]="false" [routerLink]="'/console/teaching/experiences'" [class.bold]="getActiveTab() === 'experiences'">
        Experiences
      </mat-list-item> -->
      <!-- <mat-list-item [class.mat-list-item-focus]="false" [routerLink]="'/console/teaching/sessions'" [class.bold]="getActiveTab() === 'sessions'">
        Sessions
      </mat-list-item> -->
      <mat-list-item *ngIf="getActiveTab() === 'workshops' ">
        <button mat-raised-button (click)="createWorkshop()" color="primary">New Workshop</button>
      </mat-list-item>
      <mat-list-item *ngIf="activeTab === 'experiences'">
        <button mat-raised-button (click)="createExperience()" color="primary">New Experience</button>
      </mat-list-item>
      <mat-list-item *ngIf="getActiveTab() === 'sessions'">
        <button mat-raised-button (click)="enableSessions()" color="primary">Enable Sessions</button>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
