<div class="row">
  <div class="col-md-12">
    <div *ngIf="!loaded" class="center">
      <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" *ngIf="loaded">
    <div #noContentView *ngIf="unapprovedCollections.length === 0 " class="center" style="margin-top: 10%">
      <div class="lightText">
        No Approval Pending !
      </div>
    </div>
    <div *ngIf="unapprovedCollections.length > 0">
      <div style="display:inline;">
        <h2>Pending Approval</h2>
      </div>
      <div class="row">
        <div>
          <div style="margin-top:20px;" class="col-md-12">
            <div class="row">
              <div *ngFor="let collection of unapprovedCollections">
                <div class="col-md-3" style="margin-top: 20px;">
                  <mat-card style="text-align: center; padding: 20px;height: 200px">
                    <mat-card-content style="height: 110px">
                      <div style="text-align: right">
                        <div class="pull-right">
                          <a mat-icon-button [matMenuTriggerFor]="approvalCardMenu" style="text-align: right; padding: 0px">
                            <mat-icon>more_vert</mat-icon>
                          </a>
                        </div>
                      </div>
                      <div class="cohortDate" style="padding-top: 10px" *ngIf="collection.calendars">
                        <span>{{collection.calendars[0].startDate |extractTime:'Do MMMM'}} - {{ collection.calendars[0].endDate |extractTime:'Do MMMM' }}</span>
                      </div>
                      <br>
                      <div class="collectionTitle" (click)="_collectionService.openCollection(collection)">{{ collection.title || 'No Title' | titlecase | shorten:20 :'...'}} </div>
                    </mat-card-content>
                    <mat-menu #approvalCardMenu>
                      <button mat-menu-item>
                        Delete
                      </button>
                      <button mat-menu-item [routerLink]="['/workshop/'+collection.id]">
                        View Workshop
                      </button>
                    </mat-menu>
                    <mat-card-footer class="cardFooter" style="line-height: 30px">
                      <button mat-button (click)="approveWorkshop(collection)">Approve</button>
                    </mat-card-footer>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>
</div>