.no-padding{
    padding: 0px !important;
}

.mat-dialog-container {
    padding: 0px !important;
}

.vg-controls{
    height: 56px !important;
    width: 98% !important;
}

.vg-overlay-play{
    overflow: hidden !important;
}