<div class="profile-page main-content">
    <div class="loading-container" style="width:60%" [hidden]="!loading">
        <ngx-loading [show]="true"></ngx-loading>
    </div>
    <div class="row" *ngIf="profileObj && !loading">
        <div class="col-md-8 {{offsetString}} left-panel">
            <div class="row text-center">
                <div class="col-md-12">
                    <img class="img-rounded profile-pic" *ngIf="profileObj.picture_url" src="{{config.apiUrl+profileObj.picture_url}}" alt="profile_pic">
                    <img class="img-rounded profile-pic" *ngIf="!profileObj.picture_url" src="/assets/images/avatar.png" alt="profile_pic">
                </div>
                <div class="col-md-12" style="margin-top: 25px;">
                    <h2 style="margin-bottom: 0px">{{profileObj.first_name | titlecase}} {{profileObj.last_name | titlecase}}</h2>
                </div>
                <div class="col-md-12">
                    <h4>{{profileObj.headline | titlecase}}</h4>
                </div>
                <!-- <div class="col-md-12">
                    <button md-button>Message</button>
                </div> -->
            </div>
            <div class="row border-top">
                <hr><br>
                <div class="col-md-1">
                    <md-icon>mic_none</md-icon>
                </div>
                <div class="col-md-10">
                    <p>
                        {{this.other_languages || 'No language provided'}}
                    </p>
                </div>
                <div class="col-md-1">
                    <md-icon>
                        location_on
                    </md-icon>
                </div>
                <div class="col-md-10">
                    <p>
                        {{profileObj.location_string || 'No location provided'}}
                    </p>
                </div>
            </div>
            <div class="row border-top">
                <hr>
                <div class="col-md-offset-1 col-md-10 padding-left-0">
                    <h3>Social Profiles</h3>
                </div>
                <div class="col-md-offset-1 col-md-10 padding-left-0">
                    <i *ngIf="connectedIdentities.fb" class="fa fa-facebook defaultFB socialIcons"></i>
                    <i *ngIf="!connectedIdentities.fb" class="fa fa-facebook dcSocial socialIcons"></i>
                    <i *ngIf="connectedIdentities.google" class="fa fa-google defaultGoogle socialIcons"></i>
                    <i *ngIf="!connectedIdentities.google" class="fa fa-google dcSocial socialIcons"></i>
                </div>
            </div>
            <div class="row border-top">
                <hr>
                <div class="col-md-offset-1 col-md-10 padding-left-0">
                    <h3>Interest</h3>
                </div>
                <div class="col-md-offset-1 col-md-10 padding-left-0">
                    <hr>
                    <md-chip-list>
                        <span *ngFor="let interest of interestsArray;let i=index" style="margin: 0px 10px 10px 0px">
                                        <md-chip *ngIf="i<maxVisibleInterest">{{interest | titlecase}}</md-chip>
                                </span>
                    </md-chip-list>
                    <span *ngIf="interestsArray.length>3">
                            <span *ngIf="interestsArray.length>maxVisibleInterest">
                                    <a (click)="toggleMaxInterest()"><strong> + more </strong></a>
                                </span>
                    <span *ngIf="interestsArray.length<maxVisibleInterest">
                                        <a (click)="toggleMaxInterest()"><strong> - less </strong></a>
                                    </span>
                    </span>
                </div>
            </div>
            <div class="row border-top" *ngIf="urluserId!==cookieUserId" style="padding-top: 20px;text-align:center;cursor:pointer">
                <div class="col-md-10">
                    <h5 (click)="reportProfile()">Report profile</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 center-feed">

            <div class="row">
                <div class="col-md-12">
                    <h3>About Me</h3>
                </div>
                <div class="col-md-12">
                    <p *ngIf="profileObj.description">{{profileObj.description | ucfirst | shorten: 100: 'Read More...'}}</p>
                    <p *ngIf="!profileObj.description">No description provided. <a [routerLink]="['/','console','profile','edit']" *ngIf="cookieUserId === urluserId">Complete your profile</a></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class=col-md-12>
                    <h3>What I teach</h3>
                </div>
                <div class="col-md-12">
                    <div class="row" *ngFor="let topic of topicsTeaching">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mat-body-2">{{topic.name | titlecase}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>{{topic.experience | ucfirst}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="topicsTeaching.length === 0">
                        <div class="col-md-12">
                            <p style="text-align: left">This user is not teaching yet. <a [routerLink]="['/','console','teaching', 'workshops']" *ngIf="cookieUserId === urluserId">Start Teaching</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="border-top:1px solid #eeeeee;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Resume</h3>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 25px;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-1">
                                    <md-icon style="font-size: 35px;">work</md-icon>
                                </div>
                                <div class="col-md-11 resumeText">
                                    <span>Work Experience</span>
                                </div>
                            </div>
                            <div class="row" *ngIf="profileObj.work && profileObj.work.length === 0">
                                <div class="col-md-11 col-md-offset-1">
                                    <p style="text-align: left">No details provided. <a [routerLink]="['/','console','profile', 'edit']" *ngIf="cookieUserId === urluserId">Complete your profile</a></p>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 10px;" *ngFor="let workObj of profileObj.work">
                                <div class="col-md-11 col-md-offset-1">
                                    <div class="row">
                                        <div class="col-md-12 work-title">
                                            <span style="font-size: 16px;font-weight: bolder;">{{workObj.position | titlecase}} </span>                                            &emsp;
                                            <md-icon style="font-size: 5px;  top: -2px; height: 20px;">fiber_manual_record</md-icon> <span class="lighttext" style="font-size: 15px;"> {{workObj.company | titlecase}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span *ngIf="workObj.endDate">{{workObj.startDate | date:'yyyy'}} - {{workObj.endDate | date:'yyyy'}}</span>
                                            <span *ngIf="!workObj.endDate ">{{workObj.startDate | date:'yyyy'}} - Present</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 25px;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-1">
                                    <md-icon class="resumeIcons">school</md-icon>
                                </div>
                                <div class="col-md-11 resumeText">
                                    <span class="">Education</span>
                                </div>
                            </div>
                            <div class="row" *ngIf="profileObj.education && profileObj.education.length === 0">
                                <div class="col-md-11 col-md-offset-1">
                                    <p style="text-align: left">No details provided. <a [routerLink]="['/','console','profile', 'edit']" *ngIf="cookieUserId === urluserId">Complete your profile</a></p>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 10px;" *ngFor="let educationObj of profileObj.education">
                                <div class="col-md-11 col-md-offset-1">
                                    <div class="row">
                                        <div class="col-md-12 education-title">
                                            <span style="font-size: 16px;font-weight: bolder;">{{educationObj.degree | titlecase}}</span>
                                            <!-- <h4>{{educationObj.major}}</h4> -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- <h4 *ngIf="workObj.endDate">{{workObj.startDate | date:'yyyy'}} - {{workObj.endDate | date:'yyyy'}}</h4>
                                                    <h4 *ngIf="!workObj.endDate ">{{workObj.startDate | date:'yyyy'}} - Present</h4> -->
                                            <span>{{educationObj.school | titlecase}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="border-top:1px solid #eeeeee;">
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12 review">
                            <h3 style="display:inline-block">Reviews</h3>
                            &emsp;
                            <p-rating style="display: inline-block;" [ngModel]="userRating" readonly="true" stars="5" [cancel]="false">
                            </p-rating>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Review From Learners</h4>
                        </div>
                        <div class="col-md-12 text-center">
                            <!-- <hr> -->
                            <p style="text-align: left">This user has not received a review yet</p>
                            <hr style="border-top:1px solid #eeeeee;">
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-md-12">
                            <h4>Review From Teachers</h4>
                        </div>
                        <div class="col-md-12 text-center">
                            <!-- <hr> -->
                            <p style="text-align: left">This user has not received a review yet</p>
                            <hr style="border-top:1px solid #eeeeee;">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-3 right-panel" *ngIf="isTeacher">
            <div class="row">
                <div class="col-md-12">
                    <md-tab-group>
                        <!-- <md-tab label="Session">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>No Sessions</p>
                                        </div>
                                    </div>
                                </md-tab>
                                <md-tab label="Experience">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>No Experiences</p>
                                        </div>
                                    </div>
                                </md-tab> -->
                        <md-tab label="Teaching Journey" style="min-width: min-content !important;">
                            <div class="row">
                                <div class="col-md-12 mat-subheading-2 margin-top-20">
                                    Currently Running
                                </div>
                                <div class="col-md-12 margin-top-10" *ngFor="let collectionObj of profileObj.peer['0'].ownedCollections ; let i=index">
                                    <div *ngFor="let calendar of collectionObj.calendars">
                                        <div *ngIf="calendar.startDate <= today.toISOString() && calendar.endDate >= today.toISOString()">
                                            <div class="col-md-5 padding-left-0">
                                                <img class="img-rounded side-image" *ngIf="collectionObj.imageUrls && collectionObj.imageUrls.length>0" src="{{config.apiUrl+collectionObj.imageUrls[0]}}">
                                                <img class="img-rounded side-image" *ngIf="!collectionObj.imageUrls || collectionObj.imageUrls.length<=0" src="./assets/images/placeholder-image.jpg">
                                            </div>
                                            <div class="col-md-9">
                                                <div class="col-md-12">
                                                    {{collectionObj.title}}
                                                </div>
                                                <div class="col-md-12"  style="min-height:55px">
                                                    <p>{{collectionObj.description | ucfirst | shorten: 60: '....'}}</p>
                                                </div>
                                                <div class="col-md-12">
                                                    <a [routerLink]="['/workshop',collectionObj.id]" style="font-size:0.9rem">See Dates</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-top-10" style="border-top: 1px solid grey">
                                    <a style="font-size:0.9rem;color:#484848;font-weight:300">Show more</a>
                                </div>

                                <div class="col-md-12 mat-subheading-2 margin-top-20">
                                    Past
                                </div>
                                <div class="col-md-12 margin-top-10" *ngFor="let collectionObj of profileObj.peer['0'].ownedCollections ; let i=index">
                                    <div *ngFor="let calendar of collectionObj.calendars">
                                        <div *ngIf="calendar.endDate <= today.toISOString()">
                                            <div class="col-md-3 padding-left-0">
                                                <img class="img-rounded side-image" *ngIf="collectionObj.imageUrls && collectionObj.imageUrls.length>0" src="{{config.apiUrl+collectionObj.imageUrls[0]}}">
                                                <img class="img-rounded side-image" *ngIf="!collectionObj.imageUrls || collectionObj.imageUrls.length<=0" src="./assets/images/placeholder-image.jpg">
                                            </div>
                                            <div class="col-md-9">
                                                <div class="col-md-12">
                                                    {{collectionObj.title}}
                                                </div>
                                                <div class="col-md-12"  style="min-height:55px">
                                                    <p>{{collectionObj.description | ucfirst | shorten: 60: '....'}}</p>
                                                </div>
                                                <div class="col-md-12">
                                                    <a [routerLink]="['/workshop',collectionObj.id]" style="font-size:0.9rem">See Dates</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-top-10" style="border-top: 1px solid grey">
                                    <a style="font-size:0.9rem;color:#484848;font-weight:300">Show more</a>
                                </div>
                            </div>
                        </md-tab>
                    </md-tab-group>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-top-20" *ngIf="!loading">
        <div class="col-md-offset-1 col-md-10" *ngIf="(!participatingWorkshops && cookieUserId === urluserId) || participatingWorkshops">
            <div class="row">
                <div class="col-md-9">
                    <h2>Learning Journey</h2>
                </div>
                <div class="col-md-2">
                    <!-- <md-select>
                        <md-option *ngFor="let collection of collectionTypes" [value]="collection">
                            {{ collection }}
                        </md-option>
                    </md-select> -->
                    <a class="pull-right" [routerLink]="'/home/workshops'">
                        <h4>See all</h4>
                    </a>
                </div>
            </div>
            <div class="row feed-horizontal margin-top-20 margin-bottom-50">
                <div class="recommendation-card" *ngFor="let workshop of participatingWorkshops; let i =index">
                    <a *ngIf="i<4" [routerLink]="'/workshop/'+workshop.id">
                        <div class="">
                            <img class="recommendation-thumb" *ngIf="workshop.imageUrls && workshop.imageUrls.length>0" src="{{config.apiUrl+workshop.imageUrls[0]}}"
                                alt="workshpImg">
                            <img class="recommendation-thumb" *ngIf="!workshop.imageUrls || workshop.imageUrls.length<=0" src="/assets/images/no-image.jpg"
                                alt="workshpImg">
                        </div>
                        <div *ngIf="workshop.currency.length > 0" class="mat-body-2" style="margin-top: 12px;">{{workshop.price | currency: workshop.currency: true:'1.0-0'}}</div>
                        <div *ngIf="workshop.currency === undefined || workshop.currency.length == 0" class="mat-body-2" style="margin-top: 12px;">{{workshop.price | currency: 'USD': true: '1.0-0'}}</div>
                        <div class="mat-body-2" style="margin-top: 5px;">{{workshop.title | titlecase}}</div>
                        <div style="margin-top: 0px;">{{workshop.headline | shorten: 20 : '...' | titlecase}}</div>
                        <div class="col-sm-12 padding-left-0" style="margin-top: 12px;">
                          <p-rating class="padding-left-0" style="float: left;" [ngModel]="workshop.rating" readonly="true" stars="5" [cancel]="false">
                          </p-rating>
                          <span class="padding-left-10" *ngIf="workshop.ratingCount" style="text-align: left">
                            <label>{{workshop.ratingCount}} Reviews</label>
                          </span>
                          <span class="padding-left-10" *ngIf="!workshop.ratingCount" style="text-align: left">
                            <label>0 Reviews</label>
                          </span>
                        </div>
                        <!-- <div class="margin-top-20">
                            <h4 class="title">{{workshop.currency}} {{workshop.price}}</h4>
                        </div>
                        <div class="">
                            <h4 class="margin-bottom-2 title">{{workshop.title}}</h4>
                        </div>
                        <div class="headline">
                            <p>{{workshop.headline | shorten: 20 : '...'}}</p>
                        </div>
                        <div class="col-sm-12 padding-left-0">
                            <p-rating class="col-sm-7 padding-left-0" [ngModel]="workshop.rating" readonly="true" stars="5" [cancel]="false">
                            </p-rating>
                            <span class="col-sm-5 padding-left-0" *ngIf="workshop.reviews">
                                        <label>{{workshop.reviews.length}} Reviews</label>
                                      </span>
                            <span class="col-sm-5 padding-left-0" *ngIf="!workshop.reviews">
                                        <label>0 Reviews</label>
                                      </span>
                        </div> -->
                    </a>
                </div>
                <div *ngIf="!participatingWorkshops">
                    <a class="col-md-3 default"[routerLink]="['/','home', 'workshops']" *ngIf="cookieUserId === urluserId">Start Learning</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="!loading">
        <div class="col-md-offset-1 col-md-10">
            <div class="row">
                <div class="col-md-9">
                    <h2>Similar Teachers</h2>
                </div>
                <div class="col-md-2">
                    <a class="pull-right" [routerLink]="'/home/peers'">
                        <h4>See all</h4>
                    </a>
                </div>
            </div>
            <div class="row feed-horizontal margin-top-20 margin-bottom-50">
                <div class="peer-recommendation-card" *ngFor="let peer of recommendedpeers">
                    <a [routerLink]="'/profile/'+peer.id">
                        <div class="peer-thumb">
                            <img class="peer-recommendation-thumb" *ngIf="peer.profiles[0].picture_url" src="{{config.apiUrl+peer.profiles[0].picture_url}}"
                                alt="peerImg">
                            <img class="peer-recommendation-thumb" *ngIf="!peer.profiles[0].picture_url" src="/assets/images/avatar.png"
                                alt="peerImg">
                        </div>
                        <div style="margin-top: 12px;" class="mat-body-2" *ngIf="peer.profiles[0].first_name !== undefined">{{peer.profiles[0].first_name | titlecase }} {{peer.profiles[0].last_name | titlecase }}</div>
                        <div style="margin-top: 12px;" class="mat-body-2" *ngIf="peer.profiles[0].first_name === undefined">John Doe</div>
                        <div class="col-sm-12 padding-left-0" style="margin-top: 12px;">
                            <p-rating class="padding-left-0" style="float: left;" [ngModel]="peer.rating" readonly="true" stars="5" [cancel]="false">
                            </p-rating>
                            <span class="padding-left-10" *ngIf="peer.reviewsAboutYou.length>0" style="text-align: left">
                                <label>{{peer.reviewsAboutYou.length}} Reviews</label>
                            </span>
                            <span class="padding-left-10" *ngIf="peer.reviewsAboutYou.length==0" style="text-align: left">
                                <label>0 Reviews</label>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>