<div id="content" class="profile-setion">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2" [ngClass]="(userType=='teacher') ? 'col-sm-offset-1' : 'col-sm-offset-3'">
        <div class="profile-image-big">
          <img [src]="(peer.profiles[0].picture_url != undefined) ? peer.profiles[0].picture_url : defaultProfileUrl" alt="image" class="border-radius-2"
          />
        </div>
        <div class="seperate-section text-center">
          <div class="title dot-dot">{{peer.profiles[0].first_name}} {{peer.profiles[0].last_name}}</div>
          <div class="sub-title dot-dot">{{peer.profiles[0].headline}}</div>
          <div class="margin-top-10">
            <button class="btn btn-default" title="Message">Message</button>
            <span class="online-status online margin-left-15" title="Online"></span>
          </div>
        </div>
        <div class="seperate-section">
          <div class="fs-18 fw-bold">Karma Earned <i class="fa fa-question-circle text-grey"></i></div>
          <div class="text-center fs-20 text-grey margin-top-15">3.045k</div>
        </div>
        <div class="seperate-section fs-14">
          <div class="text-grey margin-bottom-10"><i class="fa fa-microphone margin-right-10"></i> {{peer.profiles[0].languages}}</div>
          <div class="text-grey"><i class="fa fa-map-marker margin-right-10"></i> {{peer.profiles[0].location}}</div>
        </div>
        <div class="seperate-section">
          <div class="fs-18 fw-bold margin-bottom-20">Social Profiles</div>
          <div class="social-profiles">
            <a class="social-icons" href="{{social.profile._json.url}}" target="_blank" *ngFor="let social of peer.identities" title="{{social.profile._json.url}}">
              <i *ngIf="social.provider=='google'" class="fa fa-google-plus"></i>
              <i *ngIf="social.provider=='facebook'" class="fa fa-facebook"></i>
              <i *ngIf="social.provider=='behance'" class="fa fa-behance"></i>
              <i *ngIf="social.provider=='linkedin'" class="fa fa-linkedin"></i>
              <i *ngIf="social.provider=='twitter'" class="fa fa-twitter"></i>
            </a>
          </div>
        </div>
        <div class="seperate-section">
          <div class="fs-18 fw-bold margin-bottom-20">Interest</div>
          <div class="interest">
            <span *ngFor="let topic of peer.topicsTeaching">{{ topic.name }}</span>
            <a href="javascript:;" class="more">+more</a>
          </div>
        </div>
        <a href="javascript:;" class="display-block text-grey text-center margin-top-10">report profile</a>
      </div>
      <div class="col-sm-5">
        <div class="seperate-section padding-top-0">
          <h3 class="heading">About me</h3>
          <p class="text-grey lh-28 margin-bottom-0">{{peer.profiles[0].description}}</p>
        </div>
        <div class="seperate-section">
          <h3 class="heading">What I teach</h3>
          <div class="what-i-teach">
            <div class="topic">Web Design</div>
            <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et rutrum leo. Sed efficitur tortor sed eros vehicula,
              ac gravida urna euismod <a href="javascript:;" class="read-more">...read more</a></p>
          </div>
          <div class="what-i-teach">
            <div class="topic">Coading with Java</div>
            <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et rutrum leo. Sed efficitur tortor sed eros vehicula,
              ac gravida urna euismod <a href="javascript:;" class="read-more">...read more</a></p>
          </div>
          <div class="what-i-teach">
            <div class="topic">Basics of VR Design</div>
            <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et rutrum leo. Sed efficitur tortor sed eros vehicula,
              ac gravida urna euismod<a href="javascript:;" class="read-more">...read more</a></p>
          </div>
        </div>
        <div class="seperate-section">
          <h3 class="heading">Resume</h3>
          <div class="resume-list">
            <div class="resume-thumb"><i class="fa fa-briefcase"></i></div>
            <div class="display-inline-block fs-14">
              <p class="fw-bold fs-18">Work Experience</p>
              <p>
                <span class="fw-bold">Illustrator</span>
                <span class="bullet">Fireworks</span>
              </p>
              <p>2013 - Present</p>
            </div>
          </div>
          <div class="resume-list">
            <div class="resume-thumb"><i class="fa fa-book"></i></div>
            <div class="display-inline-block fs-14">
              <p class="fw-bold fs-18">Education</p>
              <p>
                <span class="fw-bold">Bachelor</span>
                <span class="bullet">Graphic Design</span>
              </p>
              <p>University of Toronto</p>
            </div>
          </div>
        </div>
        <div class="seperate-section padding-bottom-0">
          <div class="margin-bottom-30">
            <div class="heading">Reviews
              <rating [(ngModel)]="rate" [readonly]="isReadonly"></rating>
            </div>
            <span>From Learners</span>
          </div>
          <div class="review-section" *ngFor="let review of reviews">
            <img src="{{review.reviewer.picture_url}}" class="review-thumb thumb-circle" />
            <div class="review-title">{{ review.reviewer.first_name }}</div>
            <div class="review-content">
              <div class="review-desc">{{ review.description }}</div>
              <div class="review-bottom">
                <span>{{ review.collection.type }}</span>
                <span class="bullet">{{ review.collection.createdAt | date: 'MMMM yyyy' }}</span>
                <span class="bullet"><a href="javascript:;" class="text-green">{{ review.collection.title }}</a></span>
              </div>
            </div>
          </div>
          <div class="review-all">
            <a href="javascript:;">See all 34 reviews</a>
          </div>
          <!--<div class="margin-top-30 margin-bottom-30">
            <span>From Teachers</span>
          </div>
          <div class="review-section">
            <img src="http://lorempixel.com/62/62/people/1" class="review-thumb thumb-circle" />
            <div class="review-title">Alexis</div>
            <div class="review-content">
              <div class="review-desc">He is a good teacher. Learned lots from him. He is always ready to provide you with any extra help you might
                need. I would recommend others to take this course.
              </div>
              <div class="review-bottom">
                <span>Experience</span>
                <span class="bullet">October 2016</span>
                <span class="bullet"><a href="javascript:;" class="text-green">Lighting in photography</a></span>
              </div>
            </div>
          </div>
          <div class="review-section">
            <img src="http://lorempixel.com/62/62/people/2" class="review-thumb thumb-circle" />
            <div class="review-title">Lusi</div>
            <div class="review-content">
              <div class="review-desc">He is a good teacher. Learned lots from him. He is always ready to provide you with any extra help you might
                need. I would recommend others to take this course.
              </div>
              <div class="review-bottom">
                <span>Session</span>
                <span class="bullet">October 2016</span>
              </div>
            </div>
          </div>
          <div class="review-all">
            <a href="javascript:;">See all 34 reviews</a>
          </div>-->
        </div>
      </div>
      <div class="col-sm-3" [hidden]="userType != 'teacher'">
        <div class="sidebar-right">
          <div class="sidebar-box">
            <tabset>
              <tab heading="Session" customClass="sidebar-tabs" [hidden]="!sessions">
                <div class="sidebar-section margin-top-30">
                  <div class="display-inline-block">
                    <div class="heading">Trial</div>
                    <div class="desc">1 hour session</div>
                  </div>
                </div>
                <div class="sidebar-section" (click)="editSessionModal.show()">
                  <div class="display-inline-block">
                    <div class="heading">Standard</div>
                    <div class="desc">1 hour session</div>
                  </div>
                </div>
                <div class="sidebar-section">
                  <div class="display-inline-block">
                    <div class="heading">Package</div>
                    <div class="desc">
                      <span class="display-block margin-bottom-10">2 session (1 hour each)</span>
                      <span class="display-block">3 session (1 hour each)</span>
                    </div>
                  </div>
                </div>
                <div class="sidebar-details">
                  <button class="btn btn-success btn-book" (click)="bookSessionModal.show()">Book</button>
                </div>
              </tab>
              <tab heading="Experience" [hidden]="!experiences">
                <div class="sidebar-section margin-top-30" *ngFor="let experience of experiences">
                  <img class="img-responsive" src="http://lorempixel.com/350/250/city/9">
                  <div class="text-black margin-bottom-10 margin-top-15 fw-bold">{{ experience.title != '' ? experience.title : 'No Title' }}</div>
                  <p class="text-grey lh-24 margin-bottom-20">{{ experience.description != '' ? experience.description : 'No Description' }}</p>
                </div>
                <div class="sidebar-details">
                  <button class="btn btn-success btn-book" (click)="seeDatesModal.show()">See dates</button>
                </div>
              </tab>
              <tab heading="Workshop" [hidden]="!workshops">
                <div class="sidebar-section margin-top-30" *ngFor="let workshop of workshops">
                  <img class="img-responsive" src="http://lorempixel.com/350/250/city/9" title="image">
                  <div class="text-black margin-bottom-10 margin-top-15 fw-bold">{{ workshop.title != '' ? workshop.title : 'No Title' }}</div>
                  <p class="text-grey lh-24 margin-bottom-20">{{ workshop.description != '' ? workshop.description : 'No Description' }}</p>
                </div>
                <div class="sidebar-details">
                  <button class="btn btn-success btn-book" (click)="seeDatesModal.show()">See dates</button>
                </div>
              </tab>
            </tabset>
            <!--<ul class="sidebar-tabs clearfix">
              <li class="active"><a href="javascript:;">Session</a></li>
              <li><a href="javascript:;">Experience</a></li>
              <li><a href="javascript:;">Workshop</a></li>
            </ul>-->
          </div>
        </div>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row full-section">
          <div class="col-sm-12">
            <h3 class="margin-bottom-20">
              Learning Journey
              <div class="pull-right">
                <select class="form-control section-dropdown">
                  <option value="Workshop">Workshop</option>
                  <option value="Experience">Experience</option>
                </select>
                <a href="#" class="fs-13 text-grey">See all</a>
              </div>
            </h3>
          </div>
          <div class="col-sm-3" *ngFor="let joinedCollection of peer.collections">
            <div class="full-section-list">
              <img src="http://lorempixel.com/250/250/business/1/" alt="image" class="section-image img-responsive border-radius-5" />
              <div class="section-head dot-dot">{{ joinedCollection.title }}</div>
              <div class="section-des"><strong>{{ joinedCollection.currency }} {{ joinedCollection.price }}</strong> {{ joinedCollection.description
                }}
                <a href="javascript:;" class="text-black" [hidden]="(joinedCollection.description).length <= 127">...see details</a>
              </div>
              <div class="section-rating">
                <rating [(ngModel)]="joinedCollection.rate" [readonly]="isReadonly" class="margin-right-10" style="margin-left:0;"></rating>
                <span>{{ joinedCollection.reviews.length }} reviews</span>
              </div>
            </div>
          </div>
          <!--<div class="col-sm-3">
            <div class="full-section-list">
              <img src="http://lorempixel.com/250/250/business/2/" alt="image" class="section-image img-responsive border-radius-5" />
              <div class="section-head dot-dot">How to make home made pasta</div>
              <div class="section-des"><strong>$12</strong> Lorem ipsum dolor sit amit. Lorem ipsum dolor sit amit. Lorem... <a href="javascript:;"
                  class="text-black">see details</a></div>
              <div class="section-rating">
                <span>307 reviews</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="full-section-list">
              <img src="http://lorempixel.com/250/250/business/3/" alt="image" class="section-image img-responsive border-radius-5" />
              <div class="section-head dot-dot">How to make home made pasta</div>
              <div class="section-des"><strong>$12</strong> Lorem ipsum dolor sit amit. Lorem ipsum dolor sit amit. Lorem... <a href="javascript:;"
                  class="text-black">see details</a></div>
              <div class="section-rating">
                <span>307 reviews</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="full-section-list">
              <img src="http://lorempixel.com/250/250/business/4/" alt="image" class="section-image img-responsive border-radius-5" />
              <div class="section-head dot-dot">How to make home made pasta</div>
              <div class="section-des"><strong>$12</strong> Lorem ipsum dolor sit amit. Lorem ipsum dolor sit amit. Lorem... <a href="javascript:;"
                  class="text-black">see details</a></div>
              <div class="section-rating">
                <span>307 reviews</span>
              </div>
            </div>
          </div>-->
        </div>
        <!-- learning journey row ends -->

        <!--<div class="row full-section">
          <div class="col-sm-12">
            <h3 class="margin-bottom-20">
              Communities
              <div class="pull-right">
                <a href="#" class="fs-13 text-grey">See all</a>
              </div>
            </h3>
          </div>
          <div class="col-sm-4">
            <div class="full-section-list">
              <img src="http://lorempixel.com/344/250/business/5/" alt="image" class="section-image img-responsive border-radius-5" />
              <div class="section-head dot-dot">How to make home made pasta</div>
              <div class="section-des"><strong>$12</strong> Lorem ipsum dolor sit amit. Lorem ipsum dolor sit amit. Lorem... <a href="javascript:;"
                  class="text-black">see details</a></div>
              <div class="section-rating">
                <span>307 reviews</span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="full-section-list">
              <img src="http://lorempixel.com/344/250/business/6/" alt="image" class="section-image img-responsive border-radius-5" />
              <div class="section-head dot-dot">How to make home made pasta</div>
              <div class="section-des"><strong>$12</strong> Lorem ipsum dolor sit amit. Lorem ipsum dolor sit amit. Lorem... <a href="javascript:;"
                  class="text-black">see details</a></div>
              <div class="section-rating">
                <span>307 reviews</span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="full-section-list">
              <img src="http://lorempixel.com/344/250/business/7/" alt="image" class="section-image img-responsive border-radius-5" />
              <div class="section-head dot-dot">How to make home made pasta</div>
              <div class="section-des"><strong>$12</strong> Lorem ipsum dolor sit amit. Lorem ipsum dolor sit amit. Lorem... <a href="javascript:;"
                  class="text-black">see details</a></div>
              <div class="section-rating">
                <span>307 reviews</span>
              </div>
            </div>
          </div>
        </div>-->
        <!-- communities row ends -->
      </div>
    </div>




    <!--<div id="similarPeers">
      <h2 class="similar-peers-head">Similar Peers</h2>
      <div class="row">
        <div class="col-sm-3">
          <div class="similar-peers-col">
            <img src="https://uinames.com/api/photos/female/9.jpg" class="img-responsive" alt="image" />
            <div class="peers-name">Donna Allen</div>
            <div class="peers-topic">Film Industry</div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="similar-peers-col">
            <img src="https://uinames.com/api/photos/male/40.jpg" class="img-responsive" alt="image" />
            <div class="peers-name">Stephen Bradley</div>
            <div class="peers-topic">Film Industry</div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="similar-peers-col">
            <img src="https://uinames.com/api/photos/male/10.jpg" class="img-responsive" alt="image" />
            <div class="peers-name">Justin Willis</div>
            <div class="peers-topic">Film Industry</div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="similar-peers-col">
            <img src="https://uinames.com/api/photos/female/16.jpg" class="img-responsive" alt="image" />
            <div class="peers-name">Olivia Bradley</div>
            <div class="peers-topic">Film Industry</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

    <!-- book session modal start -->
    <div class="modal fade" bsModal #bookSessionModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
      aria-labelledby="bookSessionModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <!--<perfect-scrollbar [config]="PsConfig" [scrollIndicators]="true">-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="bookSessionModal.hide()">&times;</button>
            <h4 class="modal-title">Book a session</h4>
          </div>
          <div class="modal-body">
            <span class="fs-20">Package</span>
            <form name="bookSessionForm" novalidate>
              <div class="row seperate-section">
                <div class="col-sm-6">
                  <label class="display-block">
                            <input type="radio" name="package" value="first"> 2 Session (1 hour each)
                        </label>
                  <label class="display-block">
                            <input type="radio" name="package" value="second"> 3 Session (1 hour each)
                        </label>
                  <label class="display-block">
                            <input type="radio" name="package" value="trial"> Trial (15 min.)
                        </label>
                </div>
                <div class="col-sm-6">
                  <label class="fw-bold display-block">$30</label>
                  <label class="fw-bold display-block">$50</label>
                  <label class="display-block">Free</label>
                </div>
              </div>
              <div class="seperate-section hide">
                <div class="fs-20 margin-bottom-20">Select time</div>
              </div>
              <div class="seperate-section">
                <div class="fs-20 margin-bottom-20">What topic you want to learn?</div>
                <select class="form-control" name="topic">
                        <option value="Science">Science</option>
                        <option value="Academic">Academic</option>
                        <option value="Design">Design</option>
                        <option value="Gaming">Gaming</option>
                        <option value="Marketing">Marketing</option>
                    </select>
              </div>
              <div class="margin-top-30">
                <div class="fs-20 margin-bottom-20">Notes for teacher</div>
                <textarea class="form-control" rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis, leo non posuere ultricies, purus metus ullamcorper orci, sed semper ex risus quis nisl.</textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success btn-continue" (click)="bookSessionModal.hide(); bookSessionJoinModal.show()">Continue</button>
          </div>
        </div>
        <!--</perfect-scrollbar>-->
      </div>
    </div>
    <!-- book session modal end -->

    <!-- book session join modal start -->
    <div class="modal fade" bsModal #bookSessionJoinModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
      aria-labelledby="bookSessionJoinModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <!--<perfect-scrollbar [config]="config">-->
          <div class="modal-body">
            <!--<div class="slider-section">
              <div class="session-slider-wrapper">
                <div class="session-slider">
                  <div class="slides">
                    <div class="slides-content">
                      <img src="http://lorempixel.com/200/200/business/1/" alt="slide1">
                    </div>
                  </div>
                  <div class="slides slidePrev">
                    <div class="slides-content">
                      <img src="http://lorempixel.com/200/200/business/2/" alt="slide1">
                    </div>
                  </div>
                  <div class="slides active">
                    <div class="slides-content">
                      <img src="http://lorempixel.com/240/240/business/3/" alt="slide2">
                    </div>
                  </div>
                  <div class="slides">
                    <div class="slides-content">
                      <img src="http://lorempixel.com/200/200/business/4/" alt="slide3">
                    </div>
                  </div>
                  <div class="slides">
                    <div class="slides-content">
                      <img src="http://lorempixel.com/200/200/business/5/" alt="slide3">
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
            <div class="position-relative">
              <button type="button" class="close" aria-label="Close" (click)="bookSessionJoinModal.hide()">&times;</button>
              <div class="session-join-thumb"></div>
              <div class="session-join-content">
                <h3>Sessions</h3>
                <div class="seperate-section">
                  <button class="btn btn-default session-join-btn">Join</button>
                  <span class="display-inline-block margin-bottom-5">Session 1</span>
                  <div class="fs-18 margin-bottom-20">Sat, 19 Aug-Sun - 20th-Aug</div>
                  <div class="session-list-box" *ngIf="showHideSession">
                    <div class="session-list">
                      <span class="display-inline-block margin-bottom-10">How to cook <span class="bullet">Online session</span></span><br>
                      <span class="display-inline-block margin-bottom-10">Tue, 27th jun</span><br>
                      <span class="display-inline-block">10.00 - 16.00</span>
                    </div>
                    <div class="session-list">
                      <span class="display-inline-block margin-bottom-10">How to cook <span class="bullet">Online session</span></span><br>
                      <span class="display-inline-block margin-bottom-10">Tue, 27th jun</span><br>
                      <span class="display-inline-block">10.00 - 16.00</span>
                    </div>
                  </div>
                  <a href="javascript:void(0);" class="fs-13 text-grey" (click)="toggleSession(1);">{{showHideSession ? "Hide schedule" : "Show schedule"}}
                            <i class="fa fa-angle-up" *ngIf="showHideSession"></i>
                            <i class="fa fa-angle-down" *ngIf="!showHideSession"></i>
                        </a>
                </div>
                <div class="seperate-section">
                  <button class="btn btn-default session-join-btn">Join</button>
                  <span class="display-inline-block margin-bottom-5">Session 2</span>
                  <div class="fs-18 margin-bottom-20">Sat, 19 Aug-Sun - 20th-Aug</div>
                  <div class="session-list-box" *ngIf="showHideSession2">
                    <div class="session-list">
                      <span class="display-inline-block margin-bottom-10">How to cook <span class="bullet">Online session</span></span><br>
                      <span class="display-inline-block margin-bottom-10">Tue, 27th jun</span><br>
                      <span class="display-inline-block">10.00 - 16.00</span>
                    </div>
                  </div>
                  <a href="javascript:void(0);" class="fs-13 text-grey" (click)="toggleSession(2);">{{showHideSession2 ? "Hide schedule" : "Show schedule"}}
                            <i class="fa fa-angle-up" *ngIf="showHideSession2"></i>
                            <i class="fa fa-angle-down" *ngIf="!showHideSession2"></i>
                        </a>
                </div>
              </div>
            </div>
          </div>
          <!--</perfect-scrollbar>-->
        </div>
      </div>
    </div>
    <!-- book session join modal end -->

    <!-- see dates modal start -->
    <div class="modal fade" bsModal #seeDatesModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="seeDatesModalModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="position-relative">
              <button type="button" class="close" aria-label="Close" (click)="seeDatesModal.hide()">&times;</button>
              <div class="session-join-content">
                <h3 class="session-head">When can you attend?</h3>
                <div class="seperate-section" *ngFor="let workshop of workshops">
                  <div *ngFor="let calendar of workshop.calendars">
                    <button class="btn btn-success session-join-btn">Choose Dates</button>
                    <div class="fs-18 margin-bottom-20">{{ calendar.startDate }} - {{ calendar.endDate }}</div>
                    <!--<div class="fs-18 margin-bottom-20">Sat, 19 Aug-Sun - 20th-Aug</div>-->
                    <a class="display-inline-block margin-bottom-10" href="javascript:void(0);" class="fs-13 text-grey" (click)="toggleSession(1);">View schedule</a>
                    <div class="session-list-box">
                      <div class="session-list" *ngFor="let content of workshop.contents">
                        <span class="display-inline-block margin-bottom-10">Tue, 27th jun</span><br>
                        <span class="display-inline-block">{{ content.schedules[0].startTime }} - {{ content.schedules[0].endTime }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<div class="seperate-section">
                  <button class="btn btn-success session-join-btn">Choose Dates</button>
                  <span class="display-inline-block margin-bottom-5">Session 2</span>
                  <div class="fs-18 margin-bottom-20">Sat, 19 Aug-Sun - 20th-Aug</div>
                  <div class="session-list-box" *ngIf="showHideSession2">
                    <div class="session-list">
                      <span class="display-inline-block margin-bottom-10">How to cook <span class="bullet">Online session</span></span><br>
                      <span class="display-inline-block margin-bottom-10">Tue, 27th jun</span><br>
                      <span class="display-inline-block">10.00 - 16.00</span>
                    </div>
                  </div>
                  <a href="javascript:void(0);" class="fs-13 text-grey" (click)="toggleSession(2);">{{showHideSession2 ? "Hide schedule" : "Show schedule"}}
                      <i class="fa fa-angle-up" *ngIf="showHideSession2"></i>
                      <i class="fa fa-angle-down" *ngIf="!showHideSession2"></i>
                  </a>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- see dates modal end -->

    <!-- edit session modal start -->
    <div class="modal fade" bsModal #editSessionModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
      aria-labelledby="editSessionModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" aria-label="Close" (click)="editSessionModal.hide()">&times;</button>
            <div class="edit-session-content">
              <h3>Sessions</h3>
              <div class="seperate-section">
                <div class="session-join-btn">
                  <button class="btn btn-primary">Edit</button>
                  <button class="btn btn-link">Remove</button>
                </div>
                <span class="display-inline-block margin-bottom-5">Session 1</span>
                <div class="fs-18 margin-bottom-20">Sat, 19 Aug-Sun - 20th-Aug</div>
                <div class="session-list-box" *ngIf="showHideSession">
                  <div class="session-list">
                    <span class="display-inline-block margin-bottom-10">How to cook <span class="bullet">Online session</span></span><br>
                    <span class="display-inline-block margin-bottom-10">Tue, 27th jun</span><br>
                    <span class="display-inline-block">10.00 - 16.00</span>
                  </div>
                  <div class="session-list">
                    <span class="display-inline-block margin-bottom-10">How to cook <span class="bullet">Online session</span></span><br>
                    <span class="display-inline-block margin-bottom-10">Tue, 27th jun</span><br>
                    <span class="display-inline-block">10.00 - 16.00</span>
                  </div>
                </div>
                <a href="javascript:void(0);" class="fs-13 text-grey" (click)="toggleSession(1);">{{showHideSession ? "Hide schedule" : "Show schedule"}}
                            <i class="fa fa-angle-up" *ngIf="showHideSession"></i>
                            <i class="fa fa-angle-down" *ngIf="!showHideSession"></i>
                        </a>
              </div>
              <div class="seperate-section">
                <div class="session-join-btn">
                  <button class="btn btn-primary">Edit</button>
                  <button class="btn btn-link">Remove</button>
                </div>
                <span class="display-inline-block margin-bottom-5">Session 2</span>
                <div class="fs-18 margin-bottom-20">Sat, 19 Aug-Sun - 20th-Aug</div>
                <div class="session-list-box" *ngIf="showHideSession2">
                  <div class="session-list">
                    <span class="display-inline-block margin-bottom-10">How to cook <span class="bullet">Online session</span></span><br>
                    <span class="display-inline-block margin-bottom-10">Tue, 27th jun</span><br>
                    <span class="display-inline-block">10.00 - 16.00</span>
                  </div>
                </div>
                <a href="javascript:void(0);" class="fs-13 text-grey" (click)="toggleSession(2);">{{showHideSession2 ? "Hide schedule" : "Show schedule"}}
                            <i class="fa fa-angle-up" *ngIf="showHideSession2"></i>
                            <i class="fa fa-angle-down" *ngIf="!showHideSession2"></i>
                        </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- edit session modal end -->