<div class="login-section col-md-10" id="content">
  <div class="row">
    <div class="pull-right">
      <button class="btn btn-default" (click)="createWorkshop()">New Workshop</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 position-relative">
      <div style="display:inline;">
        <h2>Ongoing & Upcoming</h2>
      </div>
      <div class="row">
        <div *ngIf="!loaded" class="center">
          <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
        </div>
        <div *ngIf="loaded">
          <div style="margin-top:50px;" class="col-md-12">
            <div style="float: left !important;
              margin-right: 24px !important;
              border: 1px solid #dbdbdb !important;margin-bottom:24px;" *ngFor="let workshop of workshops">
              <div style="background: #ffffff !important;
            width: 300px !important;
            padding: 48px !important;
            min-height: 250px !important;">
                <span class="">{{ workshop.title || 'No Title' }} </span>
                <div style="margin-top:20px">
                  <button class="btn btn-default" type="button" (click)="onSelect(workshop)">Edit Workshop</button>
                </div>
                <p style="margin-top:20px">
                  <a (click)="showFinishingTouch(workshop)">Click here to set additional information</a>
                </p>
                <a (click)="viewWorkshop(workshop)">Click here to view workshop</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="display:inline;">
        <h2>Drafts</h2>
      </div>
      <div class="row">

      </div>
      <div style="display:inline;">
        <h2>Past</h2>
      </div>
    </div>
  </div>

</div>