<form [formGroup]="itenaryForm" class="form-inline">
    <label>Date:</label>
    <input type="date" class="form-control" formControlName="date">
</form>
<form [formGroup]="contentObject">
    <div class="row">
        <div class="col-sm-12 margin-bottom-30">
            <div class="form-inline" formGroupName="schedule">
                <label>Start Time:</label>
                <input type="time" class="form-control" formControlName="startTime">
                <label>End Time:</label>
                <input type="time" class="form-control" formControlName="endTime">
            </div>
            <div class="form-group">
                <label>Title:</label>
                <input type="text" class="form-control" formControlName="title">
            </div>
            <div class="form-group">
                <label>Upload a photo for this day:</label>
                <div class="upload-image-section imageHolder">
                    <image-upload [max]="1" [buttonCaption]="'Upload Image'" [dropBoxMessage]="''" (onFileUploadFinish)="imageUploaded($event)"></image-upload>
                </div>
            </div>
            <div class="form-group">
                <label class="display-block">What We'll do</label>
                <textarea class="form-control" maxlength="500" formControlName="description"></textarea>
                <span class="text-right text-grey display-block margin-top-5">max. 500 chars</span>
            </div>
            <div class="form-group">
                <label class="display-block">Need to know (optional)</label>
                <textarea class="form-control" maxlength="500" formControlName="prerequisites"></textarea>
                <span class="text-right text-grey display-block margin-top-5">max. 500 chars</span>
            </div>
            <div class="form-group">
                Location:
                <button type="button" class="btn" (click)="locationModal.show()"> Add Location</button>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success" (click)="save()">Save</button>
</form>
<div bsModal #locationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Location Content</h4>
            </div>
            <div *ngIf="itenaryForm.controls.contents">
                <div class="modal-body">
                    <app-location [location]="itenaryForm.controls.contents.controls[0].controls.location"></app-location>
                </div>
            </div>
        </div>
    </div>
</div>