.participantCount {
  margin-top: 15px;
}

.collectionParticipantImageCarousel {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.collectionSubtitle {
  font-size: 70%;
  color: #777777;
  margin-top: 10px;
  margin-bottom: 20px;
}

.collectionTitle {
  margin-top: 30px;
  margin-bottom: 0px
}

.upcomingEventLabel {
  color: #cccccc;
}

.lighterText {
  font-size: 70%;
  color: #cccccc;
}

.lightText {
  font-size: 90%;
  color: #777777;
}

.upcomingEventTitle {
  font-size: 90%;
  color: #333333;
  margin-top: 10px;
}

.upcomingEventTime {
  font-size: 70%;
  color: #777777;
  margin-top: 0px;
  margin-bottom: 20px;
}

.cardFooter {
  margin-top: 25px;
  margin-bottom: 25px;
  border-top: 0.7px solid #eee;
  padding: 10px;
}
