<div class="container feed workshopsFeed">
  <div class="row workshop-feed">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5">
          <h2 *ngIf="!selectedTopics">Workshops</h2>
          <h2 *ngIf="selectedTopics && selectedTopics.length>0 "> <span>{{selectedTopics[0].name}}</span> Workshops <span *ngIf="selectedTopics.length>1"> +{{selectedTopics.length-1}} more</span></h2>
        </div>
        <div class="col-md-3 pull-right">
          <div class="col-md-6">
            <button md-button #menuButton (click)="openTopicsDialog()">Topics <md-icon>arrow_drop_down</md-icon> </button>
          </div>
          <div class="col-md-6">
            <button md-button [mdMenuTriggerFor]="menu2">Price Range <md-icon>arrow_drop_down</md-icon></button>
            <md-menu #menu2="mdMenu">
              <md-slider></md-slider>
            </md-menu>
          </div>
        </div>
      </div>
      <div class="row feed-horizontal">
        <div class="col-md-2 recommendation-card" *ngFor="let workshop of workshops">
          <a [routerLink]="'/workshop/'+workshop.id">
            <div class="col-md-12">
              <img class="mat-elevation-z3 recommendation-thumb" *ngIf="workshop.imageUrls && workshop.imageUrls.length>0" src="{{config.apiUrl+workshop.imageUrls[0]}}"
                alt="workshpImg">
              <img class="mat-elevation-z3 recommendation-thumb" *ngIf="!workshop.imageUrls || workshop.imageUrls.length<=0" src="/assets/images/no-image.jpg"
                alt="workshpImg">
            </div>
            <div class="col-md-12">
              <h4>{{workshop.currency}} {{workshop.price}}</h4>
            </div>
            <div class="col-md-12">
              <h4>{{workshop.title}}</h4>
            </div>
            <div class="col-md-12">
              <p>{{workshop.headline | shorten: 10 : '...'}}</p>
            </div>
            <div class="col-md-7">
              <p-rating [ngModel]="workshop.rating" readonly="true" stars="5" [cancel]="false">
              </p-rating>
            </div>
            <div class="col-md-5">
              <label *ngIf="workshop.reviews">{{workshop.reviews.length}} Reviews</label>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>