<div md-dialog-content class="dialog-container">
  <div class="row">
    <div class="col-md-12">
      <button disableRipple md-button style="min-width: 20px;padding: 0px 10px 0px 0px;vertical-align: middle;" (click)="dialogRef.close()">
        <md-icon class="mat-icon material-icons mat-icon-small">close</md-icon>
      </button>
      <div class="mat-display-1" style="margin-bottom: 20px;">
        Invite friends to this workshop
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 margin-top-20">
      Share this link with your friends to invite them to join this workshop
    </div>
    <div class="col-md-12 ">
      <md-input-container [floatPlaceholder]="'never'" class="pb-block" style="margin: 20px 0px; font-size: 20px;">
        <input #urlInput mdInput [readOnly]="true" value="http://localhost:8080/{{url}}" />
      </md-input-container>
    </div>
    <div class="col-md-12 margin-top-20">
      <button md-raised-button color="primary" [ngxClipboard]="urlInput" (cbOnSuccess)="onCopySuccess()">Copy</button> &emsp;
      <button md-button color="primary" (click)="onEmailClicked()">Email</button>
    </div>
  </div>
</div>
