
<footer *ngIf="!(isLoggedIn | async)"> <!--style="border-top: 1px solid #cccccc;"-->
  <div class="layout-row footer" layout="row" color="white">
    <div layout="row" class="col-sm-8">
          <a class="footer-btn footerButtons col-sm-2" md-button routerLink="/philosophy"> About Us </a>
          <a class="footer-btn footerButtons col-sm-2" md-button routerLink="/contact-us">
            Contact Us
          </a>
          <span class="center">
            <a routerLink="/" class="brand col-sm-2" aria-label="Peerbuds Homepage">
                  <img src="/assets/images/pb_logo.png" alt="logo">
            </a>
          </span>
          <a class="footer-btn footerButtons col-sm-2" md-button routerLink="/white-paper">
           White Paper
          </a>
          <a class="footer-btn footerButtons col-sm-2" md-button routerLink="/privacy-policy">
           Privacy Policy
          </a>
            <a class="footer-btn footerButtons col-sm-2" md-button routerLink="/terms-of-service">
                Terms Of Service
            </a>
    </div>
  </div>
</footer>

<footer *ngIf="(isLoggedIn | async)" style="border-top: 1px solid #eeeeee;">
  <div class="text-center" style="padding: 4px 0;">
    <a [routerLink]="['/philosophy']">About Us</a>
    <a href="#">Help</a>
    <a href="/privacy-policy">Privacy</a>
    <a href="/terms-of-service">Terms</a>
    <a href="http://www.peerbudsilab.com">Community</a>
    <a href="#">Invite Friends</a>
  </div>
</footer>

