
<footer *ngIf="!(isLoggedIn | async) || showFooter">
  <div class="layout-row footer" layout="row" color="white">
    <div layout="row" class="col-sm-8">
          <a class="footer-btn footerButtons col-sm-2" md-button routerLink="."> About Us </a>
          <a class="footer-btn footerButtons col-sm-2" md-button routerLink="/contact">
            Contact Us
          </a>
          <span class="center">
            <a routerLink="/" class="brand col-sm-2" aria-label="Peerbuds Homepage">
                  <img src="/assets/images/pb_logo.png" alt="logo">
            </a>
          </span>
          <a class="footer-btn footerButtons col-sm-2" md-button routerLink=".">
           White Paper
          </a>
          <a class="footer-btn footerButtons col-sm-2" md-button routerLink=".">
           Privacy Policy
          </a>
    </div>
  </div>
</footer>

<footer *ngIf="(isLoggedIn | async) && showFooter" style="border-top: 1px solid #cccccc;">
  <div class="text-center" style="padding: 9px 0;">
    <a href="#">About Us</a>
    <a href="#">Help</a>
    <a href="#">Privacy & Terms</a>
    <a href="#">Community</a>
    <a href="#">Invite Friends</a>
  </div>
</footer>

