md-dialog-container {
    padding:10px !important;
}
md-input-container md-icon {
    position: absolute;
    top: 5px;
    left: 2px;
    }

md-dialog-content {
    display: block;   
    margin: 0 -67px 0 -67px;
    max-height: 50vh;
    overflow: unset;
}

.page-signin
{
    width: 434px;
    height: 448px;
  
}
.spacer{
    width: 350px;
    margin: 47px;
}
.logincontent{
    width: 440px;
    overflow: disable;
}

.maincontent{
    min-height: 50vh;
}

 .or-seperator-vertical {
            border-bottom: 1px solid rgba(199, 199, 199, 0.5);
            content: "";
            display: inline-block;
            left: 0;
            position: relative;
            top: 17px;
            width: 100%;
        }

.round-or-text {
            border-radius: 24px;
            color: rgba(74, 74, 74, 0.5);
            display: inline-block;
            height: 30px;
            line-height: 30px;
            width: 50px;
            font-size: 20px;
            position:relative;
        }

.or-text-vertical {
            background-color: #fff;
            color: rgba(74, 74, 74, 0.5);
            position: relative;
            font-size: 13px;
        }

.loginbtn{
    background-color: #ff5b5f;
    font-size:17px;
}

.txtcolor{
    color: #fff;
}

.fa-facebook{
    background-color: #335397;
    color: #fff!important;
}

.fa-google{
    background-color: #dd4a38;
    color: #fff!important;
}

.circle-icon1 {
    padding:4px 6px 4px 6px;
    border-radius: 100%;
    margin: 0 21px 0 1px;
}
.circle-icon2{
    padding:4px 5.5px 4px 5.75px;
    border-radius: 100%;
    margin: 0 21px 0 1px;
}

.dialog-content{
    width: 45vw;
    height: 90vh;
}

.btn-block{
   font-size:15px;
   color:#484848;
}