<div class="mat-dialog-focus-trap"></div>
<form [formGroup]="loginForm" class="loginContent"> 
    <md-dialog-content>
        <div class="flex-body">
            <div class="flex-column spacer">
                <div class="margin-bottom-20">
                        <a md-raised-button class="btn-width-large btn-block mat-facebook" href="http://localhost:3000/auth/facebook?returnTo=/">
                            <i class="fa fa-facebook"></i> Login with Facebook</a>
                    </div>

                    <div class="margin-bottom-20">
                        <a md-raised-button class="btn-width-large btn-block md-button md-raised mat-google-plus" href="http://localhost:3000/auth/google?returnTo=/">
                            <i class="fa fa-google"></i> Login with Gmail</a>
                    </div>

                    <div class="margin-bottom-20">
                        <md-input-container class="pb-block">
                            <input mdInput placeholder="Email" formControlName="email">
                        </md-input-container>
                    </div>
                    <div class="margin-bottom-20">
                        <md-input-container class="pb-block">
                            <input mdInput placeholder="Password" formControlName="password" type="password">
                        </md-input-container>
                    </div>
                    <div class="text-center margin-bottom-20">
                        <button md-raised-button class="btn-width-medium vertical-bottom" color="primary" type="submit" (click)="login()"><span>Log In</span></button> &emsp;
                        <a md-raised-button class="btn-width-medium vertical-middle" href="/signup.html"><span>Sign up</span></a>
                        <br><br>
                        <a href="#" class="link display-block margin-top-10" style="font-size: 10px;">Forgot password?</a>
                    </div>
            </div>
        </div>
    </md-dialog-content>
</form>
<div class="mat-dialog-focus-trap"></div>