<div md-dialog-content class="dialog-container">
  <div *ngIf="action==='deleteExperience'">
    <div class="mat-display-1">Are you sure you want to delete the experience?</div>
    <br><br>
    <div md-dialog-actions>
      <button md-button md-dialog-close="{{action}}">Delete Experience</button>
      <button md-button md-dialog-close>Dismiss</button>
    </div>
  </div>
  <div *ngIf="action==='cancelExperience'">
    <div class="mat-display-1">Are you sure you want to cancel the experience?</div>
    <br><br>
    <div>All participants will be informed and those eligible for refunds will be credited within 7 working days.</div>
    <br><br>
    <div md-dialog-actions>
      <button md-button md-dialog-close="{{action}}">Cancel Experience</button>
      <button md-button md-dialog-close>Dismiss</button>
    </div>
  </div>
  <div *ngIf="action==='deleteCohort'">
    <div class="mat-display-1">Are you sure you want to delete this cohort?</div>
    <br><br>
    <div>This action is irreversible. All your data will be permanently lost.</div>
    <br><br>
    <div md-dialog-actions>
      <button md-button md-dialog-close="{{action}}">Delete Cohort</button>
      <button md-button md-dialog-close>Dismiss</button>
    </div>
  </div>
  <div *ngIf="action==='cancelCohort'">
    <div class="mat-display-1">Are you sure you want to cancel the cohort?</div>
    <br><br>
    <div>All participants will be informed and those eligible for refunds will be credited within 7 working days.</div>
    <br><br>
    <div md-dialog-actions>
      <button md-button md-dialog-close="{{action}}">Cancel Cohort</button>
      <button md-button md-dialog-close>Dismiss</button>
    </div>
  </div>
  <div *ngIf="action==='dropOut'">
    <div class="mat-display-1">Are you sure you want to drop out of this experience?</div>
    <br><br>
    <div>If you are eligible for refunds, your account will be credited within 7 working days.</div>
    <br><br>
    <div md-dialog-actions>
      <button md-button md-dialog-close="{{action}}">Drop Out</button>
      <button md-button md-dialog-close>Dismiss</button>
    </div>
  </div>
</div>