<h1 mat-dialog-title>Active Workshop Warning</h1>
<button mat-button class="pull-right" style="cursor: pointer; position: relative; top: -50px; right: -20px;" [mat-dialog-close]="'close'">
  <mat-icon style="color: #777777; font-size: 20px;">close</mat-icon>
</button>
<mat-dialog-content>
  <div style="margin-top: 50px; margin-bottom: 40px;">
    You are editing an active workshop!
    <br><br>
    We will create a new copy of your current workshop with all your changes which will be in draft status.
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="'accept'" color="accent">Accept</button> &emsp;
  <button mat-raised-button [mat-dialog-close]="'reject'">No, Thanks</button>
</mat-dialog-actions>