<div md-dialog-content class="dialog-container">
  <div class="mat-display-1">Active Workshop Warning</div>
  <div>
    <div style="margin-top: 50px; margin-bottom: 40px;">
      You are editing an active workshop!
      <br><br>
      We will create a new copy of your current workshop with all your changes which will be in draft status.
    </div>
  </div>
  <md-dialog-actions>
    <button md-raised-button [md-dialog-close]="'accept'" color="accent">Accept</button> &emsp;
    <button md-raised-button [md-dialog-close]="'reject'">No, Thanks</button>
  </md-dialog-actions>
</div>